<div>
    <ul>
        <li *ngFor="let item of items; let i = index">
            <mat-icon *ngIf="i > 0">keyboard_arrow_right</mat-icon>
            <span *ngIf="item.link; else elseBlock" class="item">
                <a [routerLink]="item.link" routerLinkActive="active-link">{{item.value | translate }}</a>
            </span>
            <ng-template #elseBlock>
                <span class="item" matTooltip="{{item.value | translate }}" [matTooltipShowDelay]="500">{{ item.value | translate }}</span>
            </ng-template>
        </li>
    </ul>
</div>
