@import "src/assets/theme/size_vars.scss";

ul li{
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    mat-icon{
        vertical-align: middle;
        line-height: 22px;
    }

    span  a{
        color: #0266b3;
        &:hover {
            font-weight: bold;
          }
    }
}

.limit-size {
    max-width: 22% !important;
}

ul {
    margin: 0px 0px 5px 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
}
