@import "src/assets/theme/size_vars.scss";

:host {
  overflow: auto;
  padding-right: 2px;
}

.sidenav-group {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  padding: 0px 16px 0px 24px;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
  margin-bottom: 12px;
  min-width: 250px;
    
  .sidenav-title{
    font-size: $big_text;
    font-weight: bold;
    color: #1c1c1c;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .collapse-icon {
      transition-duration: 0.3s;

      &.collapsed {
        transform: rotate(180deg);
      }
    }

    &.collapsible {
      cursor: pointer;
    }
  }

  .sidenav-item {
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
    font-size: $normal_text;
    text-decoration: none;
    color: var(--main);

    .sidenav-icon {
      margin-right: 18px;
      height: 20px;
      width: 20px;
    }

    &:hover {
      color: #0266b3;
    }

    &.active-link {
      color: #0266b3;
    }

    &:last-child {
      margin-bottom: 16px;
    }
  }
}
