<div class="sidenav-group" *ngFor="let group of sidenav.groups">
    <div class="sidenav-title" (click)="openGroup(group.title)"
      [ngClass]="{'collapsible': group.title === 'Structure' || enableAllSidenavLink, 'disabledLink' : !enableAllSidenavLink}">
        <span>{{ group.title | translate }}</span>
        <mat-icon *ngIf="group.name === 'Structure' || enableAllSidenavLink" class="collapse-icon" [ngClass]="{'collapsed': activeGroup === group.title}">expand_more</mat-icon>
    </div>
    <div class="sidenav-items" *ngIf="activeGroup === group.title">
        <a class="sidenav-item" *ngFor="let item of group.items" [ngClass]="{'disabledLink' : item.name !== 'Home' && item.name !== 'Basics' && !enableAllSidenavLink}" [routerLink]="item.routerLink" routerLinkActive="active-link">
            <mat-icon [svgIcon]="item.icon" class="sidenav-icon"></mat-icon>
            <div class="sidenav-name"> {{ item.name | translate }} </div>
        </a>
    </div>
</div>