<mat-card>
    <mat-card-header class="indicator-header">
        <mat-card-title>{{indicator.name.fr}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="indicator.themes.length > 1" class="indicator-info">
            <div class="indicator-info-title">Thématiques</div>
            <div class="indicator-info-value">
                <div *ngFor="let theme of themesNames">{{theme}}</div>
            </div>
        </div>
        <div class="indicator-info">
            <div class="indicator-info-title">Description</div>
            <div class="indicator-info-value">{{indicator.description ? indicator.description.fr : "La description de cet indicateur n'a pas été
                renseignée"}}</div>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-stroked-button  class="mdm-button">Modifier</button>
        <button mat-stroked-button mat-icon-button [matMenuTriggerFor]="menu"  class="mdm-button"><mat-icon>expand_more</mat-icon></button>
    </mat-card-actions>
</mat-card>

<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
    </button>
</mat-menu>