<mat-card>
    <mat-card-header class="indicator-header">
        <mat-card-title>{{indicator.name.fr}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="indicator.themes.length > 1" class="indicator-info">
            <div class="indicator-info-title">{{ 'Thematics' | translate }}</div>
            <div class="indicator-info-value">
                <div *ngFor="let theme of themesNames">{{theme}}</div>
            </div>
        </div>
        <div class="indicator-info">
            <div class="indicator-info-title">{{ 'Description' | translate }}</div>
            <div class="indicator-info-value">{{indicator.description ? indicator.description.fr : ( 'IndicatorMissingDescription' | translate )}}</div>
        </div>
    </mat-card-content>
    <mat-card-actions align="end" class="mdm-button-group">
        <button mat-stroked-button  class="mdm-button">{{ 'Edit' | translate }}</button>
        <button mat-stroked-button mat-icon-button [matMenuTriggerFor]="menu"  class="mdm-button"><mat-icon>expand_more</mat-icon></button>
    </mat-card-actions>
</mat-card>

<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>{{ 'Delete' | translate }}</span>
    </button>
</mat-menu>