<button class="dialog-close" mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>{{ 'UserEdition' | translate }}</h2>
<mat-dialog-content [formGroup]="userForm" class="mdm-dialog">
    <mat-form-field appearance="outline">
        <mat-label>{{ 'Type' | translate }}</mat-label>
        <mat-select formControlName="type">
            <mat-option *ngFor="let type of types" [value]="type">{{ type | translate }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>{{ 'User' | translate }}</mat-label>
        <mat-select formControlName="user">
            <mat-option *ngFor="let user of users" [value]="user._id">{{ user.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>{{ 'Role' | translate }}</mat-label>
        <mat-select formControlName="role">
            <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button class="mdm-button">{{ 'UpdateUser' | translate }}</button>
    <button mat-stroked-button class="mdm-button"><mat-icon>undo</mat-icon>{{ 'ResetChanges' | translate }}</button>
</mat-dialog-actions>