<mat-card>
    <mat-card-header class="user-header">
        <mat-card-title>{{user.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="user-info">
            <div class="user-info-title">Login</div>
            <div class="user-info-value">{{login}}</div>
        </div>
        <div class="user-info">
            <div class="user-info-title">Role</div>
            <div class="user-info-value">
                <mat-chip-list>
                    <mat-chip>{{role}}</mat-chip>
                </mat-chip-list>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-stroked-button  class="mdm-button">Modifier</button>
    </mat-card-actions>
</mat-card>