@import "src/assets/theme/size_vars.scss";

.form-field-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  .form-field-label {
    white-space: nowrap;
  }
  .form-field-label + mat-form-field {
    margin-left: 10px;
  }
  mat-form-field {
    width: 100%;
  }
}

.mat-grid-tile {
  border: solid 1px #e7e7e7;
  background: white;
  font-size: $small_text;
  @media screen and (max-width: $breakpoint-xs) {
    button {
      font-size: 0;
    }
  }
}


.mdm-form-field {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.mat-select {
  padding-left: 20px;
}

button {
  width: 98%;
  height: 90%;
  @media screen and (max-width: $breakpoint-xs) {
    font-size: $extra_small_text;
  }
  font-size: $normal_text;
}