<div class="blocked-header" *ngIf="isBlocked">
    <mat-icon>info</mat-icon>
    <span>{{ (isOwner ? 'LockedInput.infoAdmin' : 'LockedInput.infoUser') | translate }}</span>
</div>
<div class="mdm-title">{{ 'GeneralInformations' | translate }}</div>
<div class="mdm-section">
    <div class="info">
        <b class="info-title">{{ 'Name' | translate }}</b>
        <div class="info-value">{{ this.form ? this.form.name : '' }}</div>
    </div>
    <div class="info">
        <b class="info-title">{{ 'CollectionSites' | translate }}</b>
        <div class="info-value">{{ this.site ? this.site.name : '' }}</div>
    </div>
    <div class="info">
        <b class="info-title">{{ 'CoveredPeriod' | translate }}</b>
        <div class="info-value">{{ this.timeSlot ? this.timeSlot.humanizeValue(this.currentLang) : '' }} ({{ this.firstDate }} - {{ this.lastDate }})</div>
    </div>
</div>
<div class="title">
    <ng-container *ngIf="!isBlocked || isOwner">
        <button mat-stroked-button class="mdm-button small-button fill-button" (click)="fillWithPreviousData()" [disabled]="this.previousInput ? false : true">
            <mat-icon>edit</mat-icon>
            {{ 'FillWithPreviousData' | translate }}
        </button>
        <button mat-stroked-button class="mdm-button small-button fill-button" (click)="fillWithZero()">
            <mat-icon>edit</mat-icon>
            {{ 'FillWithZero' | translate }}
        </button>
    </ng-container>
    <div class="mdm-title">
        {{ 'Data' | translate }}
    </div>
</div>
<div *ngIf="inputForm && tables" [formGroup]="inputForm.get('values')">
    <div
        class="mdm-section"
        *ngFor="let table of tables; let k = index"
        [style.pointer-events]="isBlocked && !isOwner ? 'none' : 'auto'">
        <p class="table-title">{{ form.elements[k].name }}</p>
        <hot-table
          [settings]="tableSettings[table.id]"
          [data]="table.value"
          licenseKey="non-commercial-and-evaluation"
        ></hot-table>
    </div>
</div>

<div class="save-actions" *ngIf="!isBlocked || isOwner">
    <button mat-stroked-button class="mdm-button primary" [disabled]="!canBeSaved || !validInputCell" (click)="saveInput()">
        <mat-icon>save</mat-icon>
        {{ 'Save' | translate }}
    </button>

    <button mat-stroked-button class="mdm-button" [disabled]="!inputHasModification" (click)="resetInput()">
        <mat-icon>replay</mat-icon>
        {{ 'ResetChanges' | translate }}
    </button>

    <button mat-stroked-button class="mdm-button warn" *ngIf="input" (click)="openDeleteModal()">
        <mat-icon>clear</mat-icon>
        {{ 'Delete' | translate }}
    </button>

    <button
        mat-stroked-button
        *ngIf="isOwner"
        class="mdm-button block-button"
        (click)="toggleBlock()"
        [disabled]="isNew"
    >
        <mat-icon>{{isBlocked ? 'lock_open' : 'lock'}}</mat-icon>
        {{ (isBlocked ? 'LockedInput.unlock' : 'LockedInput.lock') | translate }}
    </button>
</div>

<ng-template #saveDialog>
    <button class="dialog-close" mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
    <h2 mat-dialog-title>{{'FormSaveModal.title' | translate}}</h2>
    <mat-dialog-content class="dialog-body" style="max-width: 800px;">
        <p>{{'FormSaveModal.p1' | translate}}</p>
        <p>{{'FormSaveModal.p2' | translate}}</p>
        <p>{{'FormSaveModal.p3' | translate}}</p>
        <div class="null-warning" *ngIf="inputHasNull">
            <mat-icon>info</mat-icon>
            <div>
                <p>{{'NullValueMessage.p1' | translate}}</p>
                <span>{{'NullValueMessage.p2' | translate}}</span>
            </div>
        </div>
    </mat-dialog-content>
    <!-- <div class="modal-text">
        <p><span class="bold-text">{{ 'NullValueMessage.Warning' | translate }}</span>{{ 'NullValueMessage.NullValueMeaning' | translate }}</p>
        <img [src]="imageLink">
        <p>{{ 'NullValueMessage.Save' | translate }}</p>
    </div> -->
    <mat-dialog-actions align="end">
        <button mat-stroked-button
            class="mdm-button"
            mat-dialog-close
        >
            {{ 'Cancel' | translate }}
        </button>
        <button mat-stroked-button
            (click)="confirm()"
            class="mdm-button save-button"
            mat-dialog-close
        >
            {{ 'TempSave' | translate }}
        </button>
        <button mat-stroked-button
            (click)="confirm(true)"
            class="mdm-button save-button complete-button"
            mat-dialog-close
        >
            {{ 'SaveComplete' | translate }}
        </button>
    </mat-dialog-actions>
</ng-template>

<ng-template #deleteDialog>
    <button class="dialog-close" mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
    <h2 mat-dialog-title>{{'delete-modal.input' | translate}}</h2>
    <mat-dialog-content class="dialog-body" style="max-width: 800px;">
        <p>{{'delete-modal.inputMessage' | translate}}</p>
        <div class="null-warning">
            <mat-icon>info</mat-icon>
            <div>
                <span>{{'delete-modal.inputWarning' | translate}}</span>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-stroked-button
            class="mdm-button"
            mat-dialog-close
        >
            {{ 'Cancel' | translate }}
        </button>
        <button mat-stroked-button
            (click)="deleteInput()"
            class="mdm-button save-button"
            mat-dialog-close
        >
            {{ 'delete-modal.confirm' | translate }}
        </button>
    </mat-dialog-actions>
</ng-template>