@import "src/assets/theme/size_vars.scss";
@import "src/assets/theme/color_vars.scss";

.mdm-section{
    margin-top: 4px;
    padding: 10px;
    background-color: $mdm-section-background;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04) !important;
    border-radius: 4px;
    
    .info{
        display: flex;
        padding-bottom: 10px;
        
        .info-title{
            width: 20%;
            text-align: right;
        }
        .info-value{
            padding-left: 20px;
            width: 80%;
        }
    }

    hot-table {
        font-family: Calibri;
        color: black;
    }
}

.title{
    width: 100%;
    .fill-button{
        float: right;
    }
}


.save-actions {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: $actions-background;
    width: calc(100% - 250px);
    box-sizing: border-box;
    padding: 12px 16px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);

    display: flex;
    gap: 8px;

    @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
        flex-wrap: wrap;
    }

    @media screen and (max-width: 630px) {
        justify-content: center;
    }

    .block-button {
        margin-left: auto;
        margin-right: 25px;
        
        @media screen and (max-width: 630px) {
            margin-left: unset;
            margin-right: unset;
        }
    }
    
    button {
        
        &.warn{
            background-color: $delete_background;
            color: $save_text_color;

        }
        &.primary{
            background-color: $save_background;
            color: $save_text_color;
            &.mat-stroked-button.mat-button-disabled.mat-button-disabled{
                opacity: .65;
            }
        }
    }
    
}

.table-title {
    font-weight: bold;
}

.blocked-header {
    padding: 8px 10px;
    margin: 16px 0;

    color: #5cb85c;
    border: #5cb85c solid 2px;
    border-radius: 8px;
    
    display: flex;
    align-items: center;
    gap: 10px;
}

.null-warning {
    padding: 8px 10px;
    margin: 16px 0;

    color: $info;
    border: $info solid 2px;
    border-radius: 8px;
    
    display: flex;
    align-items: center;
    gap: 10px;
}

.complete-button {
    background-color: #5cb85c;
}

