<div class="mdm-title">{{ 'GeneralInformations' | translate }}</div>
<div class="mdm-section">
    <div class="info">
        <b class="info-title">{{ 'Name' | translate }}</b>
        <div class="info-value">{{ this.form ? this.form.name : '' }}</div>
    </div>
    <div class="info">
        <b class="info-title">{{ 'CollectionSites' | translate }}</b>
        <div class="info-value">{{ this.site ? this.site.name : '' }}</div>
    </div>
    <div class="info">
        <b class="info-title">{{ 'CoveredPeriod' | translate }}</b>
        <div class="info-value">{{ this.timeSlot ? this.timeSlot.humanizeValue(this.currentLang) : '' }} ({{ this.firstDate }} - {{ this.lastDate }})</div>
    </div>
</div>
<div class="title">
    <button mat-stroked-button class="mdm-button small-button fill-button" (click)="fillWithPreviousData()">
        <mat-icon>edit</mat-icon>
        {{ 'FillWithPreviousData' | translate }}
    </button>
    <div class="mdm-title">
        {{ 'Data' | translate }}
    </div> 
</div>
<div *ngIf="inputForm && tables" [formGroup]="inputForm.get('values')">
    <div class="mdm-section" *ngFor="let table of tables; let k = index" >
        <p>{{ form.elements[k].name }}</p>
        <hot-table [settings]="tableSettings[table.id]" [data]="table.value" [ngClass]="table.numberRows >= 25 ? 'fixed-height' : null" ></hot-table>
    </div>
</div>
<div class="save-actions">
    <button mat-stroked-button class="mdm-button primary" [disabled]="!canBeSaved" (click)="saveInput()">
        <mat-icon>save</mat-icon>
        {{ 'Save' | translate }}
    </button>
    
    <button mat-stroked-button class="mdm-button" [disabled]="!inputHasModification" (click)="resetInput()">
        <mat-icon>replay</mat-icon>
        {{ 'ResetChanges' | translate }}
    </button>

    <button mat-stroked-button class="mdm-button warn" *ngIf="input" (click)="deleteInput()">
        <mat-icon>clear</mat-icon>
        {{ 'Delete' | translate }}
    </button>
</div>
