<div class="mdm-title">{{ 'GeneralInformations' | translate }}</div>
<div class="mdm-section">
    <div class="info">
        <b class="info-title">{{ 'Name' | translate }}</b>
        <div class="info-value">{{ this.form ? this.form.name : '' }}</div>
    </div>
    <div class="info">
        <b class="info-title">{{ 'CollectionSites' | translate }}</b>
        <div class="info-value">{{ this.site ? this.site.name : '' }}</div>
    </div>
    <div class="info">
        <b class="info-title">{{ 'CoveredPeriod' | translate }}</b>
        <div class="info-value">{{ this.timeSlot ? this.timeSlot.humanizeValue(this.currentLang) : '' }} ({{ this.firstDate }} - {{ this.lastDate }})</div>
    </div>
</div>
<div class="mdm-title">{{ 'Data' | translate }}</div>