.container{
    display: flex;
    vertical-align: middle;
}

.action-button{
    padding: 0px;
    position: absolute !important;
    right: 40px;
}

.dialog-close{
    top: 4px;
}

.text{
  margin-right: 24px;
}
