<mat-card class="project">
    <mat-card-header class="card-header">
        <div mat-card-avatar class="project-icon">
            <mat-icon class="{{projectOwner ? 'icon-default' : 'icon-button'}}" (click)="toggleFavourite()">{{projectCardAvatar()}}</mat-icon>
        </div>
        <div class="project-title">
            <mat-card-title>
                {{countryList.translateCountry(project.country)}}
            </mat-card-title>
        </div>
        <mat-chip-list class="project-status">
            <mat-chip [ngStyle]="{'background-color': (project.status == 'Ongoing') ? 'green' : (project.status == 'Finished') ? '#929223' : 'red'}" selected>{{ project.status | translate }}</mat-chip>
        </mat-chip-list>
    </mat-card-header>
    <mat-card-content>
        <div [style.opacity]="loading ? '60%' : '100%'">
            <div class="card-info">
                <div class="card-info-title">{{ 'Name' | translate }}</div>
                <div class="card-info-value">{{ project.name }}</div>
            </div>
            <div class="card-info">
                <div class="card-info-title">{{ 'Date' | translate }}</div>
                <div class="card-info-value">{{project.start  | localizedDate}} - {{project.end  | localizedDate}}</div>
            </div>
            <div class="card-info">
                <div class="card-info-title">{{ 'Thematics' | translate }}</div>
                <div class="card-info-value">
                    <div *ngFor="let theme of project.themes">{{theme.shortName[currentLang]}}</div>
                </div>
            </div>
            <div class="card-info">
                <div class="card-info-title">{{ 'LastEntry' | translate }}</div>
                <div class="card-info-value">{{ !project.inputDate ? ( 'None' | translate ) : (project.inputDate | localizedDate)  }}</div>
            </div>
        </div>
        <div class="loading-container" *ngIf="loading">
            <div class="loader"></div>
        </div>
    </mat-card-content>
    <mat-card-actions align="end" class="grp">
        <ng-container *ngIf="project.active">
            <button mat-stroked-button (click)="onOpen()" class="open" [disabled]="loading">{{ 'Open' | translate }}</button>
            <button mat-stroked-button mat-icon-button [matMenuTriggerFor]="menu" class="expand" [disabled]="loading"><mat-icon>expand_more</mat-icon></button>
        </ng-container>
        <ng-container *ngIf="!project.active">
            <button mat-stroked-button (click)="onRestore()" class="mdm-button" [disabled]="loading"><mat-icon>restore</mat-icon>{{ 'Restore' | translate }}</button>
        </ng-container>
    </mat-card-actions>
</mat-card>

<mat-menu #menu="matMenu">
    <button class="clone-button" mat-menu-item (click)="onClone()" *ngIf="project.active">
        <mat-icon>content_copy</mat-icon>
        <span>{{ 'CloneStructure' | translate }}</span>
    </button>
    <button class="clone-button" mat-menu-item (click)="onCloneWithData()" *ngIf="project.active">
        <mat-icon>content_copy</mat-icon>
        <span>{{ 'CloneStructureAndData' | translate }}</span>
    </button>
    <button class="clone-button delete" mat-menu-item (click)="onDelete()" *ngIf="project.active">
        <mat-icon class="delete">delete</mat-icon>
        <span>{{ 'Delete' | translate }}</span>
    </button>
    <button class="clone-button download-button"
        mat-menu-item
        (click)="onDownload()"
        *ngIf="project.active && currentUser.role === 'admin'"
        [matTooltip]="'DownloadProjectInfo' | translate"
    >
        <mat-icon>download</mat-icon>
        <span>{{ 'DownloadProject' | translate }}</span>
        <a id="downloadAnchorElem" style="display:none"></a>
    </button>
</mat-menu>
