@import "src/assets/theme/size_vars.scss";

.card-header {
  .project-icon { 
    height: 24px;
    width: 24px;

    img {
      height: 100%;
    }
  }

  .project-status {
    margin-left: auto;
  }

  .project-title {
    width: 60%;
    @media screen and (max-width: 1200px) {
      width: 45%;
    }
    @media screen and (max-width: $breakpoint-sm) {
      width: 65%;
    }
    @media screen and (max-width: 770px) {
      width: 50%;
    }
    @media screen and (max-width: $breakpoint-xs) {
      width: 65%;
    }
    .mat-card-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.card-info {
  flex-direction: row;
}

.icon-button {
  cursor: pointer;
}

.icon-default {
  cursor: default;
}

