.card-header {
  padding: 16px 16px 16px 16px;
  align-items: center;
 
  .project-country {
    height: 24px;
    width: 24px;
    img {
      height: 100%;
    }
  }

  .project-status {
    margin-left: auto;
    margin-right: 4px;
    padding-top: 5px;
    
  }
}

.card-info {
  flex-direction: row;
}

.icon-button {
  cursor: pointer;
  
}

.icon-default {
  cursor: default;
  
  
}
.boton.mdm-button.mat-icon-button:not(.small-button) {
  height: 25px;
  width: 32px;
  line-height: 32px;
}


.project.mat-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  display: block;
  position: relative;
  padding: 0px;
  border-radius: 4px;

  .mat-card-header {
      align-items: center;
      padding-bottom: 16px;
      margin-bottom: 12px;
      background-color: #ddd;
   

      .mat-card-header-text {
          margin: 0 0 0 16px;
      }

      .mat-card-title {
          margin-bottom: 0;
      }
  }

  .mat-card-actions:last-child {
      margin-bottom: 0 !important;
      padding: 16px 16px 16px 16px;
  }
}

.mat-button-toggle-appearance-standard {
  .mat-button-toggle-label-content {
      line-height: 38px;
  }
}

.mat-raised-button {
  line-height: 40px !important;
}

.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button {
  &:last-child {
      margin-left: 0;
  }
}

.mat-chip {
  min-height: 24px !important;
  padding: 8px !important;
  &.mat-chip-selected {
      &.mat-accent {
          color: white !important;
      }
  }  
}

.open.mat-stroked-button {
  border: 1px solid currentColor;
  padding: 0 15px;
  line-height: 27px !important;
  background-color: white;
  border: 1px solid #c8c9cc !important;
  height: 26px;
  padding: 0 12px !important;
  margin-right: 0px;
  margin-bottom: 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 3px;
}

 
.expand.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 27px;
  height: 26px;
  flex-shrink: 0;
  line-height: 26px;
  border-top-left-radius: 1px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 1px;
    border: 1px solid #c8c9cc !important;
}


