.card-header {
  .project-country { 
    height: 24px;
    width: 24px;

    img {
      height: 100%;
    }
  }

  .project-status {
    margin-left: auto;
  }
}

.card-info {
  flex-direction: row;
}

.icon-button {
  cursor: pointer;
}

.icon-default {
  cursor: default;
}

mat-card-title {
  word-break: break-word;
}
