<mat-form-field [formGroup]="userForm" appearance="outline" class="mdm-form-field">
    <mat-select
      formControlName="dataSources"
      placeholder="{{ 'DataSources' | translate }}"
      multiple
      disableOptionCentering
      panelClass="myPanelClass"
    >
        <mat-select-trigger>
            <mat-chip-list>
                <mat-chip *ngFor="let dataSource of selectedDataSources" [removable]="true"
                    (removed)="onDataSourceRemoved(dataSource)">
                    <mat-icon class="chip" *ngIf="checkIfAllOption(dataSource)">arrow_circle_down</mat-icon>
                    {{ dataSource.name }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </mat-select-trigger>
        <mat-option (click)="toggleAllSelection()" [value]="allOption"><mat-icon class="option">arrow_circle_down</mat-icon>{{ 'All' | translate }}</mat-option>
        <mat-option *ngFor="let dataSource of dataSources" (click)="toggleNormalOption(dataSource)" [value]="dataSource">
            <div style="display: flex; justify-content: space-between; gap: 20px; align-items: center;">
                {{ dataSource.name }}
                <mat-chip *ngIf="dataSource.disabled" [removable]="true" style="margin: -10px 0">
                    <mat-icon class="option" style="transform: none !important; margin-top: 2px;">visibility_off</mat-icon>
                    {{'hidden' | translate}}
                </mat-chip>
            </div>
        </mat-option>
    </mat-select>
    <mat-hint>
        <mat-icon>info</mat-icon>{{ 'Tooltip.UserEdition.DataSources' | translate }}
    </mat-hint>
</mat-form-field>
