.dialog-container {
  max-width: 500px;
  width: 100%;
}

.modal-text {
  margin-top: 10px;
  margin-right: 30px;

  .mat-icon {
      color: #d9534f;
      margin-right: 5px;
      vertical-align: bottom;
  }
}
