<div class="info-section">
    <p>{{ 'ReportingHomeInfo.0' | translate }}</p>
    <p>{{ 'ReportingHomeInfo.1' | translate }}<span><button mat-stroked-button class="mdm-button small-button" routerLink="../general"><mat-icon svgIcon="clipboard"></mat-icon>{{ 'ReportingHomeInfo.2' | translate }}</button></span>{{ 'ReportingHomeInfo.3' | translate }}<span><button mat-stroked-button class="mdm-button small-button" routerLink="../pivot-table"><mat-icon svgIcon="grid"></mat-icon>{{ 'ReportingHomeInfo.4' | translate }}</button></span>{{ 'ReportingHomeInfo.5' | translate }}</p>

    <h3>{{ 'ReportingHomeInfo.6' | translate }}</h3>
    <p>{{ 'ReportingHomeInfo.7' | translate }}</p>

    <p>{{ 'ReportingHomeInfo.8' | translate }}</p>

    <h3>{{ 'ReportingHomeInfo.9' | translate }}</h3>
    <p>{{ 'ReportingHomeInfo.10' | translate }}</p>
</div>
<div class="info-section blue">
    <p>{{ 'ReportingHomeBlueSection.0' | translate }}<button mat-stroked-button class="mdm-button mat-icon-button small-button"><mat-icon svgIcon="clipboard"></mat-icon></button>{{ 'ReportingHomeBlueSection.1' | translate }}</p>
</div>
<div class="info-section blue">
    <p>{{ 'ReportingHomeBlueSection.2' | translate }}<button mat-stroked-button class="mdm-button mat-icon-button small-button"><mat-icon>add</mat-icon></button>{{ 'ReportingHomeBlueSection.3' | translate }}</p>
</div>
<div class="info-section blue">
    <p>{{ 'ReportingHomeBlueSection.4' | translate }}<button mat-stroked-button class="mdm-button mat-icon-button small-button"><mat-icon>block</mat-icon></button>{{ 'ReportingHomeBlueSection.5' | translate }}</p>
    <p>{{ 'ReportingHomeBlueSection.6' | translate }}</p>
    <p>{{ 'ReportingHomeBlueSection.7' | translate }}<span><button mat-stroked-button class="mdm-button mat-icon-button small-button"><mat-icon svgIcon="clipboard"></mat-icon></button></span>{{ 'ReportingHomeBlueSection.8' | translate }}<span><button mat-stroked-button class="mdm-button small-button">{{ 'Computation' | translate }}</button></span>{{ 'ReportingHomeBlueSection.9' | translate }}</p>
</div>
<div class="info-section blue">
    <p>{{ 'ReportingHomeBlueSection.10' | translate }}<button mat-stroked-button class="mdm-button small-button"><mat-icon>add_circle</mat-icon>{{ 'Filters' | translate }}</button>{{ 'ReportingHomeBlueSection.11' | translate }}</p>
</div>