<div class="info-section">
    <p>This section allows you to track your project progress.</p>
    <p>The interfaces _______________ and ___________ both allow you to access all of your data, in different ways.</p>

    <h3>General reporting</h3>
    <p>The first allows you to explore your data hierarchically: starting from a general vision of your project.</p>

    <p>You can consult each logical framework or data source, which contains indicators, which you can then disaggregate by collection site, parameter that you used to calculate them, and other disaggregations according to the data structure that you collected (age range, sex, pathologies, training content, ...).</p>

    <h3>Pivot table</h3>
    <p>The second one allows you to build tables that will take the form you want, and download them in Excel format, to include them in reports or to create visualizations outside of Monitool.</p>
</div>
<div class="info-section blue">
    <p>Utilisez des noms courts pour nommer lieux de collecte, sources de données, variables et indicateurs. En évitant les acronymes vous améliorez la lisibilité de vos graphiques et tableaux et permettez une meilleur compréhension de votre projet par tous les acteurs de Médecins du Monde.</p>
</div>
<div class="info-section blue">
    <p>En cas d'erreur, cliquez sur <button mat-stroked-button class="mdm-button"><mat-icon>undo</mat-icon>Anuler les modifications</button> pour revenir à la dernière version sauvegardée.</p>
</div>
<div class="info-section blue">
    <p>Si vous sauvegardez une erreur: rendez-vous dans sur la page <button mat-stroked-button  class="mdm-button"><mat-icon svgIcon="history"></mat-icon>Historique</button> et restaurez une version antérieure du projet.</p>
</div>