<div class="info-section blue">
    <p>{{ 'ProjectSitesInfo.0' | translate }}</p>
    <p>{{ 'ProjectSitesInfo.1' | translate }}</p>
    <ul>
        <li>{{ 'ProjectSitesInfo.2' | translate }}</li>
        <li>{{ 'ProjectSitesInfo.3' | translate }}</li>
    </ul>
</div>
<div class="mdm-section" [formGroup]="sitesForm">
    <div class="mdm-title">{{ 'CollectionSites' | translate }}</div>
    <table mat-table cdkDropList (cdkDropListDropped)="onListDrop($event, 'entities')" [dataSource]="entitiesDataSource" class="mdm-table" formArrayName="entities">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell cdkDragHandle *matCellDef="let element" id="position">
                <mat-icon>unfold_more</mat-icon>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{ 'CollectionSiteName' | translate }}</th>
            <td mat-cell *matCellDef="let element; let index = index" id="name" [formGroupName]="index">
                <input matInput formControlName="name" placeholder="{{ 'Name' | translate }}">
            </td>
        </ng-container>

        <!-- Start Date Column -->
        <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef>{{ 'SpecificStartDate' | translate }}</th>
            <td mat-cell *matCellDef="let element; let index = index" id="start" [formGroupName]="index">
                <div class="sites-row sites-date">
                    <input matInput [matDatepicker]="startPicker" formControlName="start"
                        placeholder="{{ 'StartDate' | translate }}">
                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker></mat-datepicker>
                </div>
            </td>
        </ng-container>

        <!-- End Date Column -->
        <ng-container matColumnDef="end">
            <th mat-header-cell *matHeaderCellDef>{{ 'SpecificEndDate' | translate }}</th>
            <td mat-cell *matCellDef="let element; let index = index" id="end" [formGroupName]="index">
                <div class="sites-row sites-date">
                    <input matInput [matDatepicker]="endPicker" formControlName="end"
                        placeholder="{{ 'EndDate' | translate }}">
                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker></mat-datepicker>
                </div>
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index" id="delete">
                <div class="sites-row">
                    <button mat-icon-button color="warn" (click)="onRemoveEntity(i)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="add">
            <td mat-footer-cell *matFooterCellDef [attr.colspan]="entitiesDisplayedColumns.length" class="add-row">
                <button mat-stroked-button class="mdm-button small-button" (click)="onAddNewEntity()">
                    <mat-icon>add</mat-icon>{{ 'Add' | translate }}
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="entitiesDisplayedColumns"></tr>
        <tr mat-row cdkDrag cdkDragBoundary=".mdm-table" *matRowDef="let row; columns: entitiesDisplayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="['add']"></tr>
    </table>
</div>
<div class="mdm-section" [formGroup]="sitesForm">
    <div class="mdm-title">{{ 'Groups' | translate }}</div>
    <table mat-table cdkDropList (cdkDropListDropped)="onListDrop($event, 'groups')" [dataSource]="groupsDataSource" class="mdm-table" formArrayName="groups">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell cdkDragHandle *matCellDef="let element" id="position">
                <mat-icon>unfold_more</mat-icon>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{ 'GroupName' | translate }}</th>
            <td mat-cell *matCellDef="let element; let index = index" id="name" [formGroupName]="index">
                <div class="sites-row">
                    <input matInput formControlName="name" placeholder="{{ 'Name' | translate }}">
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="sites">
            <th mat-header-cell *matHeaderCellDef>{{ 'Members' | translate }}</th>
            <td mat-cell *matCellDef="let element; let index = index" id="sites" [formGroupName]="index">
                <div class="sites-row">
                    <mat-select formControlName="members" placeholder="{{ 'CollectionSites' | translate }}" multiple>
                        <mat-select-trigger>
                            <mat-chip-list>
                                <mat-chip *ngFor="let entity of selectedEntities[index]" [removable]="true"
                                    (removed)="onEntityRemoved(index, entity.id)">
                                    {{ entity.name }}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                            </mat-chip-list>
                        </mat-select-trigger>
                        <mat-option *ngFor="let entity of entities.value" [value]="entity.id">{{ entity.name }}
                        </mat-option>
                    </mat-select>
                </div>
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index" id="delete">
                <button mat-icon-button color="warn" (click)="onRemoveGroup(i)">
                    <mat-icon>close</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="add">
            <td mat-footer-cell *matFooterCellDef [attr.colspan]="groupsDisplayedColumns.length" class="add-row">
                <button mat-stroked-button class="mdm-button small-button" (click)="onAddNewGroup()">
                    <mat-icon>add</mat-icon>{{ 'Add' | translate }}
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="groupsDisplayedColumns"></tr>
        <tr mat-row cdkDrag cdkDragBoundary=".mdm-table" *matRowDef="let row; columns: groupsDisplayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="['add']"></tr>
    </table>
</div>
