<div class="info-section blue">
    <p>Lorsqu'un projet réalise les même activités dans plusieurs lieux, celles-ci doivent pouvoir être suivi
        individuellements, par groupes, et tous ensembles.</p>
    <p>Rentrez ici:</p>
    <ul>
        <li>La liste des lieux sur lesquels le projet travaille (par exemple: une liste des centres de santé)</li>
        <li>Des groupements qui seront utilisé lors du suivi (par exemple: des régions, des types de structure)</li>
    </ul>
</div>
<div class="mdm-section" [formGroup]="form">
    <div class="mdm-title">{{ 'CollectionSites' | translate }}</div>
    <table mat-table [dataSource]="sitesDataSource" class="mdm-table" formArrayName="sites">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" id="position">
                <mat-icon>unfold_more</mat-icon>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{ 'CollectionSiteName' | translate }}</th>
            <td mat-cell *matCellDef="let element; let index = index" id="name" [formGroupName]="index">
                <mat-form-field appearance="outline" class="mdm-form-field">
                    <input matInput formControlName="name" placeholder="{{ 'Name' | translate }}">
                </mat-form-field>
            </td>
        </ng-container>

        <!-- Start Date Column -->
        <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef>{{ 'SpecificStartDate' | translate }}</th>
            <td mat-cell *matCellDef="let element; let index = index" id="startDate" [formGroupName]="index">
                <mat-form-field appearance="outline" class="mdm-form-field">
                    <input matInput [matDatepicker]="startPicker" formControlName="startDate"
                        placeholder="{{ 'StartDate' | translate }}">
                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker></mat-datepicker>
                </mat-form-field>
            </td>
        </ng-container>

        <!-- End Date Column -->
        <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef>{{ 'SpecificEndDate' | translate }}</th>
            <td mat-cell *matCellDef="let element; let index = index" id="endDate" [formGroupName]="index">
                <mat-form-field appearance="outline" class="mdm-form-field">
                    <input matInput [matDatepicker]="endPicker" formControlName="endDate"
                        placeholder="{{ 'EndDate' | translate }}">
                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker></mat-datepicker>
                </mat-form-field>
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index" id="delete">
                <button mat-icon-button color="warn" (click)="removeSite(i)">
                    <mat-icon>close</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="add">
            <td mat-footer-cell *matFooterCellDef [attr.colspan]="sitesDisplayedColumns.length" class="add-row">
                <button mat-stroked-button class="mdm-button small-button" (click)="addSite()">
                    <mat-icon>add</mat-icon>{{ 'Add' | translate }}
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="sitesDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: sitesDisplayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="['add']"></tr>
    </table>
</div>
<div class="mdm-section" [formGroup]="form">
    <div class="mdm-title">{{ 'Groups' | translate }}</div>
    <table mat-table [dataSource]="groupsDataSource" class="mdm-table" formArrayName="groups">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" id="position">
                <mat-icon>unfold_more</mat-icon>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{ 'GroupName' | translate }}</th>
            <td mat-cell *matCellDef="let element; let index = index" id="name" [formGroupName]="index">
                <mat-form-field appearance="outline" class="mdm-form-field">
                    <input matInput formControlName="name" placeholder="{{ 'Name' | translate }}">
                </mat-form-field>
            </td>
        </ng-container>

        <!-- Start Date Column -->
        <ng-container matColumnDef="sites">
            <th mat-header-cell *matHeaderCellDef>{{ 'Members' | translate }}</th>
            <td mat-cell *matCellDef="let element; let index = index" id="sites" [formGroupName]="index">
                <mat-form-field appearance="outline" class="mdm-form-field">
                    <mat-select formControlName="sites" placeholder="{{ 'CollectionSites' | translate }}" multiple>
                        <!-- <mat-select-trigger>
                            <mat-chip-list>
                                <mat-chip *ngFor="let site of form.controls.sites.value" [removable]="true"
                                    (removed)="onSiteRemoved(index, site)">
                                    {{ site.name }}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                            </mat-chip-list>
                        </mat-select-trigger> -->
                        <mat-option *ngFor="let site of sites.value" [value]="site">{{ site.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index" id="delete">
                <button mat-icon-button color="warn" (click)="removeGroup(i)">
                    <mat-icon>close</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="add">
            <td mat-footer-cell *matFooterCellDef [attr.colspan]="sitesDisplayedColumns.length" class="add-row">
                <button mat-stroked-button class="mdm-button small-button" (click)="addGroup()">
                    <mat-icon>add</mat-icon>{{ 'Add' | translate }}
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="groupsDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: groupsDisplayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="['add']"></tr>
    </table>
</div>
