@import "src/stylesheets/variables.scss";

.header-container {
    $transDuration: 250ms;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .header-image {
        margin-left: 20px;
        img {
            max-height: 42px;
        }
    }

    .menu {
        margin-right: 40px;
        display: flex;
        width: 50%;
        height: 100%;

        .header-href {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;

            .link-section {
                height: 100%;
                display: flex;
                align-items: center;
            }

            a {
                color: var(--text);
                padding: 0px 20px;
                white-space: nowrap;
                text-decoration: none;
                font-size: 16px;
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;
                margin-right: 10px;
                display: flex;
                align-items: center;
                border-bottom: 3px solid transparent;
                box-sizing: border-box;
                height: 100%;

                &.active-link {
                    color: white;
                    border-bottom: 3px solid white;
                }

                &:hover {
                    color: white;
                    &.link{
                        border-bottom: 3px solid white;
                    }
                }
            }
            
            .dropdown {
                display: flex;
                align-items: center;
                height: 100%;
                .dropdown-content {
                    display: none;
                    position: absolute;
                    justify-items: center;
                    background-color: #f9f9f9;
                    width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;

                    a {
                        float: none;
                        color: black;
                        text-decoration: none;
                        display: block;
                        text-align: left;
                        margin-right: 0;
                        border-radius: 0%;

                        &:hover {
                            background-color: #e4eefa;
                        }
                    }
                }

                .show {
                    display: block;
                    margin-top: 125px;
                }
            }
        }
    }

    .nav-burger {
        $barHeight: 3px;

        display: none;
        z-index: 2;
        margin: 0;
        padding: 0;

        .toggle {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: all;
            right: 22px;
            top: 7px;
            height: 44px;
            width: 44px;
            z-index: 11;
            color: white;

            .inner {
                display: block;
                position: relative;
                height: calc(#{$barHeight} * 4);
                width: calc(#{$barHeight} * 8);
                transition: width $transDuration linear, height $transDuration linear,
                    transform $transDuration ease $transDuration;
            }

            &.open .inner {
                height: $barHeight;
                width: calc(#{$barHeight} * 10);
                transform: rotate(135deg);
            }

            .inner:before,
            .inner:after {
                content: "";
                border-radius: 1px;
                display: block;
                position: absolute;
                height: $barHeight;
                width: 100%;
            }

            .inner:after {
                bottom: 0;
                background-color: var(--header-background);
            }

            .inner:before {
                top: 0;
                background-color: white;
            }
        }
    }

    #mobile-menu-bg {
        position: fixed;
        top: 0;
        right: 0;
        height: 0;
        width: 0;
        background-color: rgba(white, 0.99);
        z-index: 1;

        opacity: 0;
        transition: all $transDuration linear;

        &.open {
            height: 100%;
            width: 100%;
            opacity: 1;
        }
    }

    @media screen and (max-width: $break-point-four-to-three) {
        .nav-burger {
            display: block !important;
        }

        #menu-links {
            position: fixed;
            overflow: hidden;
            top: 0;
            left: 0;
            height: 0%;
            width: 0%;
            opacity: 0;

            &.open {
                transition: opacity $transDuration linear $transDuration !important;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                height: 100%;
                width: 100%;
                opacity: 1;
                z-index: 2;

                .header-href {
                    flex-direction: column;
                    align-items: flex-start;
                    padding-left: 40px;
                    width: 100%;

                    a {
                        width: 100%;
                        text-align: left;
                        font-size: 8vh;
                        color: var(--header-background);

                        &.active-link {
                            border: 0;
                            text-decoration: underline;
                        }

                        &:hover {
                            border: 0;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: $break-point-two-to-one) {
        #menu-links {
            &.open {
                .header-href {
                    padding-left: 0;

                    #account {
                        margin-top: 20%;
                        margin-left: 42%;
                    }
                    a {
                        font-size: 5vh;
                    }
                }
            }
        }
    }
}
