<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="toolbar-logo">
            <img [routerLink]="['home']" fragment="top" src="assets/images/MDM-LOGO-BLANC.png" />
        </div>
        <nav class="toolbar-nav" *ngIf="!isMobile">
            <ul class="toolbar-nav-list">
                <li class="toolbar-nav-item">
                    <a class="toolbar-nav-link" [routerLink]="['home']" routerLinkActive="active-link">{{ 'Home' | translate }}</a>
                </li>
                <li class="toolbar-nav-item">
                    <a class="toolbar-nav-link" [routerLink]="['projects']" routerLinkActive="active-link">{{ 'Projects' | translate }}</a>
                </li>
                <li class="toolbar-nav-item">
                    <a class="toolbar-nav-link" [routerLink]="['indicators']" routerLinkActive="active-link">{{ 'CrossCuttingIndicators' | translate }}</a>
                </li>
            </ul>
        </nav>

        <button mat-button [matMenuTriggerFor]="langMenu">
            Language
            <mat-icon>expand_more</mat-icon>
        </button>
    
        <button mat-button [matMenuTriggerFor]="menu">
            Mon compte
            <mat-icon>expand_more</mat-icon>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="isMobile">
        <nav class="toolbar-nav">
            <ul class="toolbar-nav-list">
                <li class="toolbar-nav-item">
                    <a class="toolbar-nav-link" [routerLink]="['home']" routerLinkActive="active-link">Accueil</a>
                </li>
                <li class="toolbar-nav-item">
                    <a class="toolbar-nav-link" [routerLink]="['projects']" routerLinkActive="active-link">Projects</a>
                </li>
                <li class="toolbar-nav-item">
                    <a class="toolbar-nav-link" [routerLink]="['indicators']" routerLinkActive="active-link">Indicateurs traversaux</a>
                </li>
            </ul>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['parameters']">Parametres</button>
</mat-menu>

<mat-menu #langMenu="matMenu">
    <button mat-menu-item *ngFor="let lang of getLangs()" (click)="switchLang(lang)">{{lang}}</button>
</mat-menu>