<div class="header-container container">

    <div class="header-image">
        <img class="link-img" [routerLink]="['home']" fragment="top" src="assets/images/MDM-LOGO-BLANC.png" />
    </div>

    <div class="menu" id="menu-links">
        <div (click)="navBurgerClose()" class="header-href">
            <a class="link" [routerLink]="['home']" routerLinkActive="active-link"> Accueil </a>
            <a class="link" [routerLink]="['projects']" routerLinkActive="active-link"> Projets </a>
            <a class="link" routerLinkActive="active-link"> Indicateurs traversaux </a>
            <div class="dropdown">
                <a id="account" class="dropbtn" (click)="dropdownHandler()"> Mon compte</a>
                <div class="dropdown-content" id="accountDropdown">
                    <a [routerLink]="['users']">Utilisateurs</a>
                    <a>Thématiques</a>
                    <a>Indicateurs traversaux</a>
                </div>
            </div>
            <i class="material-icons">keyboard_arrow_down</i>
        </div>
    </div>

    <!-- Right -->
    <ul class="nav-burger">
        <div class="toggle" (click)="navBurgerToggle()">
            <div class="inner"></div>
        </div>
    </ul>

    <!-- Mobile menu -->
    <div id="mobile-menu-bg"></div>
</div>