<button class="dialog-close" mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>{{ 'UserEdition' | translate }}</h2>
<mat-dialog-content *ngIf="userForm" [formGroup]="userForm" class="mdm-dialog">
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'Type' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <mat-select formControlName="type" placeholder="{{ 'Type' | translate }}">
                <mat-option *ngFor="let type of types" [value]="type.value">{{ type.name | translate }}</mat-option>
            </mat-select>
            <mat-hint><mat-icon>info</mat-icon>{{ 'Tooltip.UserEdition.Type' | translate }}</mat-hint>
        </mat-form-field>
    </div>
    <div *ngIf="userForm.value.type === types[0].value; else elseBlock">
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'User' | translate }}</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <mat-select formControlName="id" placeholder="{{ 'User' | translate }}">
                    <mat-option *ngFor="let user of users" [value]="user.id">{{ user.name }}</mat-option>
                </mat-select>
                <mat-hint><mat-icon>info</mat-icon>{{ 'Tooltip.UserEdition.User' | translate }}</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'Login' | translate }}</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <input matInput formControlName="username" placeholder="{{ 'Login' | translate }}">
                <mat-hint><mat-icon>info</mat-icon>{{ 'Tooltip.UserEdition.User' | translate }}</mat-hint>
            </mat-form-field>
        </div>
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'FullName' | translate }}</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <input matInput formControlName="name" placeholder="{{ 'FullName' | translate }}">
                <mat-hint><mat-icon>info</mat-icon>{{ 'Tooltip.UserEdition.User' | translate }}</mat-hint>
            </mat-form-field>
        </div>
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'Password' | translate }}</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <input type="password" matInput formControlName="password" placeholder="{{ 'Password' | translate }}">
                <mat-hint><mat-icon>info</mat-icon>{{ 'Tooltip.UserEdition.User' | translate }}</mat-hint>
            </mat-form-field>
        </div>
    </ng-template>
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'Role' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <mat-select formControlName="role" placeholder="{{ 'Role' | translate }}">
                <mat-option *ngFor="let role of roles" [value]="role.value">{{ role.name | translate }}</mat-option>
            </mat-select>
            <mat-hint><mat-icon>info</mat-icon>{{ 'Tooltip.UserEdition.Role' | translate }}</mat-hint>
        </mat-form-field>
    </div>

    <div *ngIf="userForm.value.role === roles[1].value">
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'CollectionSites' | translate }}</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <mat-select formControlName="entities" placeholder="{{ 'CollectionSites' | translate }}" multiple>
                    <mat-select-trigger>
                        <mat-chip-list>
                            <mat-chip *ngFor="let site of selectedSites" [removable]="true"
                                (removed)="onSiteRemoved(site)">
                                {{ site.name }}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </mat-select-trigger>
                    <mat-option *ngFor="let site of collectionSites" [value]="site">{{ site.name }}</mat-option>
                </mat-select>
                <mat-hint>
                    <mat-icon>info</mat-icon>{{ 'Tooltip.BasicsEdition.Thematics' | translate }}
                </mat-hint>
            </mat-form-field>
        </div>
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'DataSources' | translate }}</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <mat-select formControlName="dataSources" placeholder="{{ 'DataSources' | translate }}" multiple>
                    <mat-select-trigger>
                        <mat-chip-list>
                            <mat-chip *ngFor="let dataSource of selectedDataSources" [removable]="true"
                                (removed)="onDataSourceRemoved(dataSource)">
                                {{ dataSource.name }}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </mat-select-trigger>
                    <mat-option *ngFor="let dataSource of dataSources" [value]="dataSource">{{ dataSource.name }}</mat-option>
                </mat-select>
                <mat-hint>
                    <mat-icon>info</mat-icon>{{ 'Tooltip.BasicsEdition.Thematics' | translate }}
                </mat-hint>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onSubmit()" class="mdm-button save-button">{{ 'UpdateUser' | translate }}</button>
    <button mat-stroked-button (click)="resetChanges()" class="mdm-button"><mat-icon>undo</mat-icon>{{ 'ResetChanges' | translate }}</button>
</mat-dialog-actions>