@import "src/assets/theme/size_vars.scss";

app-collection-sites-selector, app-data-source-selector{
  flex: 1;
  display: flex;
  width: 100%;
}

@media screen and (max-width: $breakpoint-xs) {
  .mat-dialog-actions {
    justify-content: center;
  }
}
