<button class="dialog-close" mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>{{ 'UserEdition' | translate }}</h2>
<mat-dialog-content *ngIf="userForm" [formGroup]="userForm" class="mdm-dialog">
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'Type' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <mat-select formControlName="type" placeholder="{{ 'Type' | translate }}" disableOptionCentering panelClass="myPanelClass">
                <mat-option *ngFor="let type of types" [value]="type.value">{{ type.name | translate }}</mat-option>
            </mat-select>
            <mat-hint><mat-icon>info</mat-icon>{{ 'Tooltip.UserEdition.Type' | translate }}</mat-hint>
        </mat-form-field>
    </div>
    <div *ngIf="userForm.value.type === 'internal'">
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'User' | translate }}</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <mat-select formControlName="id" placeholder="{{ 'User' | translate }}" disableOptionCentering panelClass="myPanelClass" [disabled]="users.length <= 0">
                  <mat-option>
                    <ngx-mat-select-search
                      [formControl]="userFilter"
                      [placeholderLabel]="'Tooltip.UserEdition.UserSearch.Placeholder' | translate"
                      [noEntriesFoundLabel]="'Tooltip.UserEdition.UserSearch.NoMatches' | translate"
                    >
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let user of filteredUsers" [value]="user.id">{{ user.name }}</mat-option>
                </mat-select>
                <mat-hint><mat-icon>info</mat-icon>{{ 'Tooltip.UserEdition.User' | translate }}</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <div *ngIf="userForm.value.type === 'partner'">
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'Login' | translate }}</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <input matInput formControlName="username" placeholder="{{ 'Login' | translate }}">
                <mat-hint><mat-icon>info</mat-icon>{{ 'Tooltip.UserEdition.Username' | translate }}</mat-hint>
            </mat-form-field>
        </div>
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'FullName' | translate }}</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <input matInput formControlName="name" placeholder="{{ 'FullName' | translate }}">
                <mat-hint><mat-icon>info</mat-icon>{{ 'Tooltip.UserEdition.Fullname' | translate }}</mat-hint>
            </mat-form-field>
        </div>
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'Password' | translate }}</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <input type="password" matInput formControlName="password" placeholder="{{ 'Password' | translate }}">
                <mat-hint><mat-icon>info</mat-icon>{{ 'Tooltip.UserEdition.Password' | translate }}</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'Role' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <mat-select
              formControlName="role"
              placeholder="{{ 'Role' | translate }}"
              disableOptionCentering
              panelClass="myPanelClass"
              (selectionChange)="userForm.patchValue({dataSources: [], entities: []})"
            >
                <mat-option *ngFor="let role of roles" [value]="role.value">{{ role.name | translate }}</mat-option>
            </mat-select>
            <mat-hint>
              <mat-icon>info</mat-icon>
              <div>
                {{ 'Tooltip.UserEdition.Role' | translate }}
                <p class="help-field" (click)="panelOpenState = !panelOpenState">
                  {{ panelOpenState ? ('TooltipRoleHint.PanelHide' | translate) : ('TooltipRoleHint.PanelShow' | translate) }}
                </p>
              </div>
            </mat-hint>
        </mat-form-field>
        <div class="mdm-form-group">
          <mat-accordion>
              <mat-expansion-panel [expanded]="panelOpenState" [disabled]="true" class="mat-elevation-z0 remove-mat-expansion-panel-padding">
                <app-user-rights-table></app-user-rights-table>
              </mat-expansion-panel>
          </mat-accordion>
        </div>
    </div>

    <div *ngIf="userForm.value.role === roles[1].value">
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'DataSources' | translate }}</div>
            <app-data-source-selector
                [userForm]="userForm"
                [dataSources]="dataSources"
            ></app-data-source-selector>
        </div>
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'CollectionSites' | translate }}</div>
            <app-collection-sites-selector
                [form]="userForm"
                [entities]="availableEntities"
                [groups]="availableGroups"
                [hint]="'Tooltip.UserEdition.CollectionSites'">
            </app-collection-sites-selector>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button [disabled]="!canSubmitForm()" (click)="onSubmit()" class="mdm-button save-button">{{ 'UpdateUser' | translate }}</button>
    <button mat-stroked-button (click)="resetChanges()" class="mdm-button"><mat-icon>undo</mat-icon>{{ 'ResetChanges' | translate }}</button>
</mat-dialog-actions>
