@import "src/assets/theme/size_vars.scss";

app-collection-sites-selector, app-data-source-selector{
  flex: 1;
  display: flex;
  width: 100%;
}

app-user-rights-table {
  width: 100%;
}

// @media screen and (max-width: $breakpoint-xs) {
//   .mat-dialog-actions {
//     justify-content: center;
//   }
// }

mat-hint {
  mat-icon {
    margin: 0;
  }
}

.help-field {
  color: #005ec5;
  cursor: pointer;
  margin-top: 4px;
}
.help-field:hover {
  text-decoration: underline;
}

mat-accordion {
  flex: 0.815; // Messy solution
  margin-left: auto;
  margin-top: -20px;
  margin-bottom: 20px;
}
