<button class="dialog-close" mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>{{ 'UserEdition' | translate }}</h2>
<mat-dialog-content [formGroup]="userForm" class="mdm-dialog">
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'Type' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <mat-select formControlName="type" placeholder="{{ 'Type' | translate }}">
                <mat-option *ngFor="let type of types" [value]="type.value">{{ type.name | translate }}</mat-option>
            </mat-select>
            <mat-hint><mat-icon>info</mat-icon>{{ 'Tooltip.UserEdition.Type' | translate }}</mat-hint>
        </mat-form-field>
    </div>
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'User' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <mat-select formControlName="id" placeholder="{{ 'User' | translate }}">
                <mat-option *ngFor="let user of users" [value]="user.id">{{ user.name }}</mat-option>
            </mat-select>
            <mat-hint><mat-icon>info</mat-icon>{{ 'Tooltip.UserEdition.User' | translate }}</mat-hint>
        </mat-form-field>
    </div>
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'Role' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <mat-select formControlName="role" placeholder="{{ 'Role' | translate }}">
                <mat-option *ngFor="let role of roles" [value]="role.value">{{ role.name | translate }}</mat-option>
            </mat-select>
            <mat-hint><mat-icon>info</mat-icon>{{ 'Tooltip.UserEdition.Role' | translate }}</mat-hint>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onSubmit()" class="mdm-button">{{ 'UpdateUser' | translate }}</button>
    <button mat-stroked-button class="mdm-button"><mat-icon>undo</mat-icon>{{ 'ResetChanges' | translate }}</button>
</mat-dialog-actions>