<button class="dialog-close" mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>{{ 'IndicatorEdition' | translate }}</h2>
<mat-dialog-content [formGroup]="indicatorForm" class="mdm-dialog">
    <div class="info-section blue">
        <p>{{ 'SettingsIndicatorEdit' | translate }}</p>
    </div>
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'Thematics' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <mat-select formControlName="themes" placeholder="{{ 'IndicatorEditionPlaceholder.Thematics' | translate }}" disableOptionCentering panelClass="chipListPanelClass" multiple>
                <mat-select-trigger>
                    <mat-chip-list>
                        <mat-chip *ngFor="let theme of selectedThemes" [removable]="true"
                            (removed)="onThemeRemoved(theme)">
                            {{ theme.name[currentLang] + '-' + theme.shortName[currentLang] }}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </mat-select-trigger>
                <mat-option *ngFor="let theme of themes" [value]="theme">{{ theme.name[currentLang] + '-' + theme.shortName[currentLang] }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <ng-container formGroupName="name">
        <div class="mdm-form-group" *ngFor="let language of languages">
            <div class="mdm-form-label">{{ 'Name' | translate }} ({{ language | translate }})</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <input matInput [formControlName]="language" placeholder="{{ getLanguageDictionary(language) ? getLanguageDictionary(language).IndicatorEditionPlaceholder.Name : null}}">
            </mat-form-field>
        </div>
    </ng-container>
    <ng-container formGroupName="description">
        <div class="mdm-form-group" *ngFor="let language of languages">
            <div class="mdm-form-label">{{ 'Description' | translate }} ({{ language | translate }})</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <input matInput [formControlName]="language" placeholder="{{ getLanguageDictionary(language) ? getLanguageDictionary(language).IndicatorEditionPlaceholder.Description : null }}">
            </mat-form-field>
        </div>
    </ng-container>
    <ng-container formGroupName="computation">
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'Computation' | translate }}</div>
            <mat-form-field appearance="outline" class="mdm-form-field indicator-modal-form-field">
                <mat-select formControlName="type" (selectionChange)="onTypeChange($event)" disableOptionCentering panelClass="myPanelClass">
                    <mat-option *ngFor="let type of computationTypes" [value]="type.value">{{ type.display | translate }}
                    </mat-option>
                </mat-select>
                <mat-hint>
                    <mat-icon>info</mat-icon>{{ 'Computation-Hint' | translate }}
                </mat-hint>
            </mat-form-field>
        </div>
        <div class="mdm-form-group" *ngIf="indicatorForm.value.computation.type">
            <mat-form-field appearance="outline" class="mdm-form-field indicator-modal-form-field" *ngIf="indicatorForm.value.computation.type === 'fixed'">
                <input matInput type="string" formControlName="formula" placeholder="{{ 'Placeholder.LogicalFrameIndicator.Computation.Fixed' | translate }}">
            </mat-form-field>
            <mat-form-field
                appearance="outline"
                class="mdm-form-field indicator-modal-form-field-table"
                *ngIf="indicatorForm.value.computation.type !== 'fixed'
                    && indicatorForm.value.computation.type !== 'unavailable'"
                >
                <input matInput formControlName="formula"
                    placeholder="{{ 'Formula' | translate }}" [readonly]="indicatorForm.value.computation.type !== 'formula'">
            </mat-form-field>
        </div>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onSubmit()" class="mdm-button save-button" [disabled]="indicatorForm.invalid || !dataChanged">{{ 'SaveIndicator' | translate }}</button>
</mat-dialog-actions>

<ng-template #warningModal>
    <mat-dialog-content style="max-width: 600px;">
        <button class="dialog-close" mat-icon-button (click)="warningDialogRef.close()">
            <mat-icon>close</mat-icon>
        </button>
        <h2 mat-dialog-title>{{ 'IndicatorFormulaWarningModal.title' | translate}}</h2>
        <p>{{ 'IndicatorFormulaWarningModal.content' | translate }}</p>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-stroked-button (click)="warningDialogRef.close()" class="mdm-button">{{ 'Cancel' | translate }}</button>
        <button mat-flat-button color="primary" (click)="warningDialogRef.close(true)" class="mdm-button">{{ 'Confirm' | translate
            }}</button>
    </mat-dialog-actions>
</ng-template>