<button class="dialog-close" mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>{{ 'IndicatorEdition' | translate }}</h2>
<mat-dialog-content [formGroup]="indicatorForm" class="mdm-dialog">
    <div class="info-section blue">
        <p>{{ 'SettingsIndicatorEdit' | translate }}</p>
    </div>
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'Thematics' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <mat-select formControlName="themes" placeholder="{{ 'Thematics' | translate }}" multiple>
                <mat-select-trigger>
                    <mat-chip-list>
                        <mat-chip *ngFor="let theme of selectedThemes" [removable]="true"
                            (removed)="onThemeRemoved(theme)">
                            {{ theme.name[currentLang] + '-' + theme.shortName[currentLang] }}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </mat-select-trigger>
                <mat-option *ngFor="let theme of themes" [value]="theme">{{ theme.name[currentLang] + '-' + theme.shortName[currentLang] }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <ng-container formGroupName="name">
        <div class="mdm-form-group" *ngFor="let language of languages">
            <div class="mdm-form-label">{{ 'Name' | translate }} ({{ language | translate }})</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <input matInput [formControlName]="language" placeholder="{{ 'IndicatorEditionPlaceholder.Name' | translate }}">
            </mat-form-field>
        </div>
    </ng-container>
    <ng-container formGroupName="description">
        <div class="mdm-form-group" *ngFor="let language of languages">
            <div class="mdm-form-label">{{ 'Description' | translate }} ({{ language | translate }})</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <input matInput [formControlName]="language" placeholder="{{ 'IndicatorEditionPlaceholder.Description' | translate }}">
            </mat-form-field>
        </div>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onSubmit()" class="mdm-button" [disabled]="indicatorForm.invalid">{{ 'SaveIndicator' | translate }}</button>
</mat-dialog-actions>