<button class="dialog-close" mat-icon-button mat-dialog-close (click)="onReset()">
    <mat-icon>close</mat-icon>
</button>
<h2 mat-dialog-title>{{ 'PartitionEdition' | translate }}</h2>
<mat-dialog-content [formGroup]="data" class="mdm-dialog partition-dialog">
    <div class="mdm-form-group">
        <div class="mdm-form-label-edition">{{ 'Name' | translate }}*</div>
        <mat-form-field appearance="outline" class="mdm-form-field partition-content">
            <input matInput formControlName="name" placeholder="{{ 'Disaggregation.AddNamePlaceholder' | translate }}">
            <mat-hint>
                <mat-icon>info</mat-icon>{{ 'Disaggregation.AddNameHint' | translate }}
            </mat-hint>
        </mat-form-field>
    </div>
    <div class="mdm-form-group partition-group">
        <div class="partition-label">{{ 'Elements' | translate }}</div>
        <table mat-table [dataSource]="elementsDataSource" class="mdm-table partition-content" formArrayName="elements" cdkDropList (cdkDropListDropped)="onMoveElement($event)">
            <ng-container matColumnDef="position">
                <th class="w-10" mat-header-cell *matHeaderCellDef></th>
                <td class="w-10" mat-cell *matCellDef="let element" id="position" style="cursor: pointer">
                    <mat-icon>unfold_more</mat-icon>
                </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th class="w-80" mat-header-cell *matHeaderCellDef>{{ 'Name' | translate }}*</th>
                <td class="w-80" mat-cell *matCellDef="let element; let index = index" id="name" [formGroupName]="index">
                    <mat-form-field appearance="outline" class="mdm-form-field">
                        <input matInput formControlName="name" placeholder="{{ 'Disaggregation.Placeholder.Name' | translate }}">
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th class="w-10" mat-header-cell *matHeaderCellDef></th>
                <td class="w-10" mat-cell *matCellDef="let element; let i=index" id="delete">
                    <button mat-icon-button class="delete-button" (click)="onRemoveElement(i)">
                        <mat-icon>close</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="add">
                <td mat-footer-cell *matFooterCellDef [attr.colspan]="elementsDisplayedColumns.length" class="add-row">
                    <button mat-stroked-button class="mdm-button small-button" (click)="onAddNewElement()">
                        <mat-icon>add</mat-icon>{{ 'Add' | translate }}
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="elementsDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: elementsDisplayedColumns;" cdkDrag></tr>
            <tr mat-footer-row *matFooterRowDef="['add']"></tr>
        </table>
        <mat-hint class="table-hint">
            <mat-icon>info</mat-icon>{{ 'Disaggregation.ElementsHint' | translate }}
        </mat-hint>
    </div>
    <div class="mdm-form-group partition-group">
        <div class="mdm-form-label-edition">{{ 'Aggregation' | translate }}*</div>
        <div class="mdm-form-field partition-content">
            <mat-form-field appearance="outline">
                <mat-select formControlName="aggregation" placeholder="{{ 'MissingComputation' | translate }}"
                    disableOptionCentering panelClass="myPanelClass">
                    <mat-option *ngFor="let aggregation of aggregations" [value]="aggregation.value">{{
                        aggregation.display | translate }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-hint class="aggregation-hint">
                <mat-icon>info</mat-icon>{{ 'Disaggregation.AggregationHint' | translate }}
            </mat-hint>
        </div>
    </div>
    <div class="mdm-form-group partition-group">
        <div class="mdm-form-label-edition">{{ 'Groups' | translate }}</div>
        <div class="mdm-form-field partition-content">
            <mat-checkbox formControlName="useGroups">{{ 'UseGroups' | translate }}</mat-checkbox>
            <mat-hint class="aggregation-hint">
                <mat-icon>info</mat-icon>{{ 'Disaggregation.GroupsHint' | translate }}
            </mat-hint>
        </div>
    </div>
    <div class="mdm-form-group partition-group" *ngIf="data.value.useGroups">
        <div class="mdm-form-label-edition"></div>
        <table mat-table [dataSource]="groupsDataSource" class="mdm-table" formArrayName="groups">
            <ng-container matColumnDef="position">
                <th class="w-10" mat-header-cell *matHeaderCellDef></th>
                <td class="w-10" mat-cell *matCellDef="let element" id="position">
                    <mat-icon>unfold_more</mat-icon>
                </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th class="w-40" mat-header-cell *matHeaderCellDef>{{ 'Name' | translate }}*</th>
                <td class="w-40" mat-cell *matCellDef="let element; let i=index" id="name" [formGroupName]="i">
                    <mat-form-field appearance="outline" class="mdm-form-field">
                        <input matInput formControlName="name" placeholder="{{ 'Name' | translate }}">
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="members">
                <th class="w-40" mat-header-cell *matHeaderCellDef>{{ 'Members' | translate }}</th>
                <td class="w-40" mat-cell *matCellDef="let element; let i=index" id="members" [formGroupName]="i">
                    <mat-form-field appearance="outline" class="mdm-form-field">
                        <mat-select formControlName="members" placeholder="{{ 'Members' | translate }}" multiple [compareWith]="memberDisplay">
                          <mat-option *ngFor="let element of elements.value" [value]="element">{{ element.name }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th class="w-10" mat-header-cell *matHeaderCellDef></th>
                <td class="w-10" mat-cell *matCellDef="let element; let i=index" id="delete">
                    <button mat-icon-button class="delete-button" (click)="onRemoveGroup(i)">
                        <mat-icon>close</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="add">
                <td mat-footer-cell *matFooterCellDef [attr.colspan]="groupsDisplayedColumns.length" class="add-row">
                    <button mat-stroked-button class="mdm-button small-button" (click)="onAddNewGroup()">
                        <mat-icon>add</mat-icon>{{ 'Add' | translate }}
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="groupsDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: groupsDisplayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="['add']"></tr>
        </table>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button class="mdm-button save-button" (click)="onSubmit()">
        <mat-icon>save</mat-icon>{{ 'ApplyChanges' | translate }}
    </button>
    <button mat-stroked-button class="mdm-button" (click)="onReset()">
        <mat-icon>undo</mat-icon>{{ 'ResetChanges' | translate }}
    </button>
    <button mat-stroked-button class="mdm-button delete-button" (click)="onDelete()">
        <mat-icon>delete</mat-icon>{{ 'Delete' | translate }}
    </button>
</mat-dialog-actions>
