@import "src/assets/theme/size_vars.scss";

.partition-dialog {
  display: flex;
  flex-direction: column;

  .partition-group {
    display: flex;
    justify-content: space-between;

    .partition-label {
      width: 10%;
      text-align: end;
      font-weight: bold;
    }
  }

  .partition-content {
    width: 88%;
  }
}

.mat-footer-cell {
  text-align: center;
}

th {
  font-size: $small_text;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  &.mat-header-cell {
    text-align: center;
  }
}

tr {
  display: flex;
  justify-content: center;
  width: 100%;
  background: white;
}

.td-icon {
  flex: 0.2;
}

.w-10 {
  width: 5% !important;
}

.w-40 {
  width: 40% !important;
}

.w-80 {
  width: 90% !important;
}

tr.mat-row {
  height: 40px !important;
}
tr.mat-header-row {
  height: 45px !important;
}

tr.mat-foot-row {
  height: 45px !important;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type  {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-icon-button {
  border-radius: 5px;
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-icon {
  width: unset;
  height: unset;
  font-size: 16px;
}

.hint {
  margin-left: 19%;
}

.mdm-form-label-edition {
  flex: 0.1;
  font-size: $small_text;
  text-align: right;
  padding-right: 30px;
  font-weight: bold;
}

