@import "src/assets/theme/size_vars.scss";
@import "src/assets/theme/color_vars.scss";

.dialog-body {
  display: flex !important;
  flex-direction: column;
  min-width: 900px;
  width: auto;
  padding: 0px 12px !important;
}

.panel-title {
  font-size: $normal_text;
  color: $black;
  margin: 0;
}

.single-option {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
  height: 48px;
  font: 400 15px "Neutra-Text", "Neutra", sans-serif;
  letter-spacing: normal;
  padding: 0 24px;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  mat-checkbox {
    height: fit-content;
  }
}

.single-option:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.mdm-form-label {
  flex: 0.1;
}
