:host {
    width: 300px;
}

.project-header {
    border-bottom: 1px solid rgba(144, 144, 144, 0.24);

    .project-country {
        height: 100%;
    }

    .project-header-icon {
        margin-left: auto;
    }
}

.project-info {
    display: flex;
    font-size: 14px;
    margin-bottom: 8px;

    .project-info-title {
        flex: 1;
        color: #909090;
    }
    .project-info-value {
        flex: 1;
    }
}