<mat-card>
    <mat-card-header class="project-header">
        <div mat-card-avatar>
            <img [src]="project.countryImage" class="project-country">
        </div>
        <mat-card-title>{{project.country}}</mat-card-title>
        <mat-icon svgIcon="person" class="project-header-icon"></mat-icon>
    </mat-card-header>
    <mat-card-content>
        <mat-chip-list>
            <mat-chip>{{status}}</mat-chip>
        </mat-chip-list>
        <div class="project-info">
            <div class="project-info-title">Nom</div>
            <div class="project-info-value">{{project.name}}</div>
        </div>
        <div class="project-info">
            <div class="project-info-title">Date</div>
            <div class="project-info-value">{{project.start  | date: 'mediumDate'}} - {{project.end  | date: 'mediumDate'}}</div>
        </div>
        <div class="project-info">
            <div class="project-info-title">Thématiques</div>
            <div class="project-info-value">
                <div *ngFor="let theme of themesNames">{{theme}}</div>
            </div>
        </div>
        <div class="project-info">
            <div class="project-info-title">Dernière saisie</div>
            <div class="project-info-value">{{project.inputDate ? (project.inputDate | date: 'mediumDate') : 'Aucune'}}</div>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-stroked-button [routerLink]="['/project', project._id]">Ouvrir</button>
        <button mat-stroked-button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>expand_more</mat-icon></button>
    </mat-card-actions>
</mat-card>

<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>content_copy</mat-icon>
        <span>Clone</span>
    </button>
    <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
    </button>
</mat-menu>