<div class="card">
    <div class="country-info">
        <div>
            <img class="icon flag" src={{project.countryImage}} />
            <p>{{project.country}}
            </p>
        </div>
        <img class="icon" src="assets/icons/012.svg" />
    </div>
    <div class="separator"></div>
    <div class="state">
        <p>{{state}}</p>
    </div>
    <div class="project-info-row">
        <div class="info">Nom</div>
        <div class="value">{{project.name}}</div>
    </div>
    <div class="project-info-row">
        <div class="info">Date</div>
        <div class="value">{{project.start.getDate()}}
            {{project.start.toLocaleString('default', { month: 'long' })}} {{project.start.getFullYear()}} -
            {{project.end.getDate()}}
            {{project.end.toLocaleString('default', { month: 'long' })}} {{project.end.getFullYear()}}</div>
    </div>
    <div class="project-info-row">
        <div class="info">Thématiques</div>
        <div class="thematics">
            <div *ngFor="let theme of themesNames" class="value">{{theme}}</div>
        </div>
    </div>
    <div class="project-info-row">
        <div class="info">Dernière saisie</div>
        <div *ngIf="project.inputDate == null" class="value">Aucune</div>
        <div *ngIf="project.inputDate != null" class="value">{{project.inputDate.getDate()}}
            {{project.inputDate.toLocaleString('default', { month: 'long' })}} {{project.inputDate.getFullYear()}}</div>
    </div>
    <div class="btn-group">
        <button>Ouvrir</button>
        <button><img class="icon" src="assets/icons/016.svg" /></button>
    </div>
</div>