<button class="dialog-close" mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
</button>
<mat-dialog-content class="dialog-body" style="max-width: 800px;">
    <div style="margin-bottom: 32px;"></div>
    <div class="null-warning" *ngIf="warning">
        <mat-icon>info</mat-icon>
        <div>
            <span>{{this.data.messageId | translate}}</span>
        </div>
    </div>
    <p *ngIf="!warning">{{this.data.messageId | translate}}</p>
    <mat-checkbox *ngIf="this.data.messageId === 'DelayWarning'" color="primary" [(ngModel)]="checkbox">{{ 'Understood' | translate }}</mat-checkbox>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="!noActions">
    <button mat-stroked-button (click)="cancel()" class="mdm-button">{{ 'Cancel' | translate }}</button>
    <button mat-stroked-button (click)="confirm()" class="mdm-button save-button">{{ 'Confirm' | translate }}</button>
</mat-dialog-actions>