<button class="dialog-close" mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>{{ 'UseExistingDisaggregation' | translate }}</h2>
<mat-dialog-content [formGroup]="partitionsForm" class="mdm-dialog">
    <div class="mdm-form-group">
        <div *ngFor="let partition of allPartitions" class="check-panel">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-checkbox [formControl]="partitionsForm.get(partition.id)">
                                {{ partition.name }}
                            </mat-checkbox>
                        </mat-panel-title>
                        <mat-panel-description>
                            {{ 'Details' | translate }}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="check-panel-section elements-section">
                        <h2>{{ 'Elements' | translate }}</h2>
                        <mat-chip-list>
                            <mat-chip *ngFor="let element of partition.elements">{{ element.name }}</mat-chip>
                        </mat-chip-list>
                    </div>
                    <div class="check-panel-section aggregations-section">
                        <h2>{{ 'Aggregation' | translate }}</h2>
                        <mat-chip-list>
                            <mat-chip>{{ partition.aggregation }}</mat-chip>
                        </mat-chip-list>
                    </div>
                    <div class="check-panel-section groups-section" *ngIf="partition.groups.length">
                        <h2>{{ 'Groups' | translate }}</h2>
                        <mat-chip-list>
                            <mat-chip *ngFor="let group of partition.groups">{{ group.name }}</mat-chip>
                        </mat-chip-list>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onSubmit()" class="mdm-button save-button">{{ 'ApplyChanges' | translate }}</button>
</mat-dialog-actions>