<button class="dialog-close" mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
<mat-dialog-content [formGroup]="partitionsForm" class="mdm-dialog">
    <div class='minimize-button-section'>
        <h3>{{ 'UseExistingDisaggregation' | translate }}</h3>
        <button mat-stroked-button class="mdm-button" *ngIf="allPanelsAreClosed; else elseBlock" (click)="maximizePanels()">{{ 'Maximize' | translate }}<mat-icon>add</mat-icon></button>
        <ng-template #elseBlock>
            <button mat-stroked-button class="mdm-button" (click)="minimizePanels()">{{ 'Minimize' | translate }}<mat-icon>remove</mat-icon></button>
        </ng-template>

    </div>
    <div class="mdm-form-group existing">
        <div *ngFor="let partition of allPartitions; let i = index" class="check-panel">
            <mat-accordion>
                <mat-expansion-panel [expanded]="panelStates[i]" (opened)="openPanel(i)" (closed)="closePanel(i)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-checkbox [formControl]="partitionsForm.get(partition.id)" (click)="togglePanel(i)">
                                {{ partition.name }}
                            </mat-checkbox>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="check-panel-section elements-section">
                        <h3>{{ 'Elements' | translate }}</h3>
                        <mat-chip-list>
                            <mat-chip *ngFor="let element of partition.elements">{{ element.name }}</mat-chip>
                        </mat-chip-list>
                    </div>
                    <div class="check-panel-section aggregations-section">
                        <h3>{{ 'Aggregation' | translate }}</h3>
                        <mat-chip-list>
                            <mat-chip>{{ partition.aggregation }}</mat-chip>
                        </mat-chip-list>
                    </div>
                    <div class="check-panel-section groups-section" *ngIf="partition.groups.length">
                        <h3>{{ 'Groups' | translate }}</h3>
                        <mat-chip-list>
                            <mat-chip *ngFor="let group of partition.groups">{{ group.name }}</mat-chip>
                        </mat-chip-list>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onSubmit()" class="mdm-button save-button">{{ 'ApplyChanges' | translate }}</button>
</mat-dialog-actions>