<div class="info-section blue">
    <p>{{ 'ProjectsUserInfo.0' | translate }}</p>
    <p>{{ 'ProjectsUserInfo.1' | translate }}</p>
</div>
<ng-container cdkDropListGroup>
    <div class="mdm-cards">
        <ng-container *ngFor="let user of users; let i=index">
            <div class="mdm-card" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="{item:user,index:i}" (cdkDropListDropped)="drop($event)">
                <app-user cdkDrag [user]="user" (delete)="onDelete($event)" (edit)="onEdit($event)">
                    <div cdkDragHandle>
                        <mat-icon>drag_indicator</mat-icon>
                    </div>
                </app-user>
            </div>
        </ng-container>
    </div>
</ng-container>
<button mat-stroked-button (click)="openDialog()" class="mdm-button">
    <mat-icon>add</mat-icon>
    {{ 'AddNewUser' | translate }}
</button>