<div class="info-section">
    <p>Le rôle de cette section est de fournir à Monitool les données qui lui permettront de calculer vos indicateurs.</p>
    <p>Chaque source de données renseignée lors de la formalisation du projet donne lieu à des formulaires réguliers.</p>
</div>
<div class="info-section blue">
    <p>Lors de la saisie de données, la touch Tab de votre clavier vous permet de naviguer entre les cases.</p>
    <p>Pour revenir à la case précédente, utilisez Shift + Tab</p>
</div>
<div class="info-section blue">
    <p>Une version imprimable de chaque formulaires est disponible.</p>
    <p>Si vous disposez de plusieurs formulaires papier à saisir (par exemple, un par travailleur social), et que désirez les additioner, vous pouvez rentrer des sommes dans les cases de saisies: "1 + 2 + 3"</p>
</div>

<table mat-table [dataSource]="taskDataSource" class="mdm-table">
    <!-- Task Column -->
    <ng-container matColumnDef="task">
        <th mat-header-cell *matHeaderCellDef>{{ 'Task' | translate }}</th>
        <td mat-cell *matCellDef="let element" id="task"> 
            <span>{{'FillThe' | translate}} </span>
            <span>{{ element.total }}</span>
            <span> {{'FormsOf' | translate}} </span>
            <span><button mat-stroked-button class="mdm-button small-button" [routerLink]="element.routerLink"><mat-icon svgIcon="{{ element.buttonIcon }}"></mat-icon>{{ element.buttonText }}</button></span>
        </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>{{ 'State' | translate }}</th>
        <td mat-cell *matCellDef="let element" id="status"> 
            <app-progress-bar-triple [done]="element.done" [ongoing]="element.ongoing" [missing]="element.missing" [total]="element.total"></app-progress-bar-triple>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>