.partitions-list {
  flex: 1;
  width: 100%;

  .partitions-buttons {
    margin: 0 -4px;

    button {
      margin: 4px;
    }
  }
}

.hint {
  font-size: 75%;
  padding: 1em 1em;
}

.hint mat-icon {
  font-size: inherit;
  width: 1em;
  height: 1em;
}
