<div class="info-section blue">
    <p>{{ "CrossCuttingInfo.0" | translate }}</p>
    <p>{{ "CrossCuttingInfo.1" | translate }}</p>
</div>
<ng-container *ngFor="let x of ['required', 'nonRequired']">
  <h2 *ngIf="this[x].length > 0">{{(x === 'required' ? "RequiredThematic" : "Thematic") | translate}}</h2>
  <mat-accordion>
      <mat-expansion-panel hideToggle *ngFor="let indicator of this[x]">
      <mat-expansion-panel-header style="min-height: fit-content;">
          <div class="panel-flex">
              <div [class.configured]="indicator.configured"></div>
              <!-- <mat-checkbox color="primary" (click)="$event.stopPropagation();" (change)="selectIndicator($event.checked, indicator.id)" [checked]="selectedIndicatorIds[indicator.id]"></mat-checkbox> -->
              <mat-chip-list style="padding: 12px 0;">
                  <div *ngFor="let theme of indicator.themes" [matTooltip]="theme.name[currentLang]" [matTooltipShowDelay]="200">
                      <mat-chip style="pointer-events: none;">
                          {{ theme.shortName[currentLang] }}
                      </mat-chip>
                  </div>
              </mat-chip-list>
              <p>{{ indicator.display[currentLang] }}</p>
              <div>
                  <button mat-icon-button
                      *ngIf="indicator.configured"
                      (click)="$event.stopPropagation(); onEditIndicator(indicator)"
                      [matTooltip]="'Edit' | translate" [matTooltipShowDelay]="200"
                  >
                      <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button
                      *ngIf="!indicator.configured"
                      (click)="$event.stopPropagation(); onEditIndicator(indicator)"
                      [matTooltip]="'Add' | translate" [matTooltipShowDelay]="200"
                  >
                      <mat-icon>add</mat-icon>
                  </button>
                  <button mat-icon-button
                      *ngIf="indicator.configured"
                      (click)="$event.stopPropagation(); onDelete(indicator)"
                      [matTooltip]="'Reset' | translate" [matTooltipShowDelay]="200"
                  >
                      <mat-icon>restart_alt</mat-icon>
                  </button>
              </div>
          </div>
      </mat-expansion-panel-header>
      <div class="panel-description">
          <div class="separator"></div>
          <div class="panel-flex-description">
              <p><b>{{'Description' | translate}}:</b></p>
              <div [innerHTML]="indicator.description[currentLang]"></div>
          </div>
          <div class="panel-flex-description">
              <p><b>{{(indicator.configured ? "Computation" : "proposedCalc") | translate}}:</b></p>
              <p>{{
                indicator.type === 'unavailable' ?
                  ((indicator.configured ? 'Enum.Computation.unavailable' : 'Enum.Computation.none') | translate) :
                  ( indicator.type !== 'formula' ?
                    ('Enum.Computation.' + indicator.type | translate) :
                    indicator.computation.formula)
              }}</p>
          </div>
      </div>
      </mat-expansion-panel>
      <!-- <div *ngIf="indicators.length > 0 && filteredIndicators.length === 0" class="no-result">
          {{"no-indicator-match" | translate}}
      </div> -->
  </mat-accordion>
</ng-container>
