@import "src/assets/theme/size_vars.scss";
@import "src/assets/theme/color_vars.scss";

.big-table {
  max-height: 76vh !important;
}

.table-scroll {
  z-index: 3 !important;
  width: 100%;
  max-height: 67vh;
  overflow: auto;
  border: solid 0.5px $table_border;

  table {
    z-index: 3 !important;
    width: 100%;
    table-layout: fixed;
    position: relative;
  }

  .mat-column-icon {
    width: 35px;
  }

  .mat-column-baseline,
  .mat-column-target {
    width: 50px;
  }

  .mat-column-name {
    width: 300px;
    @media screen and (max-width: $breakpoint-xs) {
      width: 150px;
    }
  }

  .mat-column-title,
  .mat-column-groupName {
    border-right: none !important;
    padding-left: 5px;
    min-width: 100vw !important;

    mat-icon {
      margin-top: 6px;
      font-size: 18px;
      width: 18px;
    }
  }

  .mat-column-title_stick,
  .mat-column-group_stick {
    border-left: none !important;
    border-right: none !important;
  }

  th {
    overflow: hidden;
    width: 68px;
    border: solid 0.5px $table_border !important;
    color: $grey;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    padding: 0 !important;
  }

  .mat-column {
    width: 50px;
  }
  td {
    z-index: 3 !important;
    padding: 0;
    font-size: 13px;
    text-align: center;
    color: $grey;
    border: solid 1px $table_border !important;
    word-break: break-word;
    &.value-cell {
      border-left-width: 0.5px;
      border-left-style: solid;
      border-left-color: $table_report_border_left_color;
      &.empty {
        background-color: $table_report_empty_cell_background;
      }
    }
  }


  tr.mat-row {
    z-index: 3 !important;
    height: 26px !important;
    overflow: hidden;
  }

  .blue-hover {
    .mat-cell {
      color: #1c1c1c;
    }
  }

  .blue-hover:hover {
    .mat-cell {
      color: #005ec5;
    }
  }

  tr.example-detail-row {
    z-index: 3 !important;
    height: 0;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    z-index: 3 !important;
    background: $table_hover_background;
    cursor: pointer;
  }

  tr.example-element-row:not(.example-expanded-row):active {
    z-index: 3 !important;
    background: $table_report_background;
  }

  .example-element-detail {
    z-index: 3 !important;
    overflow: hidden;
  }

  .gradient-background {
    background-image: repeating-linear-gradient(
      -45deg,
      rgb(255, 255, 255),
      rgb(255, 255, 255) 3px,
      rgb(240, 240, 240) 0px,
      rgb(240, 240, 240) 6px
    );
  }

  .error {
    z-index: 3 !important;
    background-color: $table_report_error_background;
    text-align: left;
    border-left-width: 0.5px;
    border-left-style: solid;
    border-left-color: $table_report_border_left_color;
    padding-left: 5px;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0px 15px 0px 15px;
    height: 30px;

    mat-icon {
      transform: scale(.7);
      opacity: .6;
    }

    div {
      margin-bottom: -2px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    app-reporting-menu {
      margin-left: auto;
    }

  }

  .mat-icon.NaN {
    font-size: $very_small_text;
    line-height: 24px;
  }

  .groupName {
    padding-left: 15px;

    p {
      position: relative;
      padding: 4px;
      margin: -4px;
      padding-right: 10px;
      width: calc(100vw - 105px - 254px - 15px);
      text-align: start;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: bold;

      @media screen and (max-width: $breakpoint-sm) {
        width: calc(100vw - 140px - 15px);
      }
    }
  }

  .title {
    font-weight: bold;
    font-size: 13px;
    color: $grey;
    div {
      position: relative;
      display: flex;
      align-items: center;
      padding-right: 10px;
      gap: 5px;
      width: calc(100vw - 60px - 254px - 15px);

      p {
        text-align: start;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      @media screen and (max-width: $breakpoint-sm) {
        width: calc(100vw - 95px - 15px);
      }
    }

  }

  .mdm-button {
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: $grey;
  }

  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    //z-index: 3 !important;
    padding-left: 5px !important;
  }

  .clicked {
    background-color: $report_button_clicked_graph_background;
  }

  .disabled {
    background-color: $report_button_disabled_graph_background !important;
  }
}

.table-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}

.table-scroll::-webkit-scrollbar:vertical {
  width: 11px;
}

.table-scroll::-webkit-scrollbar:horizontal {
  height: 11px;
}

.table-scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

.table-scroll::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}

tr.mat-header-row {
  height: 34px !important;
}

.mat-column-_total {
  color: #1c1c1c !important;
}

// CSS black magic
.comment-cell {
  overflow: hidden;
}
.comment-cell:after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: -12px;
  right: -12px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #005ec5;
  outline: white solid 1px;
}

.cell-content {
  min-height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lastUpdate {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  height: 28.5px;

  p {
    margin: 0;

    span {
      text-transform: uppercase;
    }
  }

  mat-icon {
    cursor: pointer;
    margin-top: -2px;
  }
  mat-icon:hover {
    color: #005ec5;
  }

  .disabled {
    opacity: .5;
  }
  .disabled:hover {
    color: unset;
    opacity: .5;
  }
}
