@import "src/assets/theme/size_vars.scss";
@import "src/assets/theme/color_vars.scss";

.big-table {
  max-height: 76vh !important;
}

.table-scroll {
  width: 100%;
  max-height: 71vh;
  overflow: auto;
  border: solid 0.5px $table_border;


  table {
    width: 100%;
    table-layout: fixed;
    position: relative;
  }
  
  .mat-column-icon {
    width: 50px;
  }

  .mat-column-name {
    width: 300px;
    @media screen and (max-width: $breakpoint-xs) {
      width: 150px;
    }
  }

  .mat-column-title, .mat-column-groupName {
    border-right: none !important;
    width: 100vw !important;
  }

  .mat-column-title_stick, .mat-column-group_stick {
    border-left: none !important;
  }

  th {
    overflow: hidden;
    width: 85px;
    margin-right: 30px;
    border: solid 0.5px $table_border !important;
    color: $title_black;
    font-weight: bold;
    text-align: center;
  }
  
  .mat-column {
    width: 50px;
  }
  td {
    padding: 0 !important;
    font-size : $small_text;
    text-align: center;
    border: solid 1px $table_border !important;
    &.value-cell{
      border-left-width: 0.5px;
      border-left-style: solid;
      border-left-color: $table_report_border_left_color;
      &.empty{
        background-color: $table_report_empty_cell_background;
      }
    }    
  }
  
  th.mat-header-cell {
    font-size: $small_text;
    margin: 0px 10px;
  }
  
  tr.mat-row {
  height: 30px !important;
  overflow: hidden;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: $table_hover_background;
    cursor: pointer;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: $table_report_background;
  }
  
  
  .example-element-detail {
    overflow: hidden;
  }
  
  .gradient-background{
    background-image: repeating-linear-gradient(-45deg, rgb(255, 255, 255), rgb(255, 255, 255) 3px, rgb(240, 240, 240) 0px, rgb(240, 240, 240) 6px);
  }

  .error{
    background-color: $table_report_error_background;
    text-align: left;
    border-left-width: 0.5px;
    border-left-style: solid;
    border-left-color: $table_report_border_left_color;
    padding-left: 5px;
  } 
  
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    height: 30px;
    div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    
  }

  .mat-icon.NaN{
    font-size: $very_small_text;
    line-height: 24px;
  }
  
  .groupName{
    padding-left: 15px;
    text-align: left;
  }
  
  .title{
    font-weight: bold;
    font-size: $small_text;
    div {
      display: flex;
      align-items: center;
    }
  }
  
  .mdm-button {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  
  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 10px !important;
  }

  .clicked {
    background-color: $report_button_clicked_graph_background;
  }

  .disabled {
    background-color: $report_button_disabled_graph_background !important;
  }
}
