.collapse {
  border-collapse: collapse !important;
}

.title {
  border: 1px solid #c4c4c4;
  border-collapse: collapse;
  background-color: #e1e1e1;
  font-weight: 520;
  padding: 5px;
}

.empty {
  border: 1px solid #c4c4c4;
  border-collapse: collapse;
  background-color: #e1e1e1;
  font-weight: 520;
  padding: 5px;
  color: #e1e1e1;
}

.data {
  border: 1px solid #c4c4c4;
  border-collapse: collapse;
  background-color: white;
  padding: 5px;
}
