<div class="info-section blue">
    <p>{{ "ExtraIndicatorsInfo.0" | translate }}</p>
    <p>{{ "ExtraIndicatorsInfo.1" | translate }}</p>
</div>
<div [formGroup]="extraIndicatorsForm" class="mdm-section">
    <div class="indicators-list" formArrayName="indicators">
        <div *ngIf="project.extraIndicators.length !== 0; else elseBlock" class="mdm-cards" cdkDropListGroup>
            <div class="mdm-card" *ngFor="let indicator of indicators.controls; let i=index" [cdkDropListData]="{indicator:indicator,index:i}" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
                <app-extra-indicator cdkDrag cdkDragBoundary=".mdm-cards" [extraIndicator]="indicator.value" (edit)="onEditIndicator(indicator, i)" (delete)="onDeleteIndicator(i)">
                    <div *cdkDragPlaceholder></div>
                    <div cdkDragHandle>
                        <mat-icon>drag_indicator</mat-icon>
                    </div>
                </app-extra-indicator>
            </div>
        </div>
        <ng-template #elseBlock>
          <p>{{ 'NoExtraIndicator' | translate }} </p>
        </ng-template>
        <button mat-stroked-button class="mdm-button" (click)="onAddNewIndicator()"><mat-icon>add</mat-icon>{{ 'AddIndicator' | translate }}</button>
    </div>
</div>

