<div class="info-section blue">
    <p>{{ "ExtraIndicatorsInfo.0" | translate }}</p>
    <p>{{ "ExtraIndicatorsInfo.1" | translate }}</p>
</div>

<div *ngIf="extraIndicators.length !== 0; else elseBlock" >
    <div class="mdm-section">
        <div class="mdm-cards">
            <app-extra-indicator *ngFor="let extraIndicator of extraIndicators" class="mdm-card" [extraIndicator]="extraIndicator"></app-extra-indicator>
        </div>
    </div>
</div>

<ng-template #elseBlock>
    <p>{{ 'NoExtraIndicator' | translate }} </p>
</ng-template>

<div class="mdm-section">
    <button mat-stroked-button class="mdm-button"><mat-icon>add</mat-icon>{{ 'AddIndicator' | translate }}</button>
</div>