<div class="info-section blue">
    <p>{{ "ExtraIndicatorsInfo.0" | translate }}</p>
    <p>{{ "ExtraIndicatorsInfo.1" | translate }}</p>
</div>
<div [formGroup]="extraIndicatorsForm" class="mdm-section">
    <div class="indicators-list" formArrayName="indicators">
        <div *ngIf="project.extraIndicators.length !== 0; else elseBlock" class="mdm-cards" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
            <app-extra-indicator  *ngFor="let indicator of indicators.controls; let i=index" cdkDrag class="mdm-card" [extraIndicator]="indicator.value" (edit)="onEditIndicator(indicator, i)" (delete)="onDeleteIndicator(i)">
                <div cdkDragHandle>
                    <mat-icon>drag_indicator</mat-icon>
                </div>
            </app-extra-indicator>
        </div>
        <ng-template #elseBlock>
          <p>{{ 'NoExtraIndicator' | translate }} </p>
        </ng-template>
        <button mat-stroked-button class="mdm-button" (click)="onAddNewIndicator()"><mat-icon>add</mat-icon>{{ 'AddIndicator' | translate }}</button>
    </div>
</div>

