@import "src/styles.scss";


.breadcrumb{
  font-size: 20px;
  color:#7f869b;
  .page-name{
    color: #151515;
  }
}
.section-title{
  padding: 2%;
  background-color: #d9edf7;
  color: #31708f;
}

.users{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: -1.9%;
    margin-left: -1.6%;

    app-user{
    width: 30%;
    margin: 1.6%;
    }
    @media screen and (max-width: $break-point-four-to-three) {
      justify-content: space-between;
      app-user{
        width: 40%;
        }
  }
  @media screen and (max-width: $break-point-three-to-two) {
    margin-right: 0;
    margin-left: 0;
    justify-content: center;
    app-user{
      width: 60%;
      margin: 0;
      margin-bottom: 20px;
      }
  }
  @media screen and (max-width: $break-point-two-to-one) {
    app-user{
      width: 100%;
      }
  }
  }
