:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100% - 25px);

  .action-bar {
    max-width: 250px;
    width: 100%;
    align-self: flex-end;
  }
  
  button {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
      margin-top: 2px;
    }
  }

  .filter-section {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
  }

  .search-bar {
    align-self: flex-end;
  }
}