<div class="info-section blue">
    <p>Cette page contient la liste de tous les utilisateurs qui se sont connectés au moins une fois sur Monitool</p>
    <p>Il n'est pas nécessaire de créer de comptes pour les nouveaux utilisateurs si ceux-ci possède un compte Médecins du Monde: après leur première connexion ils apparaitront automatiquement ici. Pour les utilisateurs hors MDM, il est possible de créer des comptes partenaires depuis l'interface de gestion des projets.</p>
</div>
<mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let user of users">
        <app-user [user]="user"></app-user>
    </mat-grid-tile>
</mat-grid-list>