@import "src/styles.scss";

.card {
    box-shadow: 0 4px 13px 1px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    padding: 12px 3%;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 2px transparent;
     height: 300px;
    
     .sidebar-title{
       font-size: 20px;
       font-weight: bold;
       color: #1c1c1c;
     }

     

     .sidebar-element{
       display: flex;
       align-items: center;
       margin-bottom: 10%;
      .icon{
        height: 24px;
        width: 24px;
        margin-right: 5px;
          }
      a{
        font-size: 18px;
        color: #716e6e;
        border-radius: 8px;
        padding: 10px 20px;
        text-align: center;
        white-space: nowrap;
        text-decoration: none;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
       }  
       
      &:hover {
        a{
        color: #0266b3;}
        svg .svg-icon{
          fill: #0266b3;
        }
    }  
}
.active-link {
  a{
    color: #0266b3;}
    svg .svg-icon{
      fill: #0266b3;
    }
}
@media screen and (max-width: $break-point-four-to-three) {
  display: flex;
  justify-items: center;
  align-items: center;
  
  flex-wrap: wrap;
  height: 150px;
  .sidebar-title{
    justify-self: center;
  
  }
  .sidebar-options{
    display: flex;
    justify-content: center;
    .sidebar-element{
      margin-bottom: 0;
    }
  }
}
@media screen and (max-width: $break-point-three-to-two) {
  flex-direction: column;
  height: 300px;
  align-content: center;
  .sidebar-options{
    flex-direction: column;
    
  .sidebar-element{
    margin-bottom: 5%;
  }
}
}
  }