@import "src/assets/theme/size_vars.scss";

.progress-bar-triple {
    .progress-container {
        flex: 1;
        height: 20px;
        display: flex;
        border-radius: 6px;
        overflow: hidden;

        .progress {
            height: 100%;
            text-transform: lowercase;
            font-size: 0;
            color: white;
            display: flex;
            justify-content: center;
        }

        .done{
            background-color: #5cb85b;
        }
        .incomplete{
            background-color: #f0ad4e;
        }
        .missing{
            background-color: #d9534f;
        }
    }
}