<div class="progress-bar-triple">
    <div class="progress-percentage">
        <div class="done">{{done}}% {{ 'réalisé' | translate }}</div>
        <div class="incomplete">{{incomplete}}% {{ 'en cours' | translate }}</div>
        <div class="missing">{{missing}}% {{ 'manquant' | translate }}</div>
    </div>
    <div class="progress-container">
        <div class="done progress" [ngStyle]="{'width': done + '%'}"></div>
        <div class="incomplete progress" [ngStyle]="{'width': incomplete + '%'}"></div>
        <div class="missing progress" [ngStyle]="{'width': missing + '%'}"></div>
    </div>
</div>
