<div class="progress-bar-triple">
    <div class="progress-container">
        <div id="done" class="done progress" [ngStyle]="{'width': done + '%' }" matTooltip="{{done}}% {{ 'Done' | translate }}">
            {{done}}% {{ 'Done' | translate }}
        </div>
        <div id="ongoing" class="incomplete progress" [ngStyle]="{'width': ongoing + '%'}"
            matTooltip="{{ongoing}}% {{ 'Ongoing' | translate }}">{{ongoing}}%
            {{ 'Ongoing' | translate }}</div>
        <div id="missing" class="missing progress" [ngStyle]="{'width': missing + '%'}"
            matTooltip="{{missing}}% {{ 'Missing' | translate }}">{{missing}}%
            {{ 'Missing' | translate }}</div>
    </div>
</div>