.progress-bar-triple {
    // display: flex;
    align-items: center;

    .progress-percentage {
        // width: 33px;
        margin-right: 8px;
        
        .done{
            color: #5cb85b;
        }
        .incomplete{
            color: #f0ad4e;
        }
        .missing{
            color: #d9534f;
        }
    }

    .progress-container {
        flex: 1;
        height: 6px;
        margin-bottom: 10px;
        .progress {
            height: 100%;
            // border-radius: 3px;
            display: inline-block;
        }

        .done{
            background-color: #5cb85b;
        }
        .incomplete{
            background-color: #f0ad4e;
        }
        .missing{
            background-color: #d9534f;
        }
    }
}