    <app-object-grouping [project]="project" (dimensionEvent)="receiveDimension($event)"></app-object-grouping>

    <app-filter (filterEvent)="receiveFilter($event)" [project]="project" [showComments]="showComments" (showCommentsChange)="showComments = $event"></app-filter>

    <app-chart [data]="chartData" [name]="this.project.name"></app-chart>

    <app-reporting-table [dimensionIds]="dimensionIds" [filter]="filter" [tableContent]=tableContent [showComments]="showComments"></app-reporting-table>
