<app-object-grouping (dimensionEvent)="receiveDimension($event)"></app-object-grouping>

<app-filter (filterEvent)="receiveFilter($event)"></app-filter>

<app-chart [class.hide-chart]="!(chartData.datasets && chartData.datasets.length > 0)" [options]="options" [data]="chartData"></app-chart>

<app-reporting-table [dimensionIds]="dimensionIds" [filter]="filter" [tableContent]=tableContent ></app-reporting-table>
<!-- <app-report-table [dimensionIds]="dimensionIds" [filter]="filter"></app-report-table> -->
