    <app-object-grouping
      [project]="project"
      [filter]="{dimension: updatedDimension}"
      (dimensionEvent)="receiveDimension($event)"
    ></app-object-grouping>

    <app-filter
      (filterEvent)="receiveFilter($event)"
      [project]="project"
      [showComments]="showComments"
      (showCommentsChange)="showComments = $event"
      [showHidden]="showHidden"
      (showHiddenChange)="showHidden = $event; buildIndicators();"
      [userIsAdmin]="userIsAdmin"
      [filterEnd]="updatedFilterDate"
    >
    </app-filter>

    <app-chart [data]="chartData" [name]="this.project.name"></app-chart>

    <app-reporting-table
      [dimensionIds]="dimensionIds"
      [filter]="filter"
      [tableContent]=tableContent
      [showComments]="showComments"
      [userIsAdmin]="userIsAdmin"
      (userIsAdminChange)="updateUserIsAdmin($event)">
    </app-reporting-table>
