.mat-expansion-panel-header-description {
  button {
      color: black;
  }
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  color: black;
}
.mat-expansion-panel-header:not([aria-disabled=true]) {
  background-color: #f5f5f5 !important;
}
