@import "src/assets/theme/color_vars.scss";

.mat-expansion-panel-header-description {
  button {
      color: $activity_panel_button_color;
  }
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  color: $activity_panel_color;
}
.mat-expansion-panel-header:not([aria-disabled=true]) {
  background-color: $activity_panel_background !important;
}

.indicators-list {
  flex: 1;
  width: 100%;
  display: inline-block;
}

.button {
  margin-left: 18%;
}

