<div [formGroup]="outputForm">
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'Result' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <input matInput formControlName="description" placeholder="{{ 'Description' | translate }}">
            <mat-hint>
                <mat-icon>info</mat-icon>{{ 'Result-Result-SpecificObjective-Hint' | translate }}
            </mat-hint>
        </mat-form-field>
    </div>
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'Assumptions' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <input matInput formControlName="assumptions" placeholder="{{ 'Assumptions' | translate }}">
            <mat-hint>
                <mat-icon>info</mat-icon>{{ 'Assumptions-Result-SpecificObjective-Hint' | translate }}
            </mat-hint>
        </mat-form-field>
    </div>
    <div class= "mdm-section">
        <div class="mdm-form-label">{{ 'Indicators' | translate }}</div>
        <div class="indicators-list" formArrayName="indicators">
            <div class="mdm-cards">
                <ng-container class="mdm-card" *ngFor="let indicator of indicators.controls; let i=index">
                    <app-extra-indicator class="mdm-card" [extraIndicator]="indicator.value" (edit)="onEditIndicator(indicator, i)" (delete)="onDeleteIndicator(i)"></app-extra-indicator>
                </ng-container>
            </div>
            <button mat-stroked-button class="mdm-button" (click)="onAddNewIndicator()"><mat-icon>add</mat-icon>{{ 'AddIndicator' | translate }}</button>
            <mat-hint>
                <mat-icon>info</mat-icon>{{ 'AddIndicator-Result-SpecificObjective-Hint' | translate }}
            </mat-hint>
        </div>
    </div>
    <mat-accordion formArrayName="activities">
        <ng-container *ngFor="let activity of activities.controls; let i=index">
            <mat-expansion-panel [formGroupName]="i">
                <mat-expansion-panel-header>
                    <mat-panel-title>Activity {{i + 1}}: {{activity.value.description}}</mat-panel-title>
                    <mat-panel-description>
                        <button mat-stroked-button class="mdm-button" (click)="onRemoveActivity(i)"><mat-icon>delete</mat-icon>{{ 'RemoveActivity' | translate }}</button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-activity-edit [activityForm]="activity" [forms]="forms"></app-activity-edit>
            </mat-expansion-panel>
        </ng-container>
    </mat-accordion>
    <button mat-stroked-button class="mdm-button" (click)="onAddNewActivity()"><mat-icon>add</mat-icon>{{ 'AddActivity' | translate }}</button>
</div>
