<div class="container">
    <h1>{{'Informations.Cache.Title' | translate}}</h1>
    <div>
        <h2>{{'Informations.Cache.Section1.Title' | translate}}</h2>
        <p>
            {{'Informations.Cache.Section1.Content' | translate}}
        </p>
        <br>
        <h2>{{'Informations.Cache.Section2.Title' | translate}}</h2>
        <p>
            {{'Informations.Cache.Section2.Content1' | translate}}
        </p>
        <p>
            {{'Informations.Cache.Section2.Content2' | translate}}
        </p>
        <ul>
            <li><p [innerHTML]="transform('Informations.Cache.Section2.List.1')"></p></li>
            <li><p [innerHTML]="transform('Informations.Cache.Section2.List.2')"></p></li>
            <li><p [innerHTML]="transform('Informations.Cache.Section2.List.3')"></p></li>
        </ul>
        <p>
            {{'Informations.Cache.Section2.Content3' | translate}}
        </p>
    </div>
</div>

