<div class="container">
    <h1>FAQ cache</h1>
    <div>
        <h2>What is cache?</h2>
        <p>
            Web browsers assume the internet is slow. Since many websites use the same
            elements (like logos) on multiple pages, browsers download them only on 
            the first encounter so they need not be downloaded every time. The cache is
            where these downloaded elements are kept. Sometimes the browser loses track
            of what=E2=80=99s in the cache, resulting in display problems. Each browser
            allows you to clear the cache to start over, hopefully resolving those issues.
        </p>
        <br>
        <h2>How to refresh the page cache (hard refresh)?</h2>
        <p>
            In most browsers, you can perform a simple action to force a hard refresh.
            Hold down the Shift key on your keyboard and click on the reload icon on
            your browser's toolbar.
        </p>
        <p>
            There are also keyboard shortcuts to perform the equivalent hard refresh=
            .&nbsp;Because there are multiple ways to do the same action, they will be =
            listed below:
        </p>
        <ul>
            <li>
                <p>
                    <strong>Chrome, Firefox, or Edge on Windows:</strong>
                    Press <em>Ctrl+F5</em> (If that doesn't work, try <em>Shift+F5</em> or <em>Ctrl+Shift+R</em>).
                </p>
            </li>
            <li>
                <p><strong>Chrome or Firefox on Mac:</strong> Press <em>Shift+Command+R</em>.</p>
            </li>
            <li>
                <p><strong>Safari on Mac:</strong> There is no simple keyboard shortcut to
                force a hard refresh. Instead, press <em>Command+Option+E</em> to empty the
                cache, then hold down Shift and click Reload in the toolbar.</p>
            </li>
        </ul>
        <p>
            After you perform the hard refresh, you should see the web page go blank,
            and the reloading process will take longer than usual. That's because the
            browser is redownloading all of the data and images on the site.
        </p>
    </div>
</div>

