@import "src/assets/theme/size_vars.scss";
@import "src/assets/theme/color_vars.scss";


mat-hint mat-icon{
    font-size: inherit;
}

.mdm-dialog{
    padding: 0px 12px;
    .mdm-table{
        margin: 0px;
        tr{
            td {
                color: black;
            }
        }
    }
}

.mat-standard-chip .mat-chip-remove, .mat-standard-chip .mat-chip-trailing-icon {
    margin-left: 2px;
    margin-right: 0;
}

.mdm-form-group{
    font-size: $small_text;
    >.mdm-form-label{
        flex: 0.2;
        font-size: $small_text;
    }
}

.mat-form-field-wrapper{
    padding: 0px;
}

.mat-icon{
    margin: 0px;
}

.mdm-form-field{
    input{
        height: unset !important;
    }
}

.disaggregation-header{
    width: 50%;
}

.disaggregation-field{
    display: flex;
    gap: 6px;
    align-items: baseline;
    flex-wrap: wrap;
}

.error {
    color: rgb(217, 83, 79);
}

::ng-deep.mat-select-panel mat-option.mat-option {
    line-height: 20px;
    margin-bottom: 10px;
  }

::ng-deep .mat-option-text.mat-option-text {
    white-space: normal;
  }
