@import "src/assets/theme/size_vars.scss";

.chart-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  @media screen and (max-width: $breakpoint-xs) {
    flex-direction: column;
  }
  #currentChart {
    display: block;
    width: 85% !important;
    min-height: 400px;
    max-height: 400px;
    @media screen and (max-width: $breakpoint-xs) {
      width: 100% !important;
      margin-bottom: 20px;
    }
    position: relative;
  }

  .chart-extras {
      position: relative;
      height: 100%;
      margin: 0px 0px 0px 3%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      @media screen and (max-width: $breakpoint-xs-sm) {
        margin: 0;
      }
      @media screen and (max-width: $breakpoint-xs) {
        margin: 15px 0px 0px 0px;
      }

    .legend-box {
      position: absolute;
      top: 7px;
      display: flex;
      flex-direction: column;
      gap: 2px;

      @media screen and (max-width: $breakpoint-xs) {
        display: none;
      }

      .legend {
        display: flex;
        gap: 6px;
        align-items: center;

        .identifier {
          width: 36px;
          height: 16px;
        }

        .baseline {
          border: 2px dotted lightgrey;
          box-sizing: border-box;
        }

        .target {
          border: 2px dashed lightgrey;
          box-sizing: border-box;
        }

        p {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }
    }

    .action-buttons{
      display: flex;
      flex-direction: column;

      a, button{
        display: flex;
        align-items: center;
        .mat-icon{
          margin-right: 0px;
        }
        span {
          margin-left: 3px;
        }
        mat-select {
          position: absolute;
          opacity: 0;
        }
      }
    }
  }
}

.chart-field {
  border: solid 1px #e7e7e7;
  background: white;
  padding: 2em;
  display: flex;
  justify-content: center;
}

.hide-chart{
    display: none;
}


.selection-label {
  width: 90px;

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    margin: 0 !important;
  }
}
