@import "src/assets/theme/size_vars.scss";

#divChart {
  display: block;
  width: 60%;
  max-height: 400px;
  @media screen and (max-width: $breakpoint-sm) {
    width: 70%;
  }
  @media screen and (max-width: $breakpoint-xs) {
    width: 98%;
    max-height: 500px;
  }
  position: relative;
}

.chart-field {
  border: solid 1px #e7e7e7;
  background: white;
  padding: 2em;
  display: flex;
  justify-content: center;
}

.hide-chart{
    display: none;
}

.floating-button{
  position: absolute;
  top: 0px;
  right: 0px;
  a{
    .mat-icon{
      margin-right: 0px;
    }
  }
}