<mat-card class="with-header">
    <ng-content></ng-content>
    <mat-card-header class="card-header">
        <mat-card-title>{{ user.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="card-info">
            <div class="card-info-title">{{ 'Login' | translate }}</div>
            <div class="card-info-value">{{ login }}</div>
        </div>
        <div class="card-info">
            <div class="card-info-title">{{ 'Role' | translate }}</div>
            <div class="card-info-value">
                <mat-chip-list>
                    <mat-chip>{{ role | translate }}</mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <div class="card-info" *ngIf="user.role === 'input'">
            <div class="card-info-title">{{ 'CollectionSites' | translate }}</div>
            <div class="card-info-value">
                <div *ngFor="let group of groups">{{ group.name | translate }}</div>
                <div *ngFor="let entity of entities">{{ entity.name }}</div>
            </div>
        </div>
        <div class="card-info" *ngIf="user.role === 'input'">
            <div class="card-info-title">{{ 'DataSources' | translate }}</div>
            <div class="card-info-value">
                <div *ngFor="let dataSource of dataSources">{{ dataSource.name }}</div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions align="end" class="mdm-button-group">
        <button mat-stroked-button (click)="openDialog()" class="mdm-button small-button">{{ 'Edit' | translate }}</button>
        <button mat-stroked-button mat-icon-button [matMenuTriggerFor]="menu" class="mdm-button small-button"><mat-icon>expand_more</mat-icon></button>
    </mat-card-actions>
</mat-card>

<mat-menu #menu="matMenu">
    <button class="delete" (click)="onDelete()" mat-menu-item>
        <mat-icon class="delete">delete</mat-icon>
        <span>{{ 'Delete' | translate }}</span>
    </button>
</mat-menu>
