@import "src/assets/theme/size_vars.scss";
@import "src/assets/theme/color_vars.scss";

.background {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: $black;
    z-index: 101;
    display: none;

    @media screen and (max-width: $breakpoint-xs-sm) {
        display: none;
    }
}

.no-background {
    animation-name: darken-bg;
    animation-duration: 0.7s;
    opacity: 0.9;
    display: block;

    @keyframes darken-bg {
        from {opacity: 0;}
        to {opacity: 0.9;}
    }
}

.information-panel {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: auto;
    display: flex;
    background-color: $white;
    &.open{
        z-index: 102;
    }

    .information-panel-title {
        text-align: justify;
        h1 {
            text-align: center;
            color: $black;
        }
        h2 {
            text-align: center;
        }
    }

    .information-panel-toggle-btn {
        height: 100vh;
        width: 25px;
        cursor: pointer;
        background-color: #d9edf7;
        color: #31708f;
        display: flex;
        flex-direction: column;
        justify-content: center;

        mat-icon {
            align-self: center;
            // margin-top: 20px;
            // margin-bottom: 40vh;
        }
    }

    .information-panel-content {
        height: auto;
        overflow: scroll;
        margin-bottom: 20px;
        text-align: justify;
        display: none;

        .mat-expansion-panel-header {
            height: 40px !important;
            padding-top: 12px;

            .panel-title {
                font-size: $normal_text;
                color: $black;
            }
    
            @media screen and (max-width: $breakpoint-xs-sm) {             
                padding: 12px 16px !important;
                height: auto !important;

                .panel-title {
                    font-size: $normal_text !important;
                }
            }
        }
    }

    .not-displayed {
        animation-name: slide-right;
        animation-duration: 0.5s;
        width: 0px;
        display: block;

        @keyframes slide-right {
            from {width: 700px;}
            to {width: 0px;}
        }

        @media screen and (max-width: $breakpoint-xs-sm) {
            animation: none;
        }
    }

    .displayed {
        animation-name: slide-left;
        animation-duration: 0.7s;
        display: block;
        width: 700px;
        padding: 20px;
    
        @keyframes slide-left {
            from {width: 0px;}
            to {width: 700px;}
        }

        @media screen and (max-width: $breakpoint-xs-sm) {
            width: 100%;
            animation: none;
        }
    }
}

.mat-expansion-panel {
    color: inherit !important;
}

ol, ul {
    margin: 0;
}

.new {
    display: flex;
    gap: 6px;
    margin-right: 8px;
    color: #005ec5;
    position: relative;
    min-width: max-content;
    overflow: hidden;
    align-items: center;

    p {
        font-weight: bold;
    }

    mat-icon {
        font-size: 16px;
        height: 16px;
        width: 16px;
        margin-top: -2px;
        margin-bottom: 8px;
    }
}

/* Shine */
.new:after {
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%
    );
}

.mat-expansion-panel:hover {

    .new:after {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 1s, 1s, 0.15s;
        transition-timing-function: ease;
    }
    .new:active:after {
        opacity: 0;
    }
}

li {
    margin-bottom: 8px;
    p {
        margin: 0;
    }
}

.modalTable {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;

    tr {
        color: black;
        font-size: 14px;

        th, td {
            border: 1px solid #ccc;
            padding: 0 4px;
        }

        th {
            background-color: #eeeeee;
            text-align: left;
        }

        td {
            &.error {
                background-color: rgb(217, 83, 79);

                &.clear {
                    color: rgb(217, 83, 79);;
                }
            }
            &.correct {
                border: 2px solid #5386fb;

                &.clear {
                    color: #5386fb;
                }
            }
            &.clear {
                background-color: transparent;
                border-color: transparent;
                font-weight: bold;
                text-align: left;
                line-height: normal;
                vertical-align: text-top;
            }
        }

        &:not(:first-child) > th {
            font-weight: normal;
        }
    }
}

.buttons {
    pointer-events: none;
    display: flex;
    gap: 12px;

    button {
        border-radius: 4px;
    }

    .complete-button {
        background-color: #5cb85c;
    }
}

.input-variants-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    
    tr {
        font-size: 14px;

        th, td {
            border: 1px solid #ccc;
            padding: 0 4px;
        }

        td:first-child {
            font-weight: bold;
            width: 15%;
          }

        th {
            text-align: center;
            min-width: 154px; // taking into account the width of max length of word possible.
        }
        td{
            text-align: center;
            padding: 0;

            div, button{
                width: 100%;
            }

            button {
                border-radius: 4px !important;
                font-size: 14px;
            }

            .completed-button {
                color: white;
                background-color: #5cb85c;
                border-color: #4cae4c !important;
            }

            .create-button{
                color: white;
                background-color: rgb(49, 112, 143);
                border-color: rgb(49, 112, 143) !important;
            }
        }
    }
}