<div class="background" (click)="closeDisplay()" [ngClass]="firstDisplayed ? (displayed ? 'no-background' : '') : ''"></div>
<div class="information-panel" [ngClass]="displayed ? 'open' : ''">
    <div class="information-panel-toggle-btn" (click)="toggleDisplay()">
        <mat-icon *ngIf="displayed">keyboard_arrow_right</mat-icon>
        <mat-icon *ngIf="!displayed">keyboard_arrow_left</mat-icon>
    </div>
    <div class="information-panel-content" [ngClass]="firstDisplayed ? (displayed ? 'displayed' : 'not-displayed') : ''">
        <div class="information-panel-title">
            <h1>{{ 'InformationPanel.FAQ' | translate }}</h1>
            <h2>{{ informations[0]?.res1 | translate }}</h2>
            <p [innerHTML]="informations[0]?.res2 | translate"></p>
        </div>
        <mat-accordion>
            <!-- <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <div class="new">
                        <mat-icon>flare</mat-icon>
                        <p>{{'NEW'}}</p>
                    </div>
                    <p class="panel-title" [innerHTML]="transform('InformationPanel.Cache_question')"></p>
                </mat-expansion-panel-header>
                <div class="panel-answer">
                    <ol>
                        <li>
                            {{'InformationPanel.Cache_response.Point1' | translate}}
                        </li>
                        <li>
                            <p>
                                {{'InformationPanel.Cache_response.Point2' | translate}}
                                <button (click)="refreshCache()">{{'InformationPanel.Cache_response.RefreshButton' | translate}}</button>
                            </p>
                            <ul>
                                <li>
                                    <a href="/info" target="_blank">{{'InformationPanel.Cache_response.Refresh' | translate}}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            {{'InformationPanel.Cache_response.Point3' | translate}}
                        </li>
                    </ol>
                </div>
            </mat-expansion-panel> -->
            <ng-container *ngFor="let information of informations  | slice:1; let i = index">
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <div class="new" *ngIf="information.new">
                            <mat-icon>flare</mat-icon>
                            <p>{{'NEW'}}</p>
                        </div>
                        <p class="panel-title" [innerHTML]="transform(information.res1)"></p>
                    </mat-expansion-panel-header>
                    <div class="panel-answer" [innerHTML]="transform(information.res2)"></div>
                </mat-expansion-panel>
            </ng-container>
            <mat-expansion-panel hideToggle [expanded]="!insideProject()">
                <mat-expansion-panel-header>
                <p class="panel-title" [innerHTML]="transform('InformationPanel.PlatformRights')"></p>
                </mat-expansion-panel-header>
                <div class="panel-answer">       
                    <app-user-rights-table [higlight]="true" type="platform"></app-user-rights-table>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle [expanded]="insideProject()">
                <mat-expansion-panel-header>
                <p class="panel-title" [innerHTML]="transform('InformationPanel.ProjectRights')"></p>
                </mat-expansion-panel-header>
                <div class="panel-answer">       
                    <app-user-rights-table [higlight]="true" type="project"></app-user-rights-table>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <!-- <div class="information-panel-title" style="margin-top: 20px;">
            <p>{{'InformationPanel.Rights' | translate}}</p>
        </div>
        <app-user-rights-table [higlight]="true"></app-user-rights-table> -->
    </div>
</div>  
  
  
