<div [formGroup]="activityForm">
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'Activity' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <input matInput formControlName="description" placeholder="{{ 'Placeholder.LogicalFrame.Result.Activity.Activity' | translate }}">
            <mat-hint>
                <mat-icon>info</mat-icon>{{ 'Activity-Activity-Result-SpecificObjective-Hint' | translate }}
            </mat-hint>
        </mat-form-field>
    </div>
    <div class= "mdm-section">
        <div class="mdm-form-label">{{ 'Indicators' | translate }}</div>
        <div class="indicators-list" formArrayName="indicators">
            <div class="mdm-cards">
                <ng-container class="mdm-card" *ngFor="let indicator of indicators.controls; let i=index">
                    <app-extra-indicator class="mdm-card" [extraIndicator]="indicator.value" (edit)="onEditIndicator(indicator, i)" (delete)="onDeleteIndicator(i)"></app-extra-indicator>
                </ng-container>
            </div>
            <button mat-stroked-button class="mdm-button" (click)="onAddNewIndicator()"><mat-icon>add</mat-icon>{{ 'AddIndicator' | translate }}</button>
            <mat-hint>
                <mat-icon>info</mat-icon>{{ 'AddIndicator-Activity-Result-SpecificObjective-Hint' | translate }}
            </mat-hint>
        </div>
    </div>
</div>
