.mdm-form-expansion {
    padding: 10px;
    width: 100%;
  }
  
  .indicators-list {
    flex: 1;
    width: 100%;
    display: inline-block;

    mat-hint {
      padding: 8px 10.5px 0 10.5px;
    }
  }

  .activity {
    width: 33% !important;
  }