<div class="chart-field">
    <mat-form-field appearance="fill">
      
      <mat-label>Chart Type</mat-label>
      <mat-select (selectionChange)="changeChartType($event.value)">
        <mat-option *ngFor="let type of chartTypes" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
  <!--- only these lines actually create the chart. The buttons might depend on usage and could be disgarded-->
    <div id="divChart">
        <canvas id="currentChart"></canvas>
    </div>
  
    <!-- <button mat-stroked-button (click)=addRandomData()>Add Data</button>
    <button mat-stroked-button (click)=clearGraph()>Delete Graph</button> -->
  </div>
  