#date{
    width: 20%;
}

#changes {
    ul {
        margin: 0;
    }
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 1px;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
    padding: 5px;
    justify-content: center;
}

.mat-column-expandedDetail{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
