@import "src/assets/theme/color_vars.scss";

#date {
  width: 20%;
}

#changes {
  ul {
    margin: 0;
  }
}

.expand-row {
  text-align: center;
}

.hidden-row {
  display: none;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: $table_hover_background;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: $table_history_background;
}

.example-element-row td {
  border-bottom-width: 1px;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  padding: 5px;
  justify-content: center;
}

.mat-column-expandedDetail {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.static-row {
  text-align: center;
  padding: 10px 0px 2px 0px;
}
