<div class="info-section blue">{{ 'ProjectHistoryInfo' | translate }}</div>

<div class="mdm-title">{{ 'History' | translate }}</div>
<table mat-table multiTemplateDataRows class="mdm-table history-table"
    [dataSource]="dataSource" (mouseleave)='mouseLeave()'>
    <!-- Task Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>{{ 'Date'| translate}} & {{ 'User' | translate }}</th>
        <td mat-cell *matCellDef="let element" id="date"> 
            <p>{{ element.time | date: 'short' }}</p>
            <p>{{ element.username }}</p>
        </td>
    </ng-container>
    
    <!-- Status Column -->
    <ng-container matColumnDef="changes">
        <th mat-header-cell *matHeaderCellDef>{{ 'HistoryChanges' | translate }}</th>
        <td mat-cell *matCellDef="let element" id="changes"> 

            <app-revision-summary [revision]="element"></app-revision-summary>
        </td>
    </ng-container>
    
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element; let i = dataIndex" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" 
              [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <span *ngIf="(sameVersion(i) && !showSaveConfirm)" >{{ 'EquivalentVersion' | translate }}</span>
                <span *ngIf=(expand(element)) >{{ 'SaveConfirm' | translate }}</span>
                <button mat-stroked-button *ngIf="(!sameVersion(i)  && !showSaveConfirm)" (click)="onRevertClick(i, element)" class="mdm-button small-button">{{ 'RevertToVersion' | translate }}</button>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="expandedRevisions">
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="expand-row">
            <button mat-stroked-button class="mdm-button small-button" (click)="onLoadMore()" *ngIf="showLoadMore">{{ 'LoadMoreRevisions' | translate }}</button>
        </td>
    </ng-container>
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns" (mouseover)="mouseLeave()"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (mouseover)='mouseOver(element)'>
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    <tr mat-footer-row *matFooterRowDef="['expandedRevisions']" [ngClass]="{'hidden-row': !showLoadMore }"></tr>
</table>