<button class="dialog-close" mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>{{ 'UserEdition' | translate }}</h2>
<mat-dialog-content [formGroup]="userForm" class="mdm-dialog">
    <div class="info-section blue">
        <p>{{ 'SettingsUserEdit' | translate }}</p>
    </div>
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'Email' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <input matInput formControlName="email">
        </mat-form-field>
    </div>
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'FullName' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <input matInput formControlName="name">
        </mat-form-field>
    </div>
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'Role' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <mat-select formControlName="role" placeholder="{{ 'Role' | translate }}">
                <mat-option *ngFor="let role of roles" [value]="role.value">{{ role.display | translate }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <!-- TODO: add table below -->
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onSubmit()" class="mdm-button" [disabled]="userForm.invalid">{{ 'SaveUser' | translate }}</button>
</mat-dialog-actions>