.hint-panel {
    margin-bottom: 10px;
}

table {
    width: 100%;
}

.red-icon {
    color: red;
    svg {
        fill: red;
    }
}

.green-icon {
    color: green;
    svg {
        fill: green;
    }
}

.centered {
    text-align: center;
}