<button class="dialog-close" mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>{{ 'UserEdition' | translate }}</h2>
<mat-dialog-content [formGroup]="userForm" class="mdm-dialog">
    <div class="info-section blue">
        <p>{{ 'SettingsUserEdit' | translate }}</p>
    </div>
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'Email' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <input matInput formControlName="email">
            <mat-hint>
                <mat-icon>info</mat-icon>{{ 'EMail-Hint' | translate }}
            </mat-hint>
        </mat-form-field>
    </div>
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'FullName' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <input matInput formControlName="name">
            <mat-hint>
                <mat-icon>info</mat-icon>{{ 'Name-Hint' | translate }}
            </mat-hint>
        </mat-form-field>
    </div>
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'Role' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <mat-select formControlName="role" placeholder="{{ 'Role' | translate }}">
                <mat-option *ngFor="let role of roles" [value]="role.value">{{ role.display | translate }}</mat-option>
            </mat-select>
            <mat-hint>
                <mat-icon>info</mat-icon>{{ 'Tooltip.UserEdition.Role' | translate }}
            </mat-hint>
        </mat-form-field>        
    </div>
        <mat-accordion class="hint-panel" >
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        <mat-hint>
                            <mat-icon>info</mat-icon>{{ panelOpenState ? ('TooltipRoleHint.PanelHide' | translate) : ('TooltipRoleHint.PanelShow' | translate) }}
                        </mat-hint>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="untitled">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element"> {{ element.untitled | translate }} </td>
                    </ng-container>
                    <ng-container matColumnDef="admin">
                        <th class="centered" mat-header-cell *matHeaderCellDef> {{ 'AdminRole' | translate }} </th>
                        <td class="centered" mat-cell *matCellDef="let element"> 
                            <mat-icon class="{{element.admin == true ? 'green-icon' : 'red-icon' }}">
                                {{ element.admin == true ? 'done' : 'clear' }}
                            </mat-icon> 
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="project">
                        <th class="centered" mat-header-cell *matHeaderCellDef> {{ 'ProjectRole' | translate }} </th>
                        <td class="centered" mat-cell *matCellDef="let element">
                            <mat-icon class="{{element.project == true ? 'green-icon' : 'red-icon' }}">
                                {{ element.project == true ? 'done' : 'clear' }}
                            </mat-icon>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="common">
                        <th class="centered" mat-header-cell *matHeaderCellDef> {{ 'CommonRole' | translate }} </th>
                        <td class="centered" mat-cell *matCellDef="let element">
                            <mat-icon class="{{element.common == true ? 'green-icon' : 'red-icon' }}">
                                {{ element.common == true ? 'done' : 'clear' }}
                            </mat-icon>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>                                     
            </mat-expansion-panel>
        </mat-accordion>   
    <br>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onSubmit()" class="mdm-button" [disabled]="userForm.invalid">{{ 'SaveUser' | translate }}</button>
</mat-dialog-actions>