<button class="dialog-close" mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>{{ 'UserEdition' | translate }}</h2>
<mat-dialog-content [formGroup]="userForm" class="mdm-dialog">
    <div class="info-section blue">
        <p>{{ 'SettingsUserEdit' | translate }}</p>
    </div>
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'Email' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <input matInput formControlName="email">
            <mat-hint>
                <mat-icon>info</mat-icon>{{ 'EMail-Hint' | translate }}
            </mat-hint>
        </mat-form-field>
    </div>
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'FullName' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <input matInput formControlName="name">
            <mat-hint>
                <mat-icon>info</mat-icon>{{ 'Name-Hint' | translate }}
            </mat-hint>
        </mat-form-field>
    </div>
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'Role' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <mat-select formControlName="role" placeholder="{{ 'Role' | translate }}" disableOptionCentering panelClass="myPanelClass">
                <mat-option *ngFor="let role of roles" [value]="role.value">{{ role.display | translate }}</mat-option>
            </mat-select>
            <mat-hint>
                <mat-icon>info</mat-icon>
                <div>
                  {{ 'Tooltip.UserEdition.Role' | translate }}
                  <p class="help-field" (click)="panelOpenState = !panelOpenState">
                    {{ panelOpenState ? ('TooltipRoleHint.PanelHide' | translate) : ('TooltipRoleHint.PanelShow' | translate) }}
                  </p>
                </div>
            </mat-hint>
        </mat-form-field>
    </div>
    <div class="mdm-form-group">
      <mat-accordion>
          <mat-expansion-panel [expanded]="panelOpenState" [disabled]="true" class="mat-elevation-z0 remove-mat-expansion-panel-padding">
            <table>
              <tr>
                <th></th>
                <th class="centered">{{ 'AdminRole' | translate }}</th>
                <th class="centered">{{ 'ProjectRole' | translate }}</th>
                <th class="centered">{{ 'CommonRole' | translate }}</th>
              </tr>
              <tr *ngFor="let element of dataSource">
                <td style="padding-left: 6px;">{{ element.untitled | translate }}</td>
                <td class="centered">
                    <mat-icon class="{{element.admin == true ? 'green-icon' : 'red-icon' }}">
                        {{ element.admin == true ? 'done' : 'clear' }}
                    </mat-icon>
                </td>
                <td class="centered">
                    <mat-icon class="{{element.project == true ? 'green-icon' : 'red-icon' }}">
                        {{ element.project == true ? 'done' : 'clear' }}
                    </mat-icon>
                </td>
                <td class="centered">
                    <mat-icon class="{{element.common == true ? 'green-icon' : 'red-icon' }}">
                        {{ element.common == true ? 'done' : 'clear' }}
                    </mat-icon>
                </td>
              </tr>
            </table>
          </mat-expansion-panel>
      </mat-accordion>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onSubmit()" class="mdm-button save-button" [disabled]="userForm.invalid">{{ 'SaveUser' | translate }}</button>
</mat-dialog-actions>
