app-user-rights-table {
    width: 100%;
}

mat-hint {
  mat-icon {
    margin: 0;
  }
}

.help-field {
  color: #005ec5;
  cursor: pointer;
  margin-top: 4px;
}
.help-field:hover {
  text-decoration: underline;
}

mat-accordion {
  flex: 0.807; // Messy solution
  margin-left: auto;
  margin-top: -20px;
  margin-bottom: 20px;
}
