<table>
    <tr>
        <td>
         <h2><mat-icon class="hover" (click)="toggleCollapsed()">{{collapsed ? 'add_circle' : 'remove_circle'}}</mat-icon>Filters</h2>
        </td>
    </tr>
    <tr>
        <td *ngIf="!collapsed">

                <mat-form-field appearance="outline" class="mdm-form-field">
                    <mat-label>Choose a startdate</mat-label>
                    <input matInput [matDatepicker]="start">
                    <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                    <mat-datepicker #start></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="mdm-form-field">
                    <mat-label>Choose an Enddate</mat-label>
                    <input matInput [matDatepicker]="end">
                    <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                    <mat-datepicker #end></mat-datepicker>
                </mat-form-field>

                

        </td>
    </tr>
</table>