<table>
    <tr>
        <td>
         <h2><mat-icon class="hover" (click)="toggleCollapsed()">{{collapsed ? 'add_circle' : 'remove_circle'}}</mat-icon>Filters</h2>
        </td>
    </tr>
    <tr>
        <td *ngIf="!collapsed">
            <div class="mdm-form-group">
                <div class="mdm-form-label">{{ 'Start' | translate }}</div>
                <mat-form-field appearance="outline" class="mdm-form-field">
                    <mat-label>Choose a startdate</mat-label>
                    <input matInput [matDatepicker]="start" [value]="startDate" (dateChange)="onDateChange($event, '_start')">
                    <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                    <mat-datepicker #start></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="mdm-form-group">
                <div class="mdm-form-label">{{ 'End' | translate }}</div>
                <mat-form-field appearance="outline" class="mdm-form-field">
                    <mat-label>Choose an enddate</mat-label>
                    <input matInput [matDatepicker]="end" [value]="endDate" (dateChange)="onDateChange($event, '_end')">
                    <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                    <mat-datepicker #end></mat-datepicker>
                </mat-form-field>
            </div>
                        
            <div class="mdm-form-group">
                <div class="mdm-form-label">{{ 'CollectionSites' | translate }}</div>
                <mat-form-field appearance="outline" class="mdm-form-field">
                    <mat-select formControlName="entities"
                    placeholder="{{ 'DataSourceEdit.CollectionSitesPlaceholder' | translate }}"
                    multiple
                    (selectionChange)="addSite($event.value)">
                        <mat-select-trigger>
                            <mat-chip-list>
                                <mat-chip *ngFor="let site of selectedSites" [removable]="true"
                                (removed)="onEntityRemoved(site)">
                                    {{ site.name }}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                            </mat-chip-list>
                        </mat-select-trigger>
    
                        <mat-option *ngFor="let site of sites" [value]="site">{{ site.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </td>
    </tr>
</table>