// This file is used to make all the colors uniform inside the app

$warning: red;
$info: orange;
$success: #3c763d;

// Style of the save buttons
$save_text_color: #fff;
$save_background: #337ab7;
$save_border: #2e6da4;

// Style of the delete buttons
$delete_text_color: #fff;
$delete_background: #d9534f;
$delete_border: #d43f3a;