
// This file will be used to define all the font family of the app

@font-face {
    font-family: "Neutra-Text";
    src: url("/assets/fonts/Neutra-Text_32171.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: "Neutra-Text";
    src: url("/assets/fonts/Neutra-Text-Bold_32106.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: bold;
}
@font-face {
    font-family: "Neutra-Text-Light";
    src: url("/assets/fonts/Neutra-Text-Light_32131.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: "Neutra-Text-Light-Demi";
    src: url("/assets/fonts/Neutra-Text-Light-Demi_32117.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: Calibri;
    src: url("https://fonts.googleapis.com/css?family=Calibri:400,700,400italic,700italic");
}
$main-font: "Neutra-Text", "Neutra", sans-serif;