// This file is used to make all the sizes uniform inside the app

// Screen sizes
$breakpoint-xs: 599px;
$breakpoint-sm: 1023px;
$breakpoint-md: 1440px;
$breakpoint-lg: 1919px;
$breakpoint-xl: 1920px;

$info_field: 16px;