// This file is used to make all the sizes uniform inside the app

// Screen sizes
$breakpoint-xs: 599px;
$breakpoint-sm: 1023px;
$breakpoint-md: 1440px;
$breakpoint-lg: 1919px;
$breakpoint-xl: 1920px;

// text sizes
$big_text: 20px;
$normal_text: 16px;
$small_text: 14px;
$very_small_text: 12px;
$extra_small_text: 10px;