:host {
    font-size: 14px;
    width: 208px;
    margin: 0 auto;
}

.mat-card {
    min-height: 276px;
}

.mat-card-image {
    height: 120px;
}

.illustration-title {
    color: #151515;
    margin-bottom: 16px;
}

.illustration-text {
    color: #777777;
}