/**
 * Template style variables
 */

// Screen sizes
$max-content-width: 864px;
$break-point-basic: 1025px;
$break-large: 1350px;
$break-medium: 1100px;
$break-small: 414px;
$break-point-four-to-three: 992px;
$break-point-three-to-two: 768px;
$break-point-two-to-one: 575px;
$break-point-one-to-none: 359px;

$header-height: 80px;
$header-mobile-height: 65px;

// Fonts
@font-face {
    font-family: "Neutra-Text";
    src: url("/assets/fonts/Neutra-Text_32171.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: "Neutra-Text-Bold";
    src: url("/assets/fonts/Neutra-Text-Bold_32106.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: "Neutra-Text-Light";
    src: url("/assets/fonts/Neutra-Text-Light_32131.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: "Neutra-Text-Light-Demi";
    src: url("/assets/fonts/Neutra-Text-Light-Demi_32117.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
$main-font: "Neutra-Text", "Neutra", sans-serif;
