@import "src/styles.scss";

:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.header {
    top: 0;
    width: 100%;
    display: flex;
    position: relative;
    height: $header-height;
    z-index: 20;
    background-color: var(--header-background);

    @media only screen and (max-width: $break-point-three-to-two) {
        height: $header-mobile-height;
    }
}

.page-container {
    flex-grow: 1;
    background: var(--page-background);
    padding-left: 80px;
    padding-right: 80px;
    @media screen and (max-width: $break-point-three-to-two) {
        padding-left: 10%;
        padding-right: 10%;
    }
}
