<div class="info-section blue">
    <p>{{'LogicalFrameworksPageDescription.Line1' | translate}}</p>
    <p>{{'LogicalFrameworksPageDescription.Line2' | translate}}</p>
</div>

<div class="mdm-cards">
    
    <app-logical-card  class="mdm-card"  *ngFor="let logicalFramework of logicalFrameworksList" [logicalFramework]='logicalFramework'  ></app-logical-card>
    
</div>


<button mat-raised-button color="primary">
    <mat-icon svgIcon="add-folder"></mat-icon>
    {{ 'CreateLogicalFramework' | translate }}
</button>