<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Filters
        </mat-panel-title>
    </mat-expansion-panel-header>
    <p>The filters will go there</p>
</mat-expansion-panel>

<div class="logframes-containers">
    <ul *ngFor="let logframe of logicalFrames">
        <li>
            <mat-card (click)="goToDashboard(logframe)">
                <div class="logframe">
                    <p>{{ logframe.name }}</p><mat-icon>arrow_forward</mat-icon>
                </div>
            </mat-card>
        </li>
    </ul>
</div>

