.login-component {

    position: absolute;
    top: 50%;
    margin-top: -175px;
    left: 0;
    width: 100%;
}

.center-panel{
    background-color: #fff;
    min-width: 300px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}
.authenticationPanel{
    h2{
        text-align: center;
    }
}

.buttons{
    display: flex;
    flex-direction: column;
    button{
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

img{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}