<div class="info-section blue">
    <p>The data sources are the different supports where the data needed for monitoring are available (tally sheets, medical records, excel files, ...).</p>
    <p>In Monitool, all the data avaiable on the data sources does not need to be entered, but only what is relevat to the project's monitorings</p>
    <p>To ease the data collection planning, data sources should correspond to real tools used on the field.</p>
</div>

<div class="mdm-section">
    <div class="mdm-cards">
        <mat-card>
            <mat-card-header class="card-header"> Extraction du SNIS (CSP)</mat-card-header>
            <mat-card-content>
                <div class="card-info">
                    <div class="date"><span class="key">Date</span> <span class="value">Feb 1, 2015 - Jun 30, 2016</span></div>
                    <div class="periodicity"><span class="key">Periodicity</span> <span class="value">Every month</span></div>
                    <div class="collection"><span class="key">Collection sites</span> <span class="value">CSP</span></div>
                </div>
            </mat-card-content>
            <mat-card-actions align="end" class="mdm-button-group">
                <button mat-stroked-button class="mdm-button small-button"><mat-icon>edit</mat-icon>{{ 'Edit' | translate }}</button>
                <button mat-stroked-button mat-icon-button [matMenuTriggerFor]="menu" class="mdm-button small-button"><mat-icon>expand_more</mat-icon></button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>insert_drive_file</mat-icon>
        <span>Download PDF (portrait)</span>
    </button>
    <button mat-menu-item>
        <mat-icon>note</mat-icon>
        <span>Download PDF (landscape)</span>
    </button>
    <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>{{ 'Delete' | translate }}</span>
    </button>
</mat-menu>