<div class="info-section blue">
    <p>Cette page contient la liste de tous les indicateurs transversaux de l'ONG.</p>
    <p>La collecte de chaque indicateur est obligatoire pour les projets qui ont au moins une thématique
        en commun celui-ci.</p>
    <p>Afin de permettre aux projets de planifier leur collecte, merci de ne pas changer régulièrement cette
        liste.</p>
</div>
<div class="mdm-cards">
    <app-indicator *ngFor="let indicator of indicators" [indicator]="indicator" class="mdm-card"></app-indicator>
</div>
<button mat-stroked-button  class="mdm-button">
    <mat-icon>add</mat-icon>
    Créer un nouvel indicateur
</button>