<mat-card>
    <mat-card-header class="card-header">{{ form.name }}</mat-card-header>
    <mat-card-content>
        <div class="card-info">
            <b class="card-info-title">{{ 'Date' | translate }}</b>
            <div class="card-info-value">{{ form.start | date : 'mediumDate' }} - {{ form.end | date : 'mediumDate' }}</div>
        </div>
        <div class="card-info">
            <b class="card-info-title">{{ 'Periodicity' | translate }}</b>
            <div class="card-info-value">{{ form.periodicityDisplay | translate }}</div>
        </div>
        <div class="card-info">
            <b class="card-info-title">{{ 'CollectionSites' | translate }}</b>
            <div class="card-info-value">
                <div *ngFor="let entity of form.entities">{{ entity.name }}</div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions align="end" class="mdm-button-group">
        <button mat-stroked-button class="mdm-button small-button" (click)="onEdit()"><mat-icon>edit</mat-icon>{{ 'Edit' | translate }}</button>
        <button mat-stroked-button mat-icon-button [matMenuTriggerFor]="menu" class="mdm-button small-button"><mat-icon>expand_more</mat-icon></button>
    </mat-card-actions>
</mat-card>

<mat-menu #menu="matMenu">
    <a mat-menu-item [href]="portraitPdfUrl" target="_blank">
        <mat-icon>insert_drive_file</mat-icon>
        <span>{{ 'Download' | translate }} PDF ( {{'Portrait' | translate}} )</span>
    </a>
    <a mat-menu-item [href]="landscapePdfUrl" target="_blank">
        <mat-icon>note</mat-icon>
        <span>{{ 'Download' | translate }} PDF ( {{'Landscape' | translate}} )</span>
    </a>
    <button mat-menu-item (click)="onDelete()">
        <mat-icon>delete</mat-icon>
        <span>{{ 'Delete' | translate }}</span>
    </button>
</mat-menu>
