.card-info {
    flex-direction: row;
}

.card-header-name {
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    & + mat-chip {
        flex-shrink: 0;
        margin-left: 8px;
    }
}

p {
    max-width: 580px;
}

.warningModal {
    background-color: rgba($color: #000000, $alpha: .05);
    border-radius: 4px;
    padding: 16px;
    display: flex;
    gap: 16px;
    margin-bottom: 16px;

    mat-icon {
        opacity: .6;
    }

    p {
        margin: 0;
        padding-top: 2px;
    }
}