.mat-expansion-panel-header-description {
  button {
      color: #31708f;
  }
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  color: #31708f;
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
  background-color: #d9edf7 !important;
}
