<div [formGroup]="purposeForm">
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'SpecificObjective' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <input matInput formControlName="description" placeholder="{{ 'Description' | translate }}">
            <mat-hint>
                <mat-icon>info</mat-icon>{{ 'SpecificObjective-Hint' | translate }}
            </mat-hint>
        </mat-form-field>        
    </div>
    <div class="mdm-form-group">
        <div class="mdm-form-label">{{ 'Assumptions' | translate }}</div>
        <mat-form-field appearance="outline" class="mdm-form-field">
            <input matInput formControlName="assumptions" placeholder="{{ 'Assumptions' | translate }}">
            <mat-hint>
                <mat-icon>info</mat-icon>{{ 'Assumtions-SpecificObjective-Hint' | translate }}
            </mat-hint>
        </mat-form-field>
    </div>
    <div class= "mdm-section">
        <div class="mdm-form-label">{{ 'Indicators' | translate }}</div>
        <div class="indicators-list" formArrayName="indicators">
            <div class="mdm-cards" cdkDropListGroup>
                <div class="mdm-card" *ngFor="let indicator of indicators.controls; let i=index" [cdkDropListData]="{indicator:indicator,index:i}" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropIndicators($event)">
                    <app-extra-indicator cdkDrag cdkDragBoundary=".mdm-cards" [extraIndicator]="indicator.value" (edit)="onEditIndicator(indicator, i)" (delete)="onDeleteIndicator(i)">
                        <div *cdkDragPlaceholder></div>
                        <div cdkDragHandle>
                            <mat-icon>drag_indicator</mat-icon>
                        </div>
                    </app-extra-indicator>
                </div>
            </div>
            <button mat-stroked-button class="mdm-button" (click)="onAddNewIndicator()"><mat-icon>add</mat-icon>{{ 'AddIndicator' | translate }}</button>
            <mat-hint>
                <mat-icon>info</mat-icon>{{ 'AddIndicator-SpecificObjective-Hint' | translate }}
            </mat-hint>
        </div>
    </div>
    <mat-accordion formArrayName="outputs" cdkDropList (cdkDropListDropped)="drop($event)">
        <mat-expansion-panel *ngFor="let output of outputs.controls; let i=index" [formGroupName]="i" cdkDrag>
            <mat-expansion-panel-header>
                <mat-panel-title><mat-icon cdkDragHandle>drag_indicator</mat-icon>{{ 'Result' | translate }} {{i + 1}}: {{output.value.description}}</mat-panel-title>
                <mat-panel-description>
                    <button mat-stroked-button class="mdm-button" (click)="onRemoveOutput(i)"><mat-icon>delete</mat-icon>{{ 'RemoveOutput' | translate }}</button>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-output-edit [outputForm]="output" [forms]="forms"></app-output-edit>
        </mat-expansion-panel>
    </mat-accordion>
    <button mat-stroked-button class="mdm-button" (click)="onAddNewOutput()"><mat-icon>add</mat-icon>{{ 'AddOutput' | translate }}</button>
</div>
