@import "src/assets/theme/size_vars.scss";
@import "src/assets/theme/color_vars.scss";

.hover {
  cursor: pointer;
  padding: 5px;
}

table {
  padding-bottom: 5px;
  width: 100%;
  font-size: $small_text;
}

td {
  border: solid 1px $table_border !important;
  background: $filters_background;
}

.mdm-form-group:first-child {
  padding-top: 1em;
}

.mdm-form-group {
  padding: 0em 2em 0em 2em;
}

h2 {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  width: 110px;
  justify-content: baseline;
  padding: 2px;
  margin: 0;
  font-size: $small_text;
}

.mat-icon {
  padding: 2px;
}
