<section class="page-section">
    <p>Pourquoi une plateforme en ligne
    </p>
    <div class="card">
        <div class="info-title">
            <img class="icon" src="assets/icons/001.svg" />
            <p><b>Structurer </b>le système de monitoring des projets
            </p>
        </div>
    </div>
    <div class="card">
        <div class="info-title">
            <img class="icon" src="assets/icons/002.svg" />
            <p><b>Augmenter la fiabilité
                </b></p>
        </div>
        <ul>
            <li>Disposer de contrôles de cohérence afin de limiter les erreurs de saisie
            </li>
            <li>Limiter les fautes de calcul
            </li>
        </ul>
    </div>
    <div class="card">
        <div class="info-title">
            <img class="icon" src="assets/icons/003.svg" />
            <p><b>Prendre du recul
                </b></p>
        </div>
        <ul>
            <li>Encourager des projets géographiquement éloignés à utiliser les mêmes indicateurs lorsqu’ils mesurent
                des grandeurs comparables.
            </li>
            <li>Disposer de mécanismes pour comparer la valeur d’un indicateur sur un projet, avec la même grandeur chez
                tous les autres qui le collectent.
            </li>
        </ul>
    </div>
    <div class="card">
        <div class="info-title">
            <img class="icon" src="assets/icons/004.svg" />
            <p><b>Faciliter la communication
                </b></p>
        </div>
        <ul>
            <li>Donner accès direct aux données des projets auprès de l'ensemble des services et directions de l’ONG
                (direction générale, communication, ...)
            </li>
            <li>Disposer d'une unique version des données partagée entre siège et terrain
            </li>
        </ul>
    </div>
    <div class="card">
        <div class="info-title">
            <img class="icon" src="assets/icons/005.svg" />
            <p><b>Standariser
                </b></p>
        </div>
        <ul>
            <li>Faciliter le turn-over en limitant l'utilisation d'outils différents sur chaque projet.
            </li>
            <li>Réduire la courbe d’apprentissage nécessaire à l'exploitation des données d'un nouveau projet.
            </li>
        </ul>
    </div>
</section>