<section class="page-section">
    <p class="section-title">Pourquoi une plateforme en ligne
    </p>
    <div class="card">
        <div class="info-title">
            <svg-icon class="icon" size="lg" key="organigram"></svg-icon>
            <p><b>Structurer </b>le système de monitoring des projets
            </p>
        </div>
    </div>
    <div class="card">
        <div class="info-title">
            <svg-icon class="icon" size="lg" key="quality"></svg-icon>
            <p><b>Augmenter la fiabilité
                </b></p>
        </div>
        <ul class="ul-with-margin">
            <li>Disposer de contrôles de cohérence afin de limiter les erreurs de saisie
            </li>
            <li>Limiter les fautes de calcul
            </li>
        </ul>
    </div>
    <div class="card">
        <div class="info-title">
            <svg-icon class="icon" size="lg" key="pieChart"></svg-icon>
            <p><b>Prendre du recul
                </b></p>
        </div>
        <ul class="ul-with-margin">
            <li>Encourager des projets géographiquement éloignés à utiliser les mêmes indicateurs lorsqu’ils mesurent
                des grandeurs comparables.
            </li>
            <li>Disposer de mécanismes pour comparer la valeur d’un indicateur sur un projet, avec la même grandeur chez
                tous les autres qui le collectent.
            </li>
        </ul>
    </div>
    <div class="card">
        <div class="info-title">
            <svg-icon class="icon" size="lg" key="message"></svg-icon>
            <p><b>Faciliter la communication
                </b></p>
        </div>
        <ul class="ul-with-margin">
            <li>Donner accès direct aux données des projets auprès de l'ensemble des services et directions de l’ONG
                (direction générale, communication, ...)
            </li>
            <li>Disposer d'une unique version des données partagée entre siège et terrain
            </li>
        </ul>
    </div>
    <div class="card">
        <div class="info-title">
            <svg-icon class="icon" size="lg" key="parameters"></svg-icon>
            <p><b>Standariser
                </b></p>
        </div>
        <ul class="ul-with-margin">
            <li>Faciliter le turn-over en limitant l'utilisation d'outils différents sur chaque projet.
            </li>
            <li>Réduire la courbe d’apprentissage nécessaire à l'exploitation des données d'un nouveau projet.
            </li>
        </ul>
    </div>
</section>
<section class="page-section">
    <p class="section-title">Quand utiliser Monitool
    </p>
    <p class="small-title">Monitool joue un rôle pendant quatre étapes d'un projet</p>
    <div class="second-section-cards">
        <div class="illustration-card">
            <img class="illustration" src="assets/illustrations/20.svg" />
            <p><b>Dans la conception du cadre logique</b>
            </p>
            <p id="changing-text">
                Avec la mise à disposition des cadres logiques des autres projets et du plan..
            </p>
            <i (click)="changeText()" id="arrow-icon" class="material-icons">keyboard_arrow_down</i>
        </div>
        <div class="illustration-card">
            <img class="illustration" src="assets/illustrations/30.svg" />
            <p><b>Mise en place des outils de suivi</b>
            </p>
            <p>
                Explicitez le chemin suivi par vos données et fixez des échéances sur leur collecte
            </p>
        </div>
        <div class="illustration-card">
            <img class="illustration" src="assets/illustrations/40.svg" />
            <p><b>Suivi régulier</b>
            </p>
            <p>
                Les graphes et tableaux de votre choix, toujours réalisées avec les données les plus à jour disponible
            </p>
        </div>
        <div class="illustration-card">
            <img class="illustration" src="assets/illustrations/50.svg" />
            <p><b>Post-fermeture</b>
            </p>
            <p>
                Vos projets restent archivés et disponibles pour toute consultation future
            </p>
        </div>
    </div>
</section>

<section class="page-section">
    <p class="section-title">À garder en tête
    </p>
    <div class="card">
        <div class="info-title">
            <svg-icon class="icon" size="lg" key="bulb"></svg-icon>
            <p>Monitool est un outil de monitoring.
            </p>
        </div>

        <p class="third-section-text">Il participe au suivi permanent, continue et systématique de la situation et de
            son évolution tout le long de
            la vie d’un projet.
        </p>
        <p class="third-section-text">L'objectif de cet outil est d'aider à la prise de décision, grâce au suivi
            régulier d'indicateurs qui vous
            renseigneront sur l'avancement de vos activités, et sur la contribution de ces dernières aux résultats et
            objectifs fixés par votre projet.
        </p>
        <p class="third-section-text">Bien qu'il puisse y contribuer, son objectif premier n'est pas de réaliser du
            suivi épidémiologique, ou de
            centraliser des fiches de morbidité qui sont chronophages et n'ont que peu de valeur en gestion de projet,
            spécialement sur des projets de soutien à des structures sanitaires.</p>
    </div>
</section>

<section class="page-section">
    <p class="section-title">Quelles sont les premières étapes pour commencer?
    </p>
    <p class="small-title">Avant de configurer un projet dans Monitool il est nécessaire de</p>
    <div class="card">
        <div class="info-title">
            <svg-icon class="icon" size="lg" key="grid"></svg-icon>
            <p>Concevoir votre projet de référence: cadre logique de référénce avec des indicateurs de résultat, d’effet
                et si nécessaire de processus.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="info-title">
            <svg-icon class="icon" size="lg" key="ceontent"></svg-icon>
            <p>Détailler tous vos indicateurs avec l’outil résumé des indicateurs du projet de référence et des
                bailleurs (s’ils sont différents).</p>
        </div>
        <ul class="ul-with-margin">
            <li>Pourquoi: Commencez par identifier en quoi votre indicateur va permettre de mesurer l’atteinte du
                résultat auquel il est associé ou l’effet attendu, et comment vous l'analyserez (graphiques, tableaux,
                avec quelle fréquence. Il est indispensable de planifier l’utilisation des données pour la prise de
                décisison).
            </li>
            <li>Comment: identifiez toutes les données et désagrégations nécessaires au calcul des indicateurs
                identifiés.
            </li>
            <li>Quand, oú, par et pour qui</li>
        </ul>
    </div>
    <div class="card">
        <div class="info-title">
            <svg-icon class="icon" size="lg" key="formatShapes"></svg-icon>
            <p>Construire un dataflow chart à partir du résumé des indicateurs afin de schématiser le flux des données
                dans votre projet</p>
        </div>
        <ul class="ul-with-margin">
            <li>Les sources de sources de données organisées suivant le plan du projet
            </li>
            <li>Les données et leur désagrégations précises
            </li>
            <li>Les indicateurs organisés par cadre logique</li>
        </ul>
    </div>
</section>

<section class="page-section">
    <p class="section-title">Guides & Documents supports
    </p>
    <div class="card fifth-section-cards">
        <ul>
            <li><b>Guide de planification de projets de santé (2015)</b>
            </li>
        </ul>
        <p>Le guide <span class="important-text">Planification de projets</span> de santé propose aux acteurs des projets de
            MdM une méthode de
            planification en accord avec les valeurs réaffirmées et précisées dans le projet associatif (soigner,
            témoigner et plaider, et accompagner les communautés dans leur volonté de changement social).</p>
        <ul>
            <li><b>Boite à outils de Planification de projets de santé</b>
            </li>
        </ul>
        <p>La <span class="important-text"> boite à outils</span> vous propose differents outils, majoritairement sur
            Excel, afin de vous aider à structurer votre planification.</p>
        <ul>
            <li><b>Bibliothèque monitoring de la DSP</b>
            </li>
        </ul>
        <p>Cette <span class="important-text">bibliothèque</span> vous propose divers fiches techniques, documents de
            formations et de positionnements liés au monitoring, et est maintenu par la DSP.</p>
    </div>
</section>

<section class="page-section">
    <p class="section-title">Autres outils
    </p>
    <div class="card fifth-section-cards">
        <ul>
            <li><b>Résumé des indicateurs</b></li>
        </ul>
        <p>Disponible dans l'archive des <span class="important-text">Documents essentiels au monitoring </span>, cet outil
            rassemble pour tous vos indicateurs le "quand", "comment", "oú", "par qui", "pourquoi" et "pour qui" les
            données que vous traitez doivent être collectées et analysées.</p>
        <ul>
            <li><b>Dataflow chart</b>
            </li>
        </ul>
        <p>Dans la même archive cet outil schématise le chemin que vos données suivent dans le temps, du formulaire qui
            a servi à leur collecte dans une structure de santé, au rapport et à la prise de décision.</p>
    </div>
</section>