<section class="page-section">
    <p class="section-title">Pourquoi une plateforme en ligne
    </p>
    <div class="card">
        <div class="info-title">
            <img class="icon" src="assets/icons/001.svg" />
            <p><b>Structurer </b>le système de monitoring des projets
            </p>
        </div>
    </div>
    <div class="card">
        <div class="info-title">
            <img class="icon" src="assets/icons/002.svg" />
            <p><b>Augmenter la fiabilité
                </b></p>
        </div>
        <ul>
            <li>Disposer de contrôles de cohérence afin de limiter les erreurs de saisie
            </li>
            <li>Limiter les fautes de calcul
            </li>
        </ul>
    </div>
    <div class="card">
        <div class="info-title">
            <img class="icon" src="assets/icons/003.svg" />
            <p><b>Prendre du recul
                </b></p>
        </div>
        <ul>
            <li>Encourager des projets géographiquement éloignés à utiliser les mêmes indicateurs lorsqu’ils mesurent
                des grandeurs comparables.
            </li>
            <li>Disposer de mécanismes pour comparer la valeur d’un indicateur sur un projet, avec la même grandeur chez
                tous les autres qui le collectent.
            </li>
        </ul>
    </div>
    <div class="card">
        <div class="info-title">
            <img class="icon" src="assets/icons/004.svg" />
            <p><b>Faciliter la communication
                </b></p>
        </div>
        <ul>
            <li>Donner accès direct aux données des projets auprès de l'ensemble des services et directions de l’ONG
                (direction générale, communication, ...)
            </li>
            <li>Disposer d'une unique version des données partagée entre siège et terrain
            </li>
        </ul>
    </div>
    <div class="card">
        <div class="info-title">
            <img class="icon" src="assets/icons/005.svg" />
            <p><b>Standariser
                </b></p>
        </div>
        <ul>
            <li>Faciliter le turn-over en limitant l'utilisation d'outils différents sur chaque projet.
            </li>
            <li>Réduire la courbe d’apprentissage nécessaire à l'exploitation des données d'un nouveau projet.
            </li>
        </ul>
    </div>
</section>
<section class="page-section">
    <p class="section-title">Quand utiliser Monitool
    </p>
    <p class="small-title">Monitool joue un rôle pendant quatre étapes d'un projet</p>
    <div class="second-section-cards">
        <div class="illustration-card">
            <img class="illustration" src="assets/illustrations/20.svg" />
            <p><b>Dans la conception du cadre logique</b>
            </p>
            <p id="changing-text">
                Avec la mise à disposition des cadres logiques des autres projets et du plan..
            </p>
            <i (click)="changeText()" id="arrow-icon" class="material-icons">keyboard_arrow_down</i>
        </div>
        <div class="illustration-card">
            <img class="illustration" src="assets/illustrations/30.svg" />
            <p><b>Mise en place des outils de suivi</b>
            </p>
            <p>
                Explicitez le chemin suivi par vos données et fixez des échéances sur leur collecte
            </p>
        </div>
        <div class="illustration-card">
            <img class="illustration" src="assets/illustrations/40.svg" />
            <p><b>Suivi régulier</b>
            </p>
            <p>
                Les graphes et tableaux de votre choix, toujours réalisées avec les données les plus à jour disponible
            </p>
        </div>
        <div class="illustration-card">
            <img class="illustration" src="assets/illustrations/50.svg" />
            <p><b>Post-fermeture</b>
            </p>
            <p>
                Vos projets restent archivés et disponibles pour toute consultation future
            </p>
        </div>
    </div>
</section>