@import "src/styles.scss";

.card {
    box-shadow: 0 4px 13px 1px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    padding: 12px 24px;
    border-radius: 5px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 2px transparent;
   
    .info-title{
        display: flex;
        align-items: center;

    }
    p, ul{
        color: var(--main-text);
        
    }
    .icon{
        height: 30px;
        width: 30px;
        margin-right: 20px;
    }
    
    ul{
        list-style-type: circle;
        margin-left: 25px;
        margin-top: -5px;

    }
  }