.illustration-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 24px 0 0;
}

.home-cards {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    app-home-card {
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
  