@import "src/styles.scss";

.multi-thematics-card{
    height: 390px !important;
}
.card {
    height: 270px;
    box-shadow: 0 4px 13px 1px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    padding: 12px 3%;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 2px transparent;
    
   
    .indicator-name{
        display: flex;
        align-items: center;
        justify-content: space-between;
       
        p{
            font-size: 18px;
        }
    }
    p{
        color: var(--main-text);
        font-size: 16px;
    }
    .separator{
        background-color: rgba(144, 144, 144, 0.24);
        height: 1px;
        margin-bottom: 10px;
    }
    .indicator-info{
        margin-bottom: 10px;
        .info{
            color: #909090;
            font-size: 16px;
            margin-bottom: 5px;
        }
        .value{
            font-size: 18px;
            color: #151515;
        }
    }
    .btn-group{
        align-self: flex-end;
    }
    .btn-group button{
        padding: 5px;
        font-size: 16px;
        color: #171d29;
        font-weight: bold;
    }
}