<div class="card" [ngClass]="{
    'multi-thematics-card':indicator.thematics
  }">
    <div class="indicator-name">
        <p>{{indicator.indicatorName}}</p>
    </div>
    <div class="separator"></div>
    <div *ngIf="indicator.thematics" class="indicator-info">
        <div class="info">Thématiques</div>
        <div class="value">{{indicator.thematics}}</div>
    </div>
    <div class="indicator-info">
        <div class="info">Description</div>
        <div class="value">{{indicator.description}}</div>
    </div>
    <div class="btn-group">
        <button>Voir le rapport</button>
    </div>
</div>