<div class="mdm-section">
    <div class="mdm-title">General informations</div>
    <div [formGroup]="logicalFrameForm" class="mdm-form">
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'Name' | translate }}</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <input matInput formControlName="name" placeholder="{{ 'Name' | translate }}">
            </mat-form-field>
        </div>
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'CollectionSites' | translate }}</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <mat-select formControlName="entities" placeholder="{{ 'CollectionSites' | translate }}" multiple>
                    <mat-select-trigger>
                        <mat-chip-list>
                            <mat-chip *ngFor="let entity of selectedEntities" [removable]="true"
                                (removed)="onEntityRemoved(entity)">
                                {{ entity.name }}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </mat-select-trigger>
                    <mat-option *ngFor="let entity of entities" [value]="entity">{{ entity.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'SpecificStartDate' | translate }}</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <input matInput [matDatepicker]="startPicker" formControlName="start"
                    placeholder="{{ 'StartDate' | translate }}">
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'SpecificEndDate' | translate }}</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <input matInput [matDatepicker]="endPicker" formControlName="end"
                    placeholder="{{ 'EndDate' | translate }}">
                <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
</div>
<div class="mdm-section">
    <div class="mdm-title">General objective</div>
    <div [formGroup]="logicalFrameForm" class="mdm-form">
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'GeneralObjective' | translate }}</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <input matInput formControlName="goal" placeholder="{{ 'GeneralObjective' | translate }}">
            </mat-form-field>
        </div>
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'Indicators' | translate }}</div>
            <div class="indicators-list" formArrayName="indicators">
                <div class="indicators-cards">
                    <ng-container *ngFor="let indicator of indicators.controls; let i=index">
                        <app-extra-indicator [extraIndicator]="indicator.value" (edit)="onEditIndicator(indicator)" (delete)="onDeleteIndicator(i)"></app-extra-indicator>
                    </ng-container>
                </div>
                <button mat-stroked-button class="mdm-button" (click)="onAddNewIndicator()"><mat-icon>add</mat-icon>{{ 'AddIndicator' | translate }}</button>
            </div>
        </div>
    </div>
</div>
<div class="mdm-section">
    <div class="mdm-title">Specific objective</div>
    <div [formGroup]="logicalFrameForm">
        <mat-accordion formArrayName="purposes">
            <ng-container *ngFor="let purpose of purposes.controls; let i=index">
                <mat-expansion-panel [formGroupName]="i">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Specific objective {{i + 1}}: {{purpose.value.description}}</mat-panel-title>
                        <mat-panel-description>
                            <button mat-stroked-button class="mdm-button" (click)="onRemovePurpose(i)"><mat-icon>delete</mat-icon>{{ 'RemovePurpose' | translate }}</button>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-purpose-edit [purposeForm]="purpose" [forms]="forms"></app-purpose-edit>
                </mat-expansion-panel>
            </ng-container>
        </mat-accordion>
    </div>
</div>
<button mat-stroked-button class="mdm-button" (click)="onAddNewPurpose()"><mat-icon>add</mat-icon>{{ 'AddPurpose' | translate }}</button>