<div class="mdm-section">
    <div class="mdm-title">General informations</div>
    <div [formGroup]="logicalFrameForm" class="mdm-form">
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'Name' | translate }}</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <input matInput formControlName="name" placeholder="{{ 'Name' | translate }}">
                <mat-hint>
                    <mat-icon>info</mat-icon>{{ 'NameLogicalFramework-Hint' | translate }}
                </mat-hint>
            </mat-form-field>
        </div>
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'CollectionSites' | translate }}</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <mat-select formControlName="entities" placeholder="{{ 'CollectionSites' | translate }}" multiple>
                    <mat-select-trigger>
                        <mat-chip-list>
                            <mat-chip *ngFor="let entity of selectedEntities" [removable]="true"
                                (removed)="onEntityRemoved(entity)">
                                {{ entity.name }}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </mat-select-trigger>
                    <mat-option *ngFor="let entity of entities" [value]="entity">{{ entity.name }}
                    </mat-option>
                </mat-select>
                <mat-hint>
                    <mat-icon>info</mat-icon>{{ 'CollectionSites-Hint' | translate }}
                </mat-hint>
            </mat-form-field>
        </div>
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'SpecificStartDate' | translate }}</div>
            <mat-radio-group class="dateGroup">
                <mat-radio-button (change)="toggleCustomDate($event, 'start')" [checked]="isCustom('start')" value="true" >{{ 'CustomDate' | translate }}</mat-radio-button>
                <mat-form-field *ngIf="isCustom('start')" appearance="outline" class="mdm-form-field">
                    <input matInput [matDatepicker]="startPicker" formControlName="start"
                        placeholder="{{ 'StartDate' | translate }}">
                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker></mat-datepicker>
                    <mat-hint>
                        <mat-icon>info</mat-icon>{{ 'specific-date-start' | translate }}
                    </mat-hint>
                </mat-form-field>
                <mat-radio-button (change)="toggleCustomDate($event, 'start')" [checked]="!isCustom('start')" value="false" >{{ 'SameAsProject' | translate : {date: project.start | localizedDate} }}</mat-radio-button>
             </mat-radio-group>
        </div>
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'SpecificEndDate' | translate }}</div>
            <mat-radio-group class="dateGroup">
                <mat-radio-button (change)="toggleCustomDate($event, 'end')" [checked]="isCustom('end')" value="true" >{{ 'CustomDate' | translate }}</mat-radio-button>
                <mat-form-field *ngIf="isCustom('end')" appearance="outline" class="mdm-form-field">
                    <input matInput [matDatepicker]="endPicker" formControlName="end"
                        placeholder="{{ 'EndDate' | translate }}">
                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker></mat-datepicker>
                    <mat-hint>
                        <mat-icon>info</mat-icon>{{ 'specific-date-end' | translate }}
                    </mat-hint>
                </mat-form-field>
                <mat-radio-button (change)="toggleCustomDate($event, 'end')" [checked]="!isCustom('end')" value="false" >{{ 'SameAsProject' | translate : {date: project.end | localizedDate} }}</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</div>
<div class="mdm-section">
    <div class="mdm-title">General objective</div>
    <div [formGroup]="logicalFrameForm" class="mdm-form">
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'GeneralObjective' | translate }}</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <input matInput formControlName="goal" placeholder="{{ 'GeneralObjective' | translate }}">
                <mat-hint>
                    <mat-icon>info</mat-icon>{{ 'GeneralObjective-Hint' | translate }}
                </mat-hint>
            </mat-form-field>
        </div>
      <div class= "mdm-section" >
            <div class="mdm-form-label">{{ 'Indicators' | translate }}</div>
            <div class="indicators-list" formArrayName="indicators">
                <div class="mdm-cards" cdkDropListGroup>
                    <div class="mdm-card" *ngFor="let indicator of indicators.controls; let i=index" [cdkDropListData]="{indicator:indicator,index:i}" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropIndicators($event)">
                        <app-extra-indicator cdkDrag cdkDragBoundary=".mdm-cards" [extraIndicator]="indicator.value" (edit)="onEditIndicator(indicator, i)" (delete)="onDeleteIndicator(i)">
                            <div *cdkDragPlaceholder></div>
                            <div cdkDragHandle>
                                <mat-icon>drag_indicator</mat-icon>
                            </div>
                        </app-extra-indicator>
                    </div>
                </div>
                <button mat-stroked-button class="mdm-button" (click)="onAddNewIndicator()"><mat-icon>add</mat-icon>{{ 'AddIndicator' | translate }}</button>
                <mat-hint>
                    <mat-icon>info</mat-icon>{{ 'AddIndicator-GeneralObjective-Hint' | translate }}
                </mat-hint>
            </div>
        </div>
    </div>
</div>
<div class="mdm-section">
    <div class="mdm-title">{{ 'SpecificObjective' | translate }}</div>
    <div [formGroup]="logicalFrameForm">
        <mat-accordion formArrayName="purposes" cdkDropList (cdkDropListDropped)="drop($event)">
            <mat-expansion-panel *ngFor="let purpose of purposes.controls; let i=index;" [formGroupName]="i" cdkDrag>
                <mat-expansion-panel-header>
                    <mat-panel-title><mat-icon cdkDragHandle>drag_indicator</mat-icon>{{ 'SpecificObjective' | translate }} {{i + 1}}: {{purpose.value.description}}</mat-panel-title>
                    <mat-panel-description>
                        <button mat-stroked-button class="mdm-button" (click)="onRemovePurpose(i)"><mat-icon>delete</mat-icon>{{ 'RemovePurpose' | translate }}</button>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-purpose-edit [purposeForm]="purpose" (edit)="onEditPurpose($event, i)"></app-purpose-edit>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<button mat-stroked-button class="mdm-button" (click)="onAddNewPurpose()"><mat-icon>add</mat-icon>{{ 'AddPurpose' | translate }}</button>
