@import "src/assets/theme/size_vars.scss";

.information-container {
  position: relative;
}

.actions-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 24px;
}

@media(max-width: 1241px) {
  .action-bar {
    order: 3;
  }
}
@media(max-width: 782px) {
  .action {
    flex-grow: 1;
    button {
      min-width: none;
      width: 100%;
    }
    mat-button-toggle-group {
      width: 100%;
      flex-wrap: wrap;
      mat-button-toggle {
        flex-grow: 1;
        min-width: none;
      }
    }
  }
}

.project-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;
}

.pagination {
  margin: 0;
}

.page-item {
  display: inline-block;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  // font-size: 1.2em;
  padding: 0.5em 1em;
}

.page-current-item {
  display: inline-block;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  font-size: 1.2em;
  padding: 0.5em 1em;
}
