here i am
<div class="full-page">
    <div class="mdm-title">{{ 'Projects' | translate }}</div>
    <div class="actions-group" [formGroup]="filtersForm">
            <div class="action">
                <mat-button-toggle-group formControlName="statuses" multiple>
                    <mat-button-toggle *ngFor="let status of statuses" [value]="status.value" (click)="onToggleStatus(status.value)" style="min-width: 135px;">
                        {{ status.text | translate }}
                        <ng-container *ngIf="status.checked == true">
                        ({{ status.count }})
                        </ng-container>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div class="action-bar" style="flex-grow: 1">
                <app-searchbar (search)="onSearch($event)"></app-searchbar>
            </div>
            <div class="action new-project-btn" *ngIf="canCreateProject">
                <button mat-raised-button color="primary" (click)="onCreate()" style="min-width: 230px;">
                    <mat-icon svgIcon="add-folder"></mat-icon>
                    {{ 'CreateNewProject' | translate }}
                </button>
            </div>
    </div>
    <div class="mdm-cards">
        <app-project *ngFor="let project of projects" class="mdm-card" (getProjects)="getProjects()"
            [project]="project" (delete)="onDelete($event)" (restore)="onRestore($event)" (clone)="onClone($event)" (cloneWithData)="onCloneWithData($event)"
        ></app-project>
    </div>
    <mat-paginator
        [disabled]="loading"
        [pageIndex]="pageNumber - 1"
        [length]="totalItem"
        [pageSize]="itemPerPage"
        [hidePageSize]="true"
        [showFirstLastButtons]="true"
        (page)="paginationChange($event)"    
    >
    </mat-paginator>
</div>
<app-informations-panel></app-informations-panel>
