<div class="full-page">
    <div class="mdm-title">{{ 'Projects' | translate }}</div>
    <div class="actions" [formGroup]="filtersForm">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>{{ 'AllCountries' | translate }} ({{countries.length}})</mat-label>
                <mat-select formControlName="countries" multiple>
                    <mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-button-toggle-group formControlName="statuses" multiple>
                <mat-button-toggle *ngFor="let status of statuses" [value]="status.value">{{ status.text | translate }}</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div>
            <app-searchbar (search)="onSearch($event)"></app-searchbar>
        </div>
        <!-- <div>
            <mat-form-field appearance="fill">
                <mat-label>Thématiques ({{themes.length}})</mat-label>
                <mat-select formControlName="themes" multiple>
                    <mat-option *ngFor="let theme of themes" [value]="theme">{{theme}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->
        <div>
            <button mat-raised-button color="primary">
                <mat-icon svgIcon="add-folder"></mat-icon>
                {{ 'CreateNewProject' | translate }}
            </button>
        </div>
    </div>
    <div class="mdm-cards">
        <app-project *ngFor="let project of projects" class="mdm-card"
            [project]="project"
        ></app-project>
    </div>
</div>