@import "src/assets/theme/size_vars.scss";

.information-container {
  position: relative;
}

.actions-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 24px;
}

@media(max-width: 1241px) {
  .action-bar {
    order: 3;
  }
}
@media(max-width: 782px) {
  .action {
    flex-grow: 1;
    button {
      min-width: none;
      width: 100%;
    }

    mat-button-toggle-group {
      width: 100%;
      flex-wrap: wrap;
      mat-button-toggle {
        flex-grow: 1;
        min-width: none;
      }
    }

    .select {
      width: 100%;
    }
  }
}

.select {
  border: solid 1px rgba(0, 0, 0, 0.12);
  background-color: #e9e9e9;
  border-radius: 4px;
  height: 41px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  width: 200px;

  .mat-select-placeholder {
    color: unset !important;
  }

  &::placeholder {
    color: #656565;
  }
}

.select-options {
  display: flex;
  // justify-content: flex-end;
  padding: 8px 16px;
  gap: 12px;
  width: 305px;

  & > * {
    line-height: 24px;
  }
}
