<!-- <section class="page-section">
    <p class="section-title">Projets
    </p>
    <div class="section-row">
        <div class="btn-group">
            <button id="btn-1" [ngClass]="{
                'btn-group-active': btn1Clicked
              }" (click)="onBtnClick('btn-1')">En cours</button>
            <button id="btn-2" [ngClass]="{
                'btn-group-active': btn2Clicked
              }" (click)="onBtnClick('btn-2')">Terminés</button>
            <button id="btn-3" [ngClass]="{
                'btn-group-active': btn3Clicked
              }" (click)="onBtnClick('btn-3')">Supprimés</button>
        </div>
        <div class="row-wrapper">
            <div class="wrapper">
                <div class="search_box">
                    <input type="text" [(ngModel)]="search" (ngModelChange)="onSearchbarChanged()"
                        placeholder="Chercher">
                    <svg-icon id="search-icon" key="search"></svg-icon>
                </div>
            </div>
            <div [formGroup]="countryForm">
                <select formControlName="countries" (change)="onSelectMenuChanged()" [(ngModel)]="selectedCountry">
                    <option class='option' *ngFor='let country of countries' [disabled]="country.value==''"
                        [value]="country.value">
                        {{country.option}}</option>
                </select>
            </div>
            <button class="icon-btn"><svg-icon key="addFolder"></svg-icon> Créer un projet</button>
        </div>
    </div>
    <div class="projects">
        <app-project *ngFor="let project of projects" [project]="project"></app-project>
    </div>
</section> -->
<div>
    <h2>Projects</h2>
    <app-searchbar></app-searchbar>
    <div class="actions" [formGroup]="filtersForm">
        <div>
            <mat-button-toggle-group>
                <mat-button-toggle>En cours</mat-button-toggle>
                <mat-button-toggle>Terminés</mat-button-toggle>
                <mat-button-toggle>Supprimés</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Tous les pays ({{countries.length}})</mat-label>
                <mat-select formControlName="countries" multiple>
                    <mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Thématiques ({{themes.length}})</mat-label>
                <mat-select formControlName="themes" multiple>
                    <mat-option *ngFor="let theme of themes" [value]="theme">{{theme}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="primary">
                <mat-icon svgIcon="add-folder"></mat-icon>
                Créer un project
            </button>
        </div>
    </div>
    <mat-grid-list cols="3">
        <mat-grid-tile *ngFor="let project of projects">
            <app-project [project]="project"></app-project>
        </mat-grid-tile>
    </mat-grid-list>
</div>