@import "src/assets/theme/size_vars.scss";

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 24px;

  .actions-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media screen and (min-width: $breakpoint-xs + 1px) {

      flex: 1;

      &:first-child {
        .action:not(:last-child) {
          margin-right: 16px;
        }
      }
  
      &:last-child {

        justify-content: flex-end;
        .action:not(:first-child) {
          margin-left: 16px;
        }
      }
    }

    @media screen and (max-width: $breakpoint-xs) {

      width: 100%;
      justify-content: space-between;

      &:first-child {
        margin-bottom: 24px;
      }
    }

    .action-bar {
      width:55%;
    }
  }
}
