<span [innerHTML]="transform('InformationPanel.input_save_response.0.text')"></span>
<ul>
    <li [innerHTML]="transform('InformationPanel.input_save_response.0.list.0')"></li>
    <li [innerHTML]="transform('InformationPanel.input_save_response.0.list.1')"></li>
    <li [innerHTML]="transform('InformationPanel.input_save_response.0.list.2')"></li>
</ul>
<span [innerHTML]="transform('InformationPanel.input_save_response.1.text')"></span>
<ul>
    <li [innerHTML]="transform('InformationPanel.input_save_response.1.list.0')"></li>
    <li [innerHTML]="transform('InformationPanel.input_save_response.1.list.1')"></li>
    <li [innerHTML]="transform('InformationPanel.input_save_response.1.list.2')"></li>
</ul>
<span [innerHTML]="transform('InformationPanel.input_save_response.2.text')"></span>
<ul>
    <li [innerHTML]="transform('InformationPanel.input_save_response.2.list.0')"></li>
    <li [innerHTML]="transform('InformationPanel.input_save_response.2.list.1')"></li>
    <li [innerHTML]="transform('InformationPanel.input_save_response.2.list.2')"></li>
    <li [innerHTML]="transform('InformationPanel.input_save_response.2.list.3')"></li>
</ul>