@import "./../../../../../../../assets/theme/size_vars.scss";
mat-icon.option{
    height: 14px;
    width: 14px;
    font-size: $small_text;
    line-height: 12px;
    margin-right: 5px !important;
    transform: rotate(-90deg);
}