mat-chip {
    color: white !important;
    font-weight: bold;
}
.chip-AdminRole {
    background-color: #337ab7;
}

.chip-CommonRole {
    background-color: #8a6d3b;
}

.chip-ProjectRole{
    background-color: #3c763d;
}

.card-info-value {
    width: 100% !important;
}

.card-info-title {
    margin-bottom: 10px !important;
}