.chip-AdminRole {
    color: white;
    font-weight: bold;
    background-color: #337ab7;
    width: fit-content;
}

.chip-CommonRole {
    color: white;
    font-weight: bold;
    background-color: #8a6d3b;
}

.chip-ProjectRole{
    color: white;
    font-weight: bold;
    background-color: #3c763d;
}