@import "src/styles.scss";

.indicators{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    margin-right: -1.9%;
    margin-left: -1.6%;
  
    app-indicator{
    width: 30%;
    margin: 1.6%;
    }
    @media screen and (max-width: $break-point-four-to-three) {
      justify-content: space-between;
      app-indicator{
        width: 40%;
        }
  }
  @media screen and (max-width: $break-point-three-to-two) {
    margin-right: 0;
    margin-left: 0;
    justify-content: center;
    app-indicator{
      width: 60%;
      margin: 0;
      margin-bottom: 20px;
      }
  }
  @media screen and (max-width: $break-point-two-to-one) {
    app-indicator{
      width: 100%;
      }
  }
  }