<mat-card class="with-header">
    <ng-content></ng-content>
    <mat-card-header class="card-header">{{ extraIndicator.display }}</mat-card-header>
    <mat-card-content>
        <div *ngIf="extraIndicator.crossCutting" class="card-info column">
            <div class=card-info-title>{{ 'Description' | translate }}: </div>
            <div class="card-info-value"
                [innerHTML]="
                    extraIndicator.description ?
                    extraIndicator.description[currentLang] :
                    ( 'IndicatorMissingDescription' | translate )"
            ></div>
        </div>
        <div class="card-info">
            <div class="card-info-title">{{ 'Baseline' | translate }}: </div>
            <div class="card-info-value">
                {{ extraIndicator.baseline !== null ? extraIndicator.baseline + (extraIndicator.unit ? extraIndicator.unit : null) : '?' }}
            </div>
        </div>
        <div class="card-info">
            <div class="card-info-title">{{ 'Target' | translate }}: </div>
            <div class="card-info-value">
                {{ extraIndicator.target !== null ? extraIndicator.target + (extraIndicator.unit ? extraIndicator.unit : null): '?' }}
            </div>
        </div>
        <div class="card-info">
            <div class="card-info-title">{{ 'Computation' | translate }}: </div>
            <div class="card-info-value">
                <span *ngIf="extraIndicator.computation.formula; else elseBlock" class="computation valid">{{ 'Valid' | translate }} <mat-icon>link</mat-icon> </span>
                <ng-template #elseBlock><span class="computation invalid">{{ 'Invalid' | translate }} <mat-icon>link_off</mat-icon> </span></ng-template>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions align="end" class="mdm-button-group">
        <button mat-stroked-button class="mdm-button small-button" (click)="onEdit()" [disabled]="disabled">
            <ng-container *ngIf="notConfigured">
                <mat-icon>add</mat-icon>{{ 'Add' | translate }}
            </ng-container>
            <ng-container *ngIf="!notConfigured">
                <mat-icon svgIcon="edit"></mat-icon>{{ 'Edit' | translate }}
            </ng-container>
        </button>
        <button *ngIf="deletable" mat-icon-button [matMenuTriggerFor]="menu" class="mdm-button small-button"><mat-icon>expand_more</mat-icon></button>
    </mat-card-actions>
</mat-card>

<mat-menu #menu="matMenu">
    <button mat-menu-item class="delete" (click)="onDelete()">
        <ng-container *ngIf="reset">
            <mat-icon class="delete">restart_alt</mat-icon>
            <span>{{ 'Reset' | translate }}</span>
        </ng-container>
        <ng-container *ngIf="!reset">
            <mat-icon class="delete">delete</mat-icon>
            <span>{{ 'Delete' | translate }}</span>
        </ng-container>
    </button>
</mat-menu>
