@import "src/assets/theme/color_vars.scss";

.mat-expansion-panel-header-description {
  button {
    margin-left: auto;
  }
}

.mat-expansion-panel {
  margin: 16px 0;

  mat-icon {
    line-height: 24px;
    font-size: 20px;
  }
}
.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  display: flex !important;
  align-items: center;
  flex-grow: 1 !important;
  margin-right: 16px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  color: $variable_expansion_panel_color;
}
.mat-expansion-panel-header-description {
  justify-content: end;
  margin-right: 0 !important;
}
.mat-expansion-panel-header:not([aria-disabled=true]) {
  cursor: pointer;
  background-color: $variable_expansion_panel_background !important;
}

app-collection-sites-selector{
  flex: 1;
  display: flex;
}

.date-group {
  align-items: center !important;
}