<div class="mdm-section">
    <div class="mdm-title">{{ 'DataSourceCalendarTitle' | translate }}</div>
    <div [formGroup]="dataSourceForm" class="mdm-form">
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'Name' | translate }}</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <input matInput formControlName="name" placeholder="{{ 'DataSourceEdit.AddNamePlaceholder' | translate }}">
                <mat-hint>
                    <mat-icon>info</mat-icon>{{ 'DataSourceEdit.AddNameHint' | translate }}
                </mat-hint>
            </mat-form-field>
        </div>
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'CollectionSites' | translate }}</div>
            <app-collection-sites-selector
                [form]="dataSourceForm"
                [entities]="entities"
                [groups]="groups"
                [hint]="'DataSourceEdit.CollectionSitesHint'">
            </app-collection-sites-selector>
        </div>
        <div class="mdm-form-group">
            <div class="mdm-form-label">{{ 'Periodicity' | translate }}</div>
            <mat-form-field appearance="outline" class="mdm-form-field">
                <mat-select formControlName="periodicity" placeholder="{{ 'Periodicity' | translate }}" disableOptionCentering panelClass="myPanelClass" #select>
                    <mat-select-trigger>
                      {{ select.value ? ('Enum.Periodicity.' + select.value | translate) : null }}
                    </mat-select-trigger>
                    <mat-option *ngFor="let periodicity of periodicities" [value]="periodicity.value">
                        {{ periodicity.display | translate }}
                        <mat-icon
                            [matTooltip]="'Enum.Periodicity.Tooltip.' + periodicity.value | translate"
                            *ngIf="periodicity.value === 'free'"
                            matTooltipPosition="right"
                            matTooltipClass="white-bg-tooltip"
                            style="scale: .7; margin-top: -1px; opacity: .6;"
                        >info</mat-icon>
                    </mat-option>
                </mat-select>
                <mat-hint>
                    <mat-icon>info</mat-icon>{{ 'DataSourceEdit.PeriodicityHint' | translate }}
                </mat-hint>
            </mat-form-field>
        </div>
        <ng-container *ngIf="this.dataSourceForm.value.periodicity !== 'free'">
            <div class="mdm-form-group date-group">
                <div class="mdm-form-label" [style.marginBottom]="isCustom('start') ? '40px' : '20px'">{{ 'StartDate' | translate }}</div>
                    <mat-radio-group class="dateGroup" [disabled]="startDateDisabled">
                        <mat-radio-button (change)="toggleCustomDate($event, 'start')" [checked]="!isCustom('start')" value="false" >{{ 'SameAsProject' | translate : { date: project.start | localizedDate} }}</mat-radio-button>
                        <mat-radio-button (change)="toggleCustomDate($event, 'start')" [checked]="isCustom('start')" value="true" >{{ 'CustomDate' | translate }}</mat-radio-button>
                        <mat-form-field *ngIf="isCustom('start')" appearance="outline" class="mdm-form-field" [class.custom-disabled]="startDateDisabled">
                            <input matInput [matDatepicker]="startPicker" formControlName="start" [min]="project?.start" [max]="dataSourceForm.value.end || project?.end">
                            <mat-datepicker-toggle matPrefix [for]="startPicker"></mat-datepicker-toggle>
                            <mat-datepicker #startPicker></mat-datepicker>
                            <mat-hint>
                                <mat-icon>info</mat-icon>{{ 'DataSourceEdit.StartDateHint' | translate }}
                            </mat-hint>
                        </mat-form-field>
                    </mat-radio-group>
            </div>
            <div class="mdm-form-group date-group">
                <div class="mdm-form-label" [style.marginBottom]="isCustom('start') ? '40px' : '20px'">{{ 'EndDate' | translate }}</div>
                    <mat-radio-group class="dateGroup">
                        <mat-radio-button (change)="toggleCustomDate($event, 'end')" [checked]="!isCustom('end')" value="false" >{{ 'SameAsProject' | translate : { date: project.end | localizedDate} }}</mat-radio-button>
                        <mat-radio-button (change)="toggleCustomDate($event, 'end')" [checked]="isCustom('end')" value="true" >{{ 'CustomDate' | translate }}</mat-radio-button>
                        <mat-form-field *ngIf="isCustom('end')" appearance="outline" class="mdm-form-field">
                            <input matInput [matDatepicker]="endPicker" formControlName="end" [min]="dataSourceForm.value.start || project?.start" [max]="project?.end">
                            <mat-datepicker-toggle matPrefix [for]="endPicker"></mat-datepicker-toggle>
                            <mat-datepicker #endPicker></mat-datepicker>
                            <mat-hint>
                                <mat-icon>info</mat-icon>{{ 'DataSourceEdit.EndDateHint' | translate }}
                            </mat-hint>
                        </mat-form-field>
                    </mat-radio-group>
            </div>
        </ng-container>
    </div>
</div>
<div class="mdm-section">
    <div class="mdm-title">{{ 'DataSourceStructureTitle' | translate }}</div>
    <div [formGroup]="dataSourceForm">
        <mat-accordion formArrayName="elements" cdkDropList (cdkDropListDropped)="drop($event)" [hideToggle]="true">
            <mat-expansion-panel *ngFor="let element of elements.controls; let i=index" [formGroupName]="i" cdkDrag>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon cdkDragHandle>drag_indicator</mat-icon>
                        {{ 'Data' | translate }} {{i + 1}}: {{element.value.name}}
                     </mat-panel-title>
                    <mat-panel-description>
                        <button mat-icon-button [matMenuTriggerFor]="optionsMenu" [matMenuTriggerData]="{el: i}" (click)="$event.stopPropagation()">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <!-- <button mat-stroked-button class="mdm-button" (click)="$event.stopPropagation();onDupElement(i)">{{ 'Duplicate' }}</button>
                        <button mat-stroked-button class="mdm-button delete-button" (click)="$event.stopPropagation();onRemoveElement(i)"><mat-icon>delete</mat-icon>{{ 'RemoveVariable' | translate }}</button> -->
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-form-element-edit [elementForm]="element" [dataSourceName]="dataSourceForm.value.name"></app-form-element-edit>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<button mat-stroked-button class="mdm-button" (click)="onAddNewElement()"><mat-icon>add</mat-icon>{{ 'AddData' | translate }}</button>

<mat-menu #optionsMenu="matMenu">
    <ng-template matMenuContent let-el="el">
        <button mat-menu-item (click)="onDupElement(el)">
            <mat-icon>content_copy</mat-icon>
            <span>{{ 'Duplicate' | translate }}</span>
        </button>
        <button class="delete" mat-menu-item (click)="onRemoveElement(el)">
            <mat-icon class="delete">delete</mat-icon>
            <span>{{ 'RemoveVariable' | translate }}</span>
        </button>
    </ng-template>
  </mat-menu>
