<div class="mdm-section">
  <div class="mdm-cards" cdkDropListGroup>
      <div class="mdm-card" *ngFor="let logicalFrame of logicalFrames; let i=index" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="{logicalFrame:logicalFrame,index:i}" (cdkDropListDropped)="drop($event)">
          <app-logical-frame cdkDrag cdkDragBoundary=".mdm-cards" [project]="project" [logicalFrame]='logicalFrame' (clone)="onClone($event)" (edit)='onEdit($event)' (delete)="onDelete($event)">
              <div *cdkDragPlaceholder></div>
              <div cdkDragHandle class="cards-draghandle">
                  <mat-icon>drag_indicator</mat-icon>
              </div>
          </app-logical-frame>
      </div>
  </div>
  <button mat-stroked-button class="mdm-button" (click)="onCreate()">
      <mat-icon>add</mat-icon>
      {{ 'CreateLogicalFramework' | translate }}
  </button>
</div>
