<div class="mdm-section">
    <div class="actions">
        <button mat-stroked-button class="mdm-button" (click)="onCreate()">
            <mat-icon>add</mat-icon>
            {{ 'CreateLogicalFramework' | translate }}
        </button>
        <button mat-stroked-button class="mdm-button" [matMenuTriggerFor]="menu" [disabled]="downloadingAll">
            <mat-icon>download</mat-icon>{{ 'DownloadAllPDF' | translate }}
        </button>
    </div>
  <div class="mdm-cards" cdkDropListGroup>
    <div class="mdm-card" *ngFor="let logicalFrame of logicalFrames; let i=index" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="{logicalFrame:logicalFrame,index:i}" (cdkDropListDropped)="drop($event)">
        <app-logical-frame cdkDrag cdkDragBoundary=".mdm-cards" [project]="project" [logicalFrame]='logicalFrame' (clone)="onClone($event)" (edit)='onEdit($event)' (delete)="onDelete($event)">
            <div *cdkDragPlaceholder></div>
            <div cdkDragHandle class="cards-draghandle">
                <mat-icon>drag_indicator</mat-icon>
            </div>
        </app-logical-frame>
    </div>
  </div>
</div>
<a id="downloadAnchorElem" style="display:none"></a>

<mat-menu #menu="matMenu" style="background-color: white;">
    <a mat-menu-item (click)="onDownloadAll('portrait')" target="_blank">
        <mat-icon>insert_drive_file</mat-icon>
        <span>{{ 'Portrait' | translate }}</span>
    </a>
    <a mat-menu-item (click)="onDownloadAll('landscape')" target="_blank">
        <mat-icon>note</mat-icon>
        <span>{{ 'Landscape' | translate }}</span>
    </a>
</mat-menu>
