.right-buttons{
    float: right;

    button{
        width: 205px;
    }

    mat-icon{
        line-height: 20px;
        margin-right: 5px;
    }
}

.mdm-table {
    tr {
        th {
            font-size: 14px;
            text-align: center;
        }
        td{
            text-align: center;
            button{
                width: 85px;
            }
        }
    }
}

.create-button{
    color: white;
    background-color: rgb(49, 112, 143);
    border-color: rgb(49, 112, 143) !important;
}