<mat-card>
    <mat-card-header class="indicator-header">Training Volume</mat-card-header>
    <mat-card-content>
        <div class="indicator-info">
            <div class="indicator-info-title">{{ 'Description' | translate }}</div>
            <div class="indicator-info-value">We are not talking about health education, but training of medical staff. Count the number of entries and not the number of different people who attended these trainings.</div>
            <div class="indicator-info-value"><span>Baseline: </span>?</div>
            <div class="indicator-info-value"><span>Target: </span>?</div>
            <div class="indicator-info-value"><span>Computation: </span>
                <span *ngIf="computation; else elseBlock" class="valid">Valid</span>
                <ng-template #elseBlock><span class="invalid">Invalid</span></ng-template>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-stroked-button class="mdm-button small-button"><mat-icon svgIcon="edit"></mat-icon>{{ 'Edit' | translate }}</button>
    </mat-card-actions>
</mat-card>