<div class="mdm-section">
  <div class="actions">
    <button mat-stroked-button class="mdm-button" (click)="onCreate()">
      <mat-icon>add</mat-icon>{{ 'CreateNewDataSource' | translate }}
    </button>
    <button mat-stroked-button class="mdm-button" [matMenuTriggerFor]="pdfMenu" [disabled]="downloadingAll">
      <mat-icon>download</mat-icon>{{ 'DownloadAllPDF' | translate }}
    </button>
    <button mat-stroked-button class="mdm-button" [matMenuTriggerFor]="excelMenu" [disabled]="downloadingAll">
      <mat-icon>download</mat-icon>{{ 'ExportAllExcel' | translate }}
    </button>
  </div>
  <div class="mdm-cards" cdkDropListGroup>
    <div class="mdm-card" *ngFor="let form of forms; let i=index" cdkDropList cdkDropListOrientation="horizontal"
      [cdkDropListData]="{form:form,index:i}" (cdkDropListDropped)="drop($event)">
      <app-data-source cdkDrag cdkDragBoundary=".mdm-cards" [project]="project" [form]="form" (edit)='onEdit($event)' (delete)="onDelete($event)">
        <div *cdkDragPlaceholder></div>
        <div cdkDragHandle class="cards-draghandle">
          <mat-icon>drag_indicator</mat-icon>
        </div>
      </app-data-source>
    </div>
  </div>
</div>
<a id="downloadAnchorElem" style="display:none"></a>

<mat-menu #excelMenu="matMenu" style="background-color: white;">
    <button mat-menu-item 
        (click)="onExportAllExcel('single')"
        [matTooltip]="'ExportSingleTemplate' | translate"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
    >
        <mat-icon>table_chart</mat-icon>
        {{ 'ExportSingleTemplate' | translate }}
    </button>
    <button mat-menu-item 
        (click)="onExportAllExcel('allSites')"
        [matTooltip]="'ExportMultipleTemplate' | translate"
        matTooltipPosition="right"
        matTooltipShowDelay="500"
    >
        <mat-icon>backup_table</mat-icon>
        {{ 'ExportMultipleTemplate' | translate }}
    </button>
</mat-menu>

<mat-menu #pdfMenu="matMenu" style="background-color: white;">
    <a mat-menu-item (click)="onExportAllPdf('portrait')" target="_blank">
        <mat-icon>insert_drive_file</mat-icon>
        <span>{{ 'Portrait' | translate }}</span>
    </a>
    <a mat-menu-item (click)="onExportAllPdf('landscape')" target="_blank">
        <mat-icon>note</mat-icon>
        <span>{{ 'Landscape' | translate }}</span>
    </a>
</mat-menu>
