<div class="info-section blue">
    <span>
        <p>{{ 'InputsInfo.0' | translate }} <span *ngIf="this.form">"{{this.form.name}}"</span></p>
        <p>{{ 'InputsInfo.1' | translate }}</p>
        <p>{{ 'InputsInfo.2' | translate }}</p>
    </span>
    <div class="info-buttons">
        <a mat-stroked-button type="button" class="mdm-button"
            href="/api/resources/project/{{project.id}}/data-source/{{formId}}.pdf?orientation=portrait" target="_blank"
            rel="noopener noreferrer">
            <mat-icon>insert_drive_file</mat-icon>{{'DownloadPdfPortrait' | translate}}
        </a>
        <a mat-stroked-button type="button" class="mdm-button"
        href="/api/resources/project/{{project.id}}/data-source/{{formId}}.pdf?orientation=landscape" target="_blank"
        rel="noopener noreferrer">
        <mat-icon>note</mat-icon>{{'DownloadPdfLandscape' | translate}}
    </a>
    </div>
</div>
<div *ngIf="this.sites?.length > 0; else elseBlockError">
    <table mat-table [dataSource]="dataSource" class="mdm-table">
        <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column}}">
            <th mat-header-cell *matHeaderCellDef>{{ column | translate }}</th>
            <td mat-cell *matCellDef="let element" id="{{column}}">
                <div *ngIf="column === 'Date'; else elseBlock">{{ element[column] }}</div>
                <ng-template #elseBlock>
                    <div *ngIf="element[column]?.value === -1; else elseBlock2">
                        <button mat-stroked-button [routerLink]="element[column]?.routerLink"
                            class="mdm-button small-button create-button">{{ 'Create' | translate }}</button>
                    </div>
                    <ng-template #elseBlock2>
                        <button mat-stroked-button [routerLink]="element[column]?.routerLink"
                            class="mdm-button small-button">{{ 'Edit' | translate }} ({{ element[column]?.value.toFixed(0) }}%)</button>
                    </ng-template>
                </ng-template>
            </td>
        </ng-container>
        <ng-container matColumnDef="expandedDates">
            <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="expand-row">
                <ng-template [ngIf]="seeOlderDatesFlag">
                    <button mat-stroked-button (click)="seeOlderDates()" class="mdm-button small-button">{{ 'SeeOlderDates'
                        | translate }}</button>
                </ng-template>
            </td>
        </ng-container>

        <ng-container *ngFor="let column of footerColumns" matColumnDef="{{column}}">
            <td mat-footer-cell *matFooterCellDef [ngClass]="column === 'footerDate'? 'datepicker-cell':''">
                <div *ngIf="column === 'footerDate'; else elseBlockFooter">
                    <mat-form-field appearance="outline" class="mdm-form-field">
                        <input matInput [matDatepicker]="startPicker" [formControl]="dateForm">
                        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                        <mat-datepicker #startPicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <ng-template #elseBlockFooter>
                    <button mat-stroked-button [routerLink]=" './edit/' + column + '/' + currentDate"
                        class="mdm-button small-button create-newdate-button">
                        {{ 'Create (new date)' | translate }}
                    </button>
                </ng-template>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="footerColumns" [ngClass]="!periodicityIsFree ? 'hidden' : ''"></tr>
        <tr mat-footer-row *matFooterRowDef="['expandedDates']"></tr>
    </table>
</div>
<ng-template #elseBlockError>
    {{ 'ErrorNoCollectionSiteAssociated' | translate }}
</ng-template>

