<div class="info-section blue">
    <div class="info-buttons">
        <button mat-stroked-button class="mdm-button"><mat-icon>insert_drive_file</mat-icon>Download PDF (portrait)</button>
        <button mat-stroked-button class="mdm-button"><mat-icon>note</mat-icon>Download PDF (landscape)</button>
    </div>
    <span>
        <p>This input calendar list all the inputs that were programmed for the data source "Rapport de supervision trimestriel (CSP)"</p>
        <p>To limit data entry errors, the preferred course is to do the data entry close from the site where the data is extracted, directly on monitool.</p>
        <p>If not attainable, a PDF version of the form is provided.</p>
    </span>
</div>

<p>inputs works!</p>
<p>{{ formId }}</p>