@import "src/assets/theme/size_vars";
@import "src/assets/theme/color_vars";

.mdm-table {
    tr {

        td:first-child {
            font-weight: bold;
            width: 15%;
          }

        th {
            text-align: center;
          min-width: 120px; // taking into account the width of max length of word possible.
        }
        td{
            text-align: center;
            &:not(.expand-row) {
                div, button{
                    width: 100%;
                }
            }
        }
    }
}

.create-button{
    color: white;
    background-color: rgb(49, 112, 143);
    border-color: rgb(49, 112, 143) !important;
}

.create-newdate-button{
    color: white;
    background-color: #5cb85c;
    border-color: #4cae4c !important;
}

.info-section {
    flex-direction: row;
    span {
        margin-right: 10px;
    }
    @media screen and (max-width: $breakpoint-xs) {
        flex-direction: column;
        span {
            margin: 0px 0px 10px 0px;
        }
        .info-buttons {
            width: 80%;
            align-self: center;
        }
    }
}

.mdm-form-field {
    width: 100%;

    .mat-form-field-wrapper {
      padding: 0 !important;

      .mat-form-field-flex {
        .mat-form-field-infix {
          width: auto;
        }
      }
    }
}

th {
    font-weight: bold;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    &.mat-header-cell {
        padding: 0px !important;
        text-align: center;
    }
}
td {
    flex: 1;
}
tr {
    display: flex;
    width: 100%;
    background: $table_background_white;
    &.mat-row{
        height: auto;
    }
}
td.mat-cell, td.mat-footer-cell{
    padding: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    &.datepicker-cell{
        align-items: baseline;
    }

}

.tr.mat-footer-row{
    height: 48px;
}

.hidden{
    display: none;
}


.mdm-table {
    width: 100%;
    margin-top: 15px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px $table_border;
}
