@import '~@angular/material/theming';
@import "./assets/theme/size_vars.scss";
@import "./assets/theme/font_vars.scss";
@include mat-core();

$mdm-primary-colors: (
    50 : #e0ecf8,
    100 : #b3cfee,
    200 : #80afe2,
    300 : #4d8ed6,
    400 : #2676ce,
    500 : #005ec5,
    600 : #0056bf,
    700 : #004cb8,
    800 : #0042b0,
    900 : #0031a3,
    A100 : #ced9ff,
    A200 : #9bb1ff,
    A400 : #688aff,
    A700 : #4e76ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$mdm-accent-colors: (
    50 : #ffece0,
    100 : #ffcfb3,
    200 : #ffaf80,
    300 : #fe8e4d,
    400 : #fe7626,
    500 : #fe5e00,
    600 : #fe5600,
    700 : #fe4c00,
    800 : #fe4200,
    900 : #fd3100,
    A100 : #ffffff,
    A200 : #fff2f1,
    A400 : #ffc6be,
    A700 : #ffb0a4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mdm-monitool-frontend-primary: mat-palette($mdm-primary-colors);
$mdm-monitool-frontend-accent: mat-palette($mdm-accent-colors);
$mdm-monitool-frontend-warn: mat-palette($mat-red);

$mdm-monitool-frontend-theme: mat-light-theme((
  color: (
    primary: $mdm-monitool-frontend-primary,
    accent: $mdm-monitool-frontend-accent,
    warn: $mdm-monitool-frontend-warn,
  )
));

@include angular-material-theme($mdm-monitool-frontend-theme);

$mdm-monitool-frontend-typography: mat-typography-config(
    $font-family: $main-font,
    $body-1: mat-typography-level(16px, 20px, 400),
    $button: mat-typography-level(16px, 16px, 500)
);

@include angular-material-typography($mdm-monitool-frontend-typography);

// Colors
:root {
    // to be deprecated
    --title-color: #645c83;
    --filters-header: #efeff4;

    // ### MAIN PALETTE
    --main-text: #151515;
    --action: #5d9cd1;
    --primary: #33c293;
    --submit: #21ba46;
    --danger: #d43f3a;
    --light: #f8f7f8;
    --default: #e0e1e2;
    --main: #656565;
    --dark: #202123;
    --text: rgba(255, 255, 255, 0.77);
    --small-text: #777777;

    // ### BORDERS
    --light-border: #dfe2e6;
    --main-border: #e1e1e1;

    // ### FOCUS
    --main-focus: #f9fafa;

    // ### LOGIN
    --login-overlay: #3cc194;

    // ### HEADER
    --header-background: #005ec5;
    --header-color: #6e6e6e;
    --header-focus: #1f1f1f;

    // ### PAGE
    --page-background: #f7f7f7;
    --main-background: white;
    --preguntas: #32ce9b;
    --disabled: #e7e7e7;

    // ### DRAWERS
    --drawer-background: white;
    --drawer-focus: var(--main-focus);
}

html, body { height: 100%; }
body {
    margin: 0;
    font-family: $main-font;
    font-size: $big_text;
    color: var(--main);
}

*, *::before, *::after {
    box-sizing: border-box;
}

// === LAYOUT ===
.full-page {
    padding: 30px 48px;
    @media screen and (max-width: $breakpoint-xs) {
        padding: 25px 16px;
    }
}

.drawer {
    display: flex;
    min-height: 100%;

    @media screen and (min-width: $breakpoint-sm + 1px) {
        height: 100%;
        overflow: hidden;
    }

    @media screen and (max-width: $breakpoint-sm) {
        flex-direction: column;
        padding: 24px;
    }

    @media screen and (max-width: $breakpoint-xs) {
        padding: 24px 16px;
    }
}

.drawer-page {
    overflow: auto;
    padding: 10px;
    flex: 1;
    margin-bottom: 56px;

    @media screen and (max-width: $breakpoint-sm) {
        margin-top: 32px;
        overflow: auto;
        padding: 0;
    }
}

mat-hint {
    font-size: $small_text;
    display: flex;
    padding-top: 7px;
    margin-block-start: auto;
    margin-left: -12px;
    margin-bottom: auto;
    @media screen and (max-width: $breakpoint-sm){
        flex-direction: column;
        margin-left: 0px !important;
        display: block;
    }
        .icon-style{
          width: 1em;
          height: 1em;
          font-size: inherit;
          vertical-align: baseline;
          margin-top: 4px;
        }
}

// === TEXT ===
.mdm-title {
    font-size: $big_text;
    color: #151515;
    line-height: 24px;
}

.mdm-sub-title {
    font-size: $small_text;
    color: #777777;
    line-height: 16px;
    padding-left: 8px;
}

// === SECTIONS ===
.info-section {
    background-color: #ececec;
    font-size: $normal_text;
    padding: 10px;
    color: #777b7e;
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;    

    p {
        margin: 0;
    }

    h3{
        font-weight: bold;
    }
    &.blue {
        background-color: #d9edf7;
        color: #31708f;
    }

    .info-buttons {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        margin-bottom: 4px;
        a {
            margin-bottom:  4px;
        }
    }
}

.mdm-section {
    margin-bottom: 68px;
    color: black;

    .mat-icon{
        line-height: 20px;
    }
}

// === MDM CARDS ===
.mdm-cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 24px -12px 0;


    @media screen and (max-width: $breakpoint-xs) {
        margin: 24px 0 0;
    }

    .mdm-card {
        width: calc(25% - 24px);
        margin: 0 12px 24px;

        @media screen and (max-width: $breakpoint-sm) {
            width: calc(50% - 24px);
        }

        @media screen and (max-width: $breakpoint-xs) {
            width: 100%;
            margin: 0 0 16px;
        }
    }

    .card-header {
        border-bottom: 1px solid rgba(144, 144, 144, 0.24);
    }

    .card-info {
        display: flex;
        flex-direction: column;
        font-size: $small_text;
        margin-bottom: 8px;

        .card-info-title {
            flex: 1;

            &:not(b) {
                color: #909090;
            }
        }
        .card-info-value {
            flex: 1;
        }

        .computation {
            &.valid {
                color: #3c763d;
            }

            &.invalid {
                color: #a94442;
            }

            mat-icon{
                height: 14px;
                width: 14px;
                font-size: $small_text;
                line-height: 14px;
                vertical-align: middle;
            }
        }
    }
}

// === MATERIAL ===
.mat-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;

    .mat-card-header {
        align-items: center;
        padding-bottom: 8px;
        margin-bottom: 12px;

        .mat-card-header-text {
            margin: 0 0 0 16px;
        }

        .mat-card-title {
            font-size: $normal_text;
            margin-bottom: 0;
        }
    }

    .mat-card-actions:last-child {
        margin-bottom: 0 !important;
    }
}

.mat-button-toggle-appearance-standard {
    .mat-button-toggle-label-content {
        line-height: 38px;
    }
}

.mat-raised-button {
    line-height: 40px !important;
}

.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button {
    &:last-child {
        margin-left: 0;
    }
}

.mat-chip {
    font-size: $very_small_text;
    min-height: 24px !important;
    padding: 8px !important;

    &.mat-chip-selected {
        &.mat-accent {
            color: white !important;
        }
    }
}

// === BUTTONS ===
.mdm-button {
    background-color: white;
    border: 1px solid #c8c9cc !important;
    height: 32px;
    padding: 0 12px !important;
    font-size: $small_text;

    mat-icon{
        line-height: 20px;
    }

    &.small-button {
        padding: 0 8px !important;
        height: 24px;
        line-height: 24px;

        .mat-icon {
            height: 14px;
            width: 14px;
            font-size: $small_text;
            line-height: 14px;
            margin-right: 8px;
        }
    }

    &.mat-icon-button {
        padding: 0 !important;
        border-radius: 4px;

        &:not(.small-button) {
            height: 32px;
            width: 32px;
            line-height: 32px;
        }

        &.small-button {
            width: 24px;
        }

        .mat-icon {
            margin: 0;
        }
    }
}

.mdm-button-group {
    .mdm-button {
        &:not(:only-child) {
            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right-style: none !important;
            }

            &:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

// === TABLE ===
.mdm-table {
    width: 100%;
    margin-top: 15px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #dddddd;

    tr {
        td:not(:last-child),th:not(:last-child) {
            border-right: 1px solid #dddddd;
        }

        td {
            font-size: $small_text;
        }

        th {
            font-size: $big_text;
            font-weight: bold;
            color: black;
        }
    }

    .mdm-form-field {
        width: 100%;

        .mat-form-field-wrapper {
            padding: 0 !important;

            .mat-form-field-flex {
                .mat-form-field-infix {
                    width: auto;
                }
            }
        }
    }

    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
        padding: 8px 5px;
    }

    th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
        padding: 8px 16px 8px 8px;
    }
    th.input-td.mat-header-cell:last-of-type, td.input-td.mat-cell:last-of-type, td.input-td.mat-footer-cell:last-of-type {
        padding: 0px;
    }

    code{
        padding: 2px 4px;
        font-size: 90%;
        color: #c7254e;
        background-color: #f9f2f4;
    }
}

.input-table{
    thead{
        tr.mat-header-row{
           height: 0px !important;
        }
    }
    tbody{
        tr{
            td{
                position: relative;
                &.tableLabel{
                    background-color: #eeeeee;
                    .table-value{
                        color: inherit;
                    }
                }

                .input-div{
                    padding: 0px;
                    input{
                        padding: 8px;
                        width: 100%;
                        font-family: inherit;

                        //this is to make the input ocuppy the entire cell
                        position:absolute;
                        top: 1px;
                        height: calc(100% - 2px);
                        border: 0;
                    }
                }
                .table-value{
                    padding: 8px;
                    color: #777777;
                }
            }
        }
    }
}

// === MODALS ===
.mat-dialog-container {
    position: relative;
}

.dialog-close {
    position: absolute !important;
    top: 0;
    right: 0;
}

.mdm-dialog {
    display: flex !important;
    flex-direction: column;
    min-width: 900px;
    width: auto;

    .mdm-table {
        margin-bottom: 24px;
    }

    @media screen and (max-width: $breakpoint-md) {
        min-width: 600px;
    }

    @media screen and (max-width: $breakpoint-sm) {
        min-width: 400px;
    }

    @media screen and (max-width: $breakpoint-xs) {
        min-width: 300px;
    }
}

// === FORMS ===

.mdm-form {
    padding: 24px 16px;
    background-color: white;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
}

.mdm-form-field {
    .mat-focused:not(.mat-form-field-invalid) {
        .mat-form-field-prefix {
            color: white;
        }
    }

    .mat-form-field-invalid {
        .mat-form-field-prefix {
            color: blue;
        }
    }

    .mat-form-field-wrapper {
        margin: 0 !important;
    }

    &:not(.searchbar) {
        &.mat-form-field:not(.mat-focused) {
            .mat-form-field-outline {
                border-radius: 4px;
                background: white;
            }
        }
    }
    &.searchbar {
        &.mat-form-field:not(.mat-focused) {
            .mat-form-field-outline {
                border-radius: 4px;
                background: #e9e9e9;
            }
        }
    }

    input {
        height: 23px !important;
    }

    .mat-form-field-flex>.mat-form-field-infix {
        border-top: 10px solid transparent;
        padding: 7px 0 7px 0;
    }

    .mat-form-field-label-wrapper {
        top: -10px;
        padding-top: 10px;
    }

    .mat-form-field-label {
        top: 20px !important;
    }

    &.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        transform: translateY(-1em) scale(.75) !important;
    }

    &.mat-form-field-appearance-outline {
        .mat-form-field-suffix {
            right: -0.6em;

            .mat-icon-button {
                line-height: 35px;
                top: -2px;
            }
        }

        .mat-select-arrow-wrapper {
            transform: none !important;
        }
    }

    .mat-form-field-subscript-wrapper {
        position: relative;
    }
}

.mdm-form-group {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;

    @media screen and (max-width: $breakpoint-sm) {
        flex-direction: column;

        .mdm-form-label {
            margin-bottom: 8px;
            margin-top: 7px;
        }
        .mat-checkbox-inner-container-no-side-margin {
            margin-left: 1px !important; 
            margin-bottom: -14px !important;    
        }
    }

    label {
      font-size: inherit;
      padding-bottom: 1.34375em;
    }

    .mdm-form-label {
        font-weight: bold;
        flex: 0.3;
    }
    .mat-checkbox-inner-container-no-side-margin {
        margin-right: -2px;
        margin-bottom: auto;
        padding-bottom: 5px;
        margin-left: 58px;
    }
    .mdm-form-field {
        flex: 1;
        width: 100%;
    }

    &.login-form{
        .mdm-form-field{
            .mat-form-field-wrapper{
                padding-bottom: 0 !important;
            }
        }
    }
    
}
