@import '~@angular/material/theming';
@import "./stylesheets/variables.scss";

@include mat-core();

$mdm-primary-colors: (
    50 : #e0ecf8,
    100 : #b3cfee,
    200 : #80afe2,
    300 : #4d8ed6,
    400 : #2676ce,
    500 : #005ec5,
    600 : #0056bf,
    700 : #004cb8,
    800 : #0042b0,
    900 : #0031a3,
    A100 : #ced9ff,
    A200 : #9bb1ff,
    A400 : #688aff,
    A700 : #4e76ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$mdm-monitool-frontend-primary: mat-palette($mdm-primary-colors);
$mdm-monitool-frontend-accent: mat-palette($mat-pink, A200, A100, A400);
$mdm-monitool-frontend-warn: mat-palette($mat-red);

$mdm-monitool-frontend-theme: mat-light-theme((
  color: (
    primary: $mdm-monitool-frontend-primary,
    accent: $mdm-monitool-frontend-accent,
    warn: $mdm-monitool-frontend-warn,
  )
));

@include angular-material-theme($mdm-monitool-frontend-theme);

$mdm-monitool-frontend-typography: mat-typography-config(
    $font-family: $main-font,
    $body-1: mat-typography-level(16px, 20px, 400),
    $button: mat-typography-level(16px, 16px, 500)
);

@include angular-material-typography($mdm-monitool-frontend-typography);

// Colors
:root {
    // to be deprecated
    --title-color: #645c83;
    --filters-header: #efeff4;

    // ### MAIN PALETTE
    --main-text: #151515;
    --action: #5d9cd1;
    --primary: #33c293;
    --submit: #21ba46;
    --danger: #d43f3a;
    --light: #f8f7f8;
    --default: #e0e1e2;
    --main: #656565;
    --dark: #202123;
    --text: rgba(255, 255, 255, 0.77);
    --small-text: #777777;

    // ### BORDERS
    --light-border: #dfe2e6;
    --main-border: #e1e1e1;

    // ### FOCUS
    --main-focus: #f9fafa;

    // ### LOGIN
    --login-overlay: #3cc194;

    // ### HEADER
    --header-background: #005ec5;
    --header-color: #6e6e6e;
    --header-focus: #1f1f1f;

    // ### PAGE
    --page-background: #f7f7f7;
    --main-background: white;
    --preguntas: #32ce9b;
    --disabled: #e7e7e7;

    // ### DRAWERS
    --drawer-background: white;
    --drawer-focus: var(--main-focus);
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: $main-font;
    font-size: 18px;
    color: var(--main);
}

*, *::before, *::after {
    box-sizing: border-box;
}

// === LAYOUT ===
.full-page {
    padding: 52px 48px;
    @media screen and (max-width: $breakpoint-xs) {
        padding: 32px 16px;
    }
}

// === TEXT ===
.mdm-title {
    font-size: 18px;
    color: #151515;
    line-height: 24px;
}

.mdm-sub-title {
    font-size: 14px;
    color: #777777;
    line-height: 16px;
    padding-left: 8px;
}

// === SECTIONS ===
.info-section {
    background-color: #ececec;
    font-size: 12px;
    padding: 12px 16px;
    color: #777b7e;
    margin-bottom: 12px;

    &.blue {
        background-color: #d9edf7;
        color: #31708f;
    }
}

.mdm-section {
    margin-bottom: 68px;
}

// === MDM CARDS ===
.mdm-cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 24px -12px 0;

    @media screen and (max-width: $breakpoint-xs) {
        margin: 24px 0 0;
    }

    .mdm-card {
        width: calc(25% - 24px);
        margin: 0 12px 24px;

        // @media screen and (max-width: $breakpoint-md) {
        //     width: calc(1 / 4 * 100% - 24px);
        // }

        @media screen and (max-width: $breakpoint-sm) {
            width: calc(50% - 24px);
        }

        @media screen and (max-width: $breakpoint-xs) {
            width: 100%;
            margin: 0 0 16px;
        }
    }
}

// === MATERIAL ===
.mat-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04) !important;
    .mat-card-actions:last-child {
        margin-bottom: 0 !important;
    }
}

.mat-button-toggle-appearance-standard {
    .mat-button-toggle-label-content {
        line-height: 38px;
    }
}

.mat-raised-button {
    line-height: 40px !important;
}

.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button {
    &:last-child {
        margin-left: 0;
    }
}

// === BUTTONS ===
.mdm-button {
    background-color: white;
    border: 1px solid #c8c9cc !important;
    height: 32px;
    padding: 0 12px !important;
    font-size: 14px;

    &.mat-icon-button {
        padding: 0 !important;
        height: 32px;
        width: 32px;
        line-height: 32px;
        border-radius: 4px;
    }

    &:not(:only-child) {
        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right-style: none !important;
        }

        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

// html,
// body {
//     margin: 0;
//     height: 100%;
//     font-family: $main-font;
//     font-size: 18px;
//     color: var(--main);
//     box-sizing: border-box;
// }

// input,
// select,
// textarea,
// button {
//     font-family: inherit;
// }

// button {
//     border: none;
//     border-radius: 3px;
//     padding: 0 20px;
//     height: 40px;
//     font-size: 16px;
//     margin-top: 20px;
//     cursor: pointer;
//     @media screen and (max-width: $break-small) {
//         font-size: 12px;
//     }
// }
// .icon-btn{
//     width: 200px;
//     height: 40px;
//     border-radius: 4px;
//     background-color: #005ec5;
//     text-align: center;
//     color: white;
//     border: none;
//     font-size: 0.8em;
//     margin-top: 15px;
//     cursor: pointer;
//     padding: 0 20px;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
// }
// .btn-group button {
//     border: solid 1px #c8c9cc;
//     background-color: #ffffff;
//     color: #171d29;
//     border-radius: 4px;
//     height: 40px;
//     padding: 10px 24px; 
//     float: left; 
//   }
  
//   .btn-group button:not(:last-child) {
//     border-right: none; /* Prevent double borders */
//   }
  
//   /* Clear floats (clearfix hack) */
//   .btn-group:after {
//     content: "";
//     clear: both;
//     display: table;
//   }
  
//   /* Add a background color on hover */
//   .btn-group button:hover, .btn-group-active {
//     background-color: #ededee !important;
//   }

//   .module{
//     display: flex;
//     justify-items: space-between;
//     app-sidenav{
//         width: 300px;
//         margin-left: -80px;
//         margin-right: 40px;
//     }
//     @media screen and (max-width: $break-point-four-to-three) {
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         app-sidenav{
            
//             width: auto;
//             margin: 0;
            
//         }
//     }
//   }

// .no-padding {
//     padding: 0 !important;
// }

// .border-top {
//     border-top: 1px solid var(--main-border);
// }

// .flex-1-3 {
//     flex: calc(1 / 3) !important;
// }

// .flex-2-3 {
//     flex: calc(2 / 3) !important;
// }

// .right {
//     display: flex !important;
//     justify-content: flex-end !important;
// }

// .link-img {
//     cursor: pointer;
// }

// :focus {
//     outline: 0;
//     box-shadow: none !important;
// }

// // --- Template structure containers ---
// section {
//     position: relative;
// }

// .section-title {
//     color: var(--main-text);
//     font-size: 20px;
//     }

// // fit content page section
// .page-section {
//     width: 100%;
//     margin-top: 40px;
//     margin-bottom: 40px;
// }

// .last-section {
//     margin-bottom: 0 !important;
// }

// .section-separator {
//     border-bottom: 1px grey solid;
// }

// .important-text{
//     color: #5d9cd1;
// }

// /**
//  * Responsivity
//  */
// @media only screen and (max-width: $break-point-three-to-two) {
//     header {
//         height: $header-mobile-height !important;
//     }
// }

// @media only screen and (max-width: $break-point-two-to-one) {
//     .page-section {
//         margin-top: 20px;
//         margin-bottom: 20px;
//     }
// }